{
  "openapi": "3.1.0",
  "info": {
    "title": "مواصفات OpenAPI لـ ClickHouse Cloud",
    "version": "1.0",
    "contact": {
      "name": "ClickHouse Support",
      "url": "https://clickhouse.com/docs/en/cloud/manage/openapi?referrer=openapi-82913",
      "email": "support@clickhouse.com"
    }
  },
  "servers": [
    {
      "url": "https://api.clickhouse.cloud"
    }
  ],
  "paths": {
    "/v1/organizations": {
      "get": {
        "summary": "احصل على قائمة المنظمات المتاحة",
        "description": "إرجاع قائمة تحتوي على منظمة واحدة مرتبطة بمفتاح واجهة برمجة التطبيقات في الطلب.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId": {
      "get": {
        "summary": "احصل على تفاصيل المنظمة",
        "description": "يعيد تفاصيل منظمة واحدة. للحصول على التفاصيل، يجب أن ينتمي مفتاح المصادقة إلى المنظمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Organization"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "تحديث تفاصيل المنظمة",
        "description": "تحديث حقول المؤسسة. يتطلب دور مفتاح مصادقة المسؤول.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المراد تحديثها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Organization"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services": {
      "get": {
        "summary": "قائمة خدمات المنظمة",
        "description": "إرجاع قائمة بجميع الخدمات في المؤسسة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء خدمة جديدة",
        "description": "ينشئ خدمة جديدة في المؤسسة، ويعيد حالة الخدمة الحالية وكلمة المرور للوصول إلى الخدمة. يتم بدء تشغيل الخدمة بشكل غير متزامن.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي ستمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ServicePostResponse"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId": {
      "get": {
        "summary": "احصل على تفاصيل الخدمة",
        "description": "إرجاع الخدمة التي تنتمي إلى المؤسسة",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "تحديث تفاصيل الخدمة الأساسية.",
        "description": "تحديث تفاصيل الخدمة الأساسية مثل اسم الخدمة أو قائمة وصول IP.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة المطلوب تحديثها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "حذف الخدمة.",
        "description": "يحذف الخدمة. يجب أن تكون الخدمة في حالة متوقفة ويتم حذفها بشكل غير متزامن بعد استدعاء هذه الطريقة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة المراد حذفها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId/state": {
      "patch": {
        "summary": "تحديث حالة الخدمة.",
        "description": "بدء أو إيقاف الخدمة",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة لتحديث الحالة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceStatePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId/scaling": {
      "patch": {
        "summary": "تحديث إعدادات التوسع التلقائي للخدمة.",
        "description": "تحديث الحد الأدنى والحد الأقصى لإجمالي حدود الذاكرة وسلوك التوسع في وضع الخمول للخدمة. تتوفر إعدادات الذاكرة فقط لخدمات &quot;الإنتاج&quot; ويجب أن تكون مضاعفات 12 بدءًا من 24 جيجابايت.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة لتحديث معلمات القياس.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceScalingPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId/password": {
      "patch": {
        "summary": "تحديث كلمة مرور الخدمة.",
        "description": "تعيين كلمة مرور جديدة للخدمة",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك الخدمة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة لتحديث كلمة المرور.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePasswordPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ServicePasswordPatchResponse"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId/backups": {
      "get": {
        "summary": "قائمة النسخ الاحتياطية للخدمة",
        "description": "إرجاع قائمة بجميع النسخ الاحتياطية للخدمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك النسخة الاحتياطية.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة التي تم إنشاء النسخة الاحتياطية منها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Backup"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/services/:serviceId/backups/:backupId": {
      "get": {
        "summary": "الحصول على تفاصيل النسخ الاحتياطي",
        "description": "إرجاع معلومات النسخ الاحتياطي الفردية.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك النسخة الاحتياطية.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service ID",
            "description": "معرف الخدمة التي تم إنشاء النسخة الاحتياطية منها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Service backup ID",
            "description": "معرف النسخة الاحتياطية المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Backup"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/keys": {
      "get": {
        "summary": "احصل على قائمة بجميع المفاتيح",
        "description": "إرجاع قائمة بجميع المفاتيح الموجودة في المؤسسة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء مفتاح",
        "description": "إنشاء مفتاح API جديد.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي ستمتلك المفتاح.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ApiKeyPostResponse"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/keys/:keyId": {
      "get": {
        "summary": "احصل على التفاصيل الرئيسية",
        "description": "إرجاع تفاصيل مفتاح واحد.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "API key ID",
            "description": "معرف المفتاح المطلوب.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "مفتاح التحديث",
        "description": "تحديث خصائص مفتاح API.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك المفتاح.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "API key ID",
            "description": "معرف المفتاح المراد تحديثه.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ApiKey"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "حذف المفتاح",
        "description": "يحذف مفتاح API. لا يمكن حذف سوى المفتاح غير المستخدم لمصادقة الطلب النشط.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي تمتلك المفتاح.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "API key ID",
            "description": "معرف المفتاح الذي سيتم حذفه.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/organizations/:organizationId/members": {
      "get": {
        "summary": "قائمة أعضاء المنظمة",
        "description": "إرجاع قائمة بجميع الأعضاء في المؤسسة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/members/:userId": {
      "get": {
        "summary": "احصل على تفاصيل العضوية",
        "description": "إرجاع تفاصيل عضو منظمة واحدة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي ينتمي إليها العضو.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "User ID",
            "description": "معرف المستخدم المطلوب.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Member"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "تحديث عضو المنظمة.",
        "description": "تحديث دور عضو المنظمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي ينتمي إليها العضو.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "User ID",
            "description": "معرف المستخدم المراد تصحيحه",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Member"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "إزالة عضو المنظمة",
        "description": "إزالة مستخدم من المؤسسة",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "User ID",
            "description": "معرف المستخدم المطلوب.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/organizations/:organizationId/invitations": {
      "get": {
        "summary": "قائمة جميع الدعوات",
        "description": "إرجاع قائمة بجميع دعوات المنظمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invitation"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء دعوة",
        "description": "إنشاء دعوة للمنظمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي سيتم دعوة المستخدم إليها.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Invitation"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/invitations/:invitationId": {
      "get": {
        "summary": "احصل على تفاصيل الدعوة",
        "description": "إرجاع تفاصيل دعوة منظمة واحدة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Organization invitation ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Invitation"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "حذف دعوة المنظمة",
        "description": "حذف دعوة منظمة واحدة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة التي لديها الدعوة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Organization invitation ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/organizations/:organizationId/activities": {
      "get": {
        "summary": "قائمة أنشطة المنظمة",
        "description": "إرجاع قائمة بجميع أنشطة المنظمة.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/:organizationId/activities/:activityId": {
      "get": {
        "summary": "نشاط المنظمة",
        "description": "إرجاع نشاط منظمة واحدة حسب المعرف.",
        "parameters": [
          {
            "in": "path",
            "name": "Organization ID",
            "description": "معرف المنظمة المطلوبة.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "Activity ID",
            "description": "معرف النشاط المطلوب.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "استجابة ناجحة",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/Activity"
                    },
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "معرف فريد يتم تعيينه لكل طلب. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "لا يمكن للخادم معالجة الطلب أو لن يقوم بذلك بسبب شيء يُنظر إليه على أنه خطأ من جانب العميل.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "رمز حالة HTTP.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "وصف مفصل للخطأ."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceEndpoint": {
        "properties": {
          "protocol": {
            "type": "string",
            "description": "بروتوكول نقطة النهاية: &#39;https&#39;، &#39;nativesecure&#39;، &#39;mysql&#39;.",
            "enum": [
              "https",
              "nativesecure",
              "mysql"
            ]
          },
          "host": {
            "type": "string",
            "description": "اسم مضيف الخدمة"
          },
          "port": {
            "type": "number",
            "description": "منفذ رقمي"
          }
        }
      },
      "IpAccessListEntry": {
        "properties": {
          "source": {
            "type": "string",
            "description": "IP أو CIDR"
          },
          "description": {
            "type": "string",
            "description": "عنوان IPv4 أو IPv4 CIDR للسماح بالوصول من"
          }
        }
      },
      "Service": {
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف الخدمة الفريد.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "اسم الخدمة."
          },
          "provider": {
            "type": "string",
            "description": "مزود الخدمة السحابية",
            "enum": [
              "aws",
              "gcp"
            ]
          },
          "region": {
            "type": "string",
            "description": "منطقة الخدمة.",
            "enum": [
              "ap-south-1",
              "ap-southeast-1",
              "eu-central-1",
              "eu-west-1",
              "us-east-1",
              "us-east-2",
              "us-west-2",
              "ap-southeast-2",
              "us-east1",
              "us-central1",
              "europe-west4",
              "asia-southeast1"
            ]
          },
          "state": {
            "type": "string",
            "description": "الحالة الحالية للخدمة.",
            "enum": [
              "starting",
              "stopping",
              "terminating",
              "provisioning",
              "running",
              "stopped",
              "terminated",
              "degraded",
              "failed",
              "idle"
            ]
          },
          "endpoints": {
            "type": "array",
            "description": "قائمة بجميع نقاط نهاية الخدمة.",
            "items": {
              "$ref": "#/components/schemas/ServiceEndpoint"
            }
          },
          "tier": {
            "type": "string",
            "description": "مستوى الخدمة: &quot;التطوير&quot;، &quot;الإنتاج&quot;، &quot;الذاكرة المخصصة عالية الأداء&quot;، &quot;وحدة المعالجة المركزية المخصصة عالية الأداء&quot;، &quot;المعيار المخصص&quot;. حجم خدمات الإنتاج والتطوير ثابت.",
            "enum": [
              "development",
              "production",
              "dedicated_high_mem",
              "dedicated_high_cpu",
              "dedicated_standard"
            ]
          },
          "minTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأدنى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأكبر من 24.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 48
          },
          "maxTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأقصى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأقل من 360 للخدمات غير المدفوعة أو 720 للخدمات المدفوعة.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 360
          },
          "idleScaling": {
            "type": "boolean",
            "description": "عند ضبطه على true، يُسمح للخدمة بالتقليص إلى الصفر عند الخمول. هذا صحيح دائمًا لخدمات التطوير."
          },
          "idleTimeoutMinutes": {
            "type": "number",
            "description": "اضبط الحد الأدنى لوقت الخمول (بالدقائق). يجب أن يكون &gt;= 5 دقائق."
          },
          "ipAccessList": {
            "type": "array",
            "description": "قائمة عناوين IP المسموح لها بالوصول إلى الخدمة",
            "items": {
              "$ref": "#/components/schemas/IpAccessListEntry"
            }
          },
          "createdAt": {
            "type": "string",
            "description": "طابع زمني لإنشاء الخدمة. ISO-8601.",
            "format": "date-time"
          }
        }
      },
      "IpAccessListPatch": {
        "properties": {
          "add": {
            "type": "array",
            "description": "العناصر المراد إضافتها. يتم تنفيذها بعد معالجة جزء &quot;الإزالة&quot;.",
            "items": {
              "$ref": "#/components/schemas/IpAccessListEntry"
            }
          },
          "remove": {
            "type": "array",
            "description": "العناصر المراد إزالتها. يتم تنفيذها قبل معالجة جزء &quot;الإضافة&quot;.",
            "items": {
              "$ref": "#/components/schemas/IpAccessListEntry"
            }
          }
        }
      },
      "Activity": {
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف النشاط الفريد."
          },
          "createdAt": {
            "type": "string",
            "description": "الطابع الزمني للنشاط. ISO-8601.",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "description": "نوع النشاط.",
            "enum": [
              "organization_update_name",
              "organization_invite_create",
              "organization_invite_delete",
              "organization_member_join",
              "organization_member_add",
              "organization_member_leave",
              "organization_member_delete",
              "organization_member_update_role",
              "key_create",
              "key_delete",
              "service_create",
              "service_start",
              "service_stop",
              "service_delete",
              "service_update_name",
              "service_update_ip_access_list",
              "service_update_autoscaling_memory",
              "service_update_autoscaling_idling",
              "service_update_password",
              "backup_delete"
            ]
          },
          "actorType": {
            "type": "string",
            "description": "نوع الممثل: &#39;مستخدم&#39;، &#39;دعم&#39;، &#39;نظام&#39;، &#39;واجهة برمجة التطبيقات&#39;.",
            "enum": [
              "user",
              "support",
              "system",
              "api"
            ]
          },
          "actorId": {
            "type": "string",
            "description": "معرف الممثل الفريد."
          },
          "actorDetails": {
            "type": "string",
            "description": "معلومات اضافية عن الممثل."
          },
          "actorIpAddress": {
            "type": "string",
            "description": "عنوان IP للممثل. محدد لأنواع الممثلين &quot;المستخدم&quot; و&quot;واجهة برمجة التطبيقات&quot;."
          },
          "organizationId": {
            "type": "string",
            "description": "نطاق النشاط: معرف المنظمة التي يرتبط بها هذا النشاط."
          },
          "serviceId": {
            "type": "string",
            "description": "نطاق النشاط: معرف الخدمة الذي يرتبط به هذا النشاط."
          }
        }
      },
      "Backup": {
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف النسخ الاحتياطي الفريد.",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "description": "حالة النسخ الاحتياطي: &#39;تم&#39;، &#39;خطأ&#39;، &#39;قيد التنفيذ&#39;.",
            "enum": [
              "done",
              "error",
              "in_progress"
            ]
          },
          "serviceId": {
            "type": "string",
            "description": "اسم"
          },
          "startedAt": {
            "type": "string",
            "description": "طابع زمني لبدء النسخ الاحتياطي. ISO-8601.",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "description": "ختم زمني لانتهاء النسخ الاحتياطي. ISO-8601. متاح فقط للنسخ الاحتياطية المنتهية",
            "format": "date-time"
          }
        }
      },
      "Organization": {
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف المنظمة الفريد.",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "description": "الطابع الزمني الذي تم فيه إنشاء المنظمة. ISO-8601.",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "اسم المنظمة."
          }
        }
      },
      "Member": {
        "properties": {
          "userId": {
            "type": "string",
            "description": "معرف مستخدم فريد. إذا كان المستخدم عضوًا في مؤسسات متعددة، فسيظل هذا المعرف كما هو."
          },
          "name": {
            "type": "string",
            "description": "اسم العضو كما تم تعيينه في ملف تعريف المستخدم الشخصي."
          },
          "email": {
            "type": "string",
            "description": "البريد الإلكتروني للعضو كما هو محدد في الملف الشخصي للمستخدم.",
            "format": "email"
          },
          "role": {
            "type": "string",
            "description": "دور العضو في المنظمة.",
            "enum": [
              "admin",
              "developer"
            ]
          },
          "joinedAt": {
            "type": "string",
            "description": "علامة زمنية لانضمام العضو إلى المنظمة. ISO-8601.",
            "format": "date-time"
          }
        }
      },
      "Invitation": {
        "properties": {
          "role": {
            "type": "string",
            "description": "دور العضو في المنظمة.",
            "enum": [
              "admin",
              "developer"
            ]
          },
          "id": {
            "type": "string",
            "description": "معرف دعوة فريد.",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "البريد الإلكتروني للمستخدم المدعو. لا يمكن إلا للمستخدم الذي لديه هذا البريد الإلكتروني الانضمام باستخدام الدعوة. يتم تخزين البريد الإلكتروني بأحرف صغيرة.",
            "format": "email"
          },
          "createdAt": {
            "type": "string",
            "description": "طابع زمني لإنشاء الدعوة. ISO-8601.",
            "format": "date-time"
          },
          "expireAt": {
            "type": "string",
            "description": "علامة زمنية تشير إلى انتهاء صلاحية الدعوة. ISO-8601.",
            "format": "date-time"
          }
        }
      },
      "ApiKey": {
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف مفتاح API الفريد.",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "اسم المفتاح"
          },
          "state": {
            "type": "string",
            "description": "حالة المفتاح: &#39;ممكّن&#39;، &#39;معطل&#39;.",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "roles": {
            "type": "array",
            "description": "قائمة الأدوار المخصصة للمفتاح. تحتوي على عنصر واحد على الأقل.",
            "items": {
              "type": "string",
              "enum": [
                "admin",
                "developer"
              ]
            }
          },
          "keySuffix": {
            "type": "string",
            "description": "آخر 4 أحرف من المفتاح."
          },
          "createdAt": {
            "type": "string",
            "description": "علامة زمنية تشير إلى إنشاء المفتاح. ISO-8601.",
            "format": "date-time"
          },
          "expireAt": {
            "type": "string",
            "description": "علامة زمنية تشير إلى انتهاء صلاحية المفتاح. إذا لم يكن المفتاح موجودًا أو كان فارغًا، فلن تنتهي صلاحيته أبدًا. ISO-8601.",
            "format": "date-time"
          },
          "usedAt": {
            "type": "string",
            "description": "قم بتحديد تاريخ آخر استخدام للمفتاح. إذا لم يكن موجودًا، فهذا يعني أنه لم يتم استخدام المفتاح مطلقًا. ISO-8601.",
            "format": "date-time"
          }
        }
      },
      "ApiKeyHashData": {
        "properties": {
          "keyIdHash": {
            "type": "string",
            "description": "تجزئة معرف المفتاح."
          },
          "keyIdSuffix": {
            "type": "string",
            "description": "آخر 4 أرقام من معرف المفتاح. الخوارزمية: echo -n &quot;yourpassword&quot; | sha256sum | tr -d &#39;-&#39; | xxd -r -p | base64"
          },
          "keySecretHash": {
            "type": "string",
            "description": "تجزئة المفتاح السري. الخوارزمية: echo -n &quot;yourpassword&quot; | sha256sum | tr -d &#39;-&#39; | xxd -r -p | base64"
          }
        }
      },
      "OrganizationPatchRequest": {
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم المنظمة."
          }
        }
      },
      "ServicePostRequest": {
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم الخدمة."
          },
          "provider": {
            "type": "string",
            "description": "مزود الخدمة السحابية",
            "enum": [
              "aws",
              "gcp"
            ]
          },
          "region": {
            "type": "string",
            "description": "منطقة الخدمة.",
            "enum": [
              "ap-south-1",
              "ap-southeast-1",
              "eu-central-1",
              "eu-west-1",
              "us-east-1",
              "us-east-2",
              "us-west-2",
              "ap-southeast-2",
              "us-east1",
              "us-central1",
              "europe-west4",
              "asia-southeast1"
            ]
          },
          "tier": {
            "type": "string",
            "description": "مستوى الخدمة: &quot;التطوير&quot;، &quot;الإنتاج&quot;، &quot;الذاكرة المخصصة عالية الأداء&quot;، &quot;وحدة المعالجة المركزية المخصصة عالية الأداء&quot;، &quot;المعيار المخصص&quot;. حجم خدمات الإنتاج والتطوير ثابت.",
            "enum": [
              "development",
              "production",
              "dedicated_high_mem",
              "dedicated_high_cpu",
              "dedicated_standard"
            ]
          },
          "ipAccessList": {
            "type": "array",
            "description": "قائمة عناوين IP المسموح لها بالوصول إلى الخدمة",
            "items": {
              "$ref": "#/components/schemas/IpAccessListEntry"
            }
          },
          "minTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأدنى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأكبر من 24.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 48
          },
          "maxTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأقصى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأقل من 360 للخدمات غير المدفوعة أو 720 للخدمات المدفوعة.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 360
          },
          "idleScaling": {
            "type": "boolean",
            "description": "عند ضبطه على true، يُسمح للخدمة بالتقليص إلى الصفر عند الخمول. هذا صحيح دائمًا لخدمات التطوير."
          },
          "idleTimeoutMinutes": {
            "type": "number",
            "description": "اضبط الحد الأدنى لوقت الخمول (بالدقائق). يجب أن يكون &gt;= 5 دقائق."
          },
          "backupId": {
            "type": "string",
            "description": "معرف النسخ الاحتياطي الاختياري المستخدم كحالة أولية للخدمة الجديدة. عند الاستخدام، يجب أن تكون المنطقة والطبقة الخاصة بالمثيل الجديد متطابقتين مع قيم المثيل الأصلي.",
            "format": "uuid"
          }
        }
      },
      "ServicePostResponse": {
        "properties": {
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "password": {
            "type": "string",
            "description": "كلمة المرور للخدمة التي تم إنشاؤها حديثًا."
          }
        }
      },
      "ServicePatchRequest": {
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم الخدمة."
          },
          "ipAccessList": {
            "$ref": "#/components/schemas/IpAccessListPatch"
          }
        }
      },
      "ServiceStatePatchRequest": {
        "properties": {
          "command": {
            "type": "string",
            "description": "أمر لتغيير الحالة: &#39;بدء&#39;، &#39;إيقاف&#39;.",
            "enum": [
              "start",
              "stop"
            ]
          }
        }
      },
      "ServiceScalingPatchRequest": {
        "properties": {
          "minTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأدنى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأكبر من 24.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 48
          },
          "maxTotalMemoryGb": {
            "type": "number",
            "description": "الحد الأقصى لإجمالي الذاكرة لجميع العاملين أثناء التوسع التلقائي بالجيجابايت. متاح فقط لخدمات &quot;الإنتاج&quot;. يجب أن يكون مضاعفًا لـ 12 وأقل من 360 للخدمات غير المدفوعة أو 720 للخدمات المدفوعة.",
            "minimum": 24,
            "maximum": 720,
            "multipleOf": 12,
            "example": 360
          },
          "idleScaling": {
            "type": "boolean",
            "description": "عند ضبطه على true، يُسمح للخدمة بالتقليص إلى الصفر عند الخمول. هذا صحيح دائمًا لخدمات التطوير."
          },
          "idleTimeoutMinutes": {
            "type": "number",
            "description": "اضبط الحد الأدنى لوقت الخمول (بالدقائق). يجب أن يكون &gt;= 5 دقائق."
          }
        }
      },
      "ServicePasswordPatchRequest": {
        "properties": {
          "newPasswordHash": {
            "type": "string",
            "description": "تجزئة كلمة المرور الاختيارية. تستخدم لتجنب نقل كلمة المرور عبر الشبكة. إذا لم يتم توفيرها، يتم إنشاء كلمة مرور جديدة وتقديمها في الاستجابة. وإلا، يتم استخدام هذه التجزئة. الخوارزمية: echo -n &quot;yourpassword&quot; | sha256sum | tr -d &#39;-&#39; | xxd -r -p | base64"
          },
          "newDoubleSha1Hash": {
            "type": "string",
            "description": "تجزئة كلمة مرور SHA1 مزدوجة اختيارية لبروتوكول MySQL. إذا لم يتم توفير newPasswordHash، فسيتم تجاهل هذا المفتاح وسيتم استخدام كلمة المرور الناتجة. لتمكين هذا الحقل، يرجى الاتصال بالدعم لأنه تجريبي. الخوارزمية: echo -n &quot;yourpassword&quot; | sha1sum | tr -d &#39;-&#39; | xxd -r -p | sha1sum | tr -d &#39;-&#39;"
          }
        }
      },
      "ServicePasswordPatchResponse": {
        "properties": {
          "password": {
            "type": "string",
            "description": "كلمة مرور الخدمة الجديدة. يتم توفيرها فقط إذا لم يكن هناك &quot;newPasswordHash&quot; في الطلب"
          }
        }
      },
      "ApiKeyPostRequest": {
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم المفتاح."
          },
          "expireAt": {
            "type": "string",
            "description": "علامة زمنية تشير إلى انتهاء صلاحية المفتاح. إذا لم يكن المفتاح موجودًا أو كان فارغًا، فلن تنتهي صلاحيته أبدًا. ISO-8601.",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "description": "الحالة الأولية للمفتاح: &quot;ممكّن&quot;، &quot;معطل&quot;. إذا لم يتم توفير المفتاح الجديد، فسيكون &quot;ممكّنًا&quot;.",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "hashData": {
            "$ref": "#/components/schemas/ApiKeyHashData"
          },
          "roles": {
            "type": "array",
            "description": "قائمة الأدوار المخصصة للمفتاح. تحتوي على عنصر واحد على الأقل.",
            "items": {
              "type": "string",
              "enum": [
                "admin",
                "developer"
              ]
            }
          }
        }
      },
      "ApiKeyPostResponse": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/ApiKey"
          },
          "keyId": {
            "type": "string",
            "description": "تم إنشاء معرف المفتاح. يتم توفيره فقط إذا لم يكن هناك &quot;hashData&quot; في الطلب."
          },
          "keySecret": {
            "type": "string",
            "description": "تم إنشاء مفتاح سري. يتم توفيره فقط إذا لم يكن هناك &quot;hashData&quot; في الطلب."
          }
        }
      },
      "ApiKeyPatchRequest": {
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم المفتاح"
          },
          "roles": {
            "type": "array",
            "description": "قائمة الأدوار المخصصة للمفتاح. تحتوي على عنصر واحد على الأقل.",
            "items": {
              "type": "string",
              "enum": [
                "admin",
                "developer"
              ]
            }
          },
          "expireAt": {
            "type": "string",
            "description": "علامة زمنية تشير إلى انتهاء صلاحية المفتاح. إذا لم يكن المفتاح موجودًا أو كان فارغًا، فلن تنتهي صلاحيته أبدًا. ISO-8601.",
            "format": "date-time"
          },
          "state": {
            "type": "string",
            "description": "حالة المفتاح: &#39;ممكّن&#39;، &#39;معطل&#39;.",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        }
      },
      "MemberPatchRequest": {
        "properties": {
          "role": {
            "type": "string",
            "description": "دور العضو في المنظمة.",
            "enum": [
              "admin",
              "developer"
            ]
          }
        }
      },
      "InvitationPostRequest": {
        "properties": {
          "email": {
            "type": "string",
            "description": "البريد الإلكتروني للمستخدم المدعو. لا يمكن إلا للمستخدم الذي لديه هذا البريد الإلكتروني الانضمام باستخدام الدعوة. يتم تخزين البريد الإلكتروني بأحرف صغيرة.",
            "format": "email"
          },
          "role": {
            "type": "string",
            "description": "دور العضو في المنظمة.",
            "enum": [
              "admin",
              "developer"
            ]
          }
        }
      }
    }
  },
  "x-samchon-emended": true
}