{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "プロダクションサーバー"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": "サーバーの開発"
    },
    {
      "url": "http://localhost:3003",
      "description": "ローカルサーバー"
    }
  ],
  "info": {
    "version": "0.1.280",
    "title": "@wrtn/コネクタ",
    "description": "wrtn エコシステム コネクタと SDK",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/_health": {
      "get": {
        "description": "ヘルスチェックポート",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run": {
      "post": {
        "description": "ワークフローを実行する",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRunWorkflowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRunWorkflowOutput"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run/{workflowRunId}": {
      "get": {
        "description": "1つのワークフロー実行のステータスを返す",
        "tags": [],
        "parameters": [
          {
            "name": "workflowRunId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IWorkflowRunStatus"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/runs": {
      "get": {
        "description": "すべてのワークフロー実行情報を返す",
        "tags": [],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": "ワークフローID",
            "description": "指定しない場合は、すべての実行を返します."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetWorkflowRunsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/extract/keyword": {
      "post": {
        "summary": "キーワード抽出",
        "description": "与えられた入力に関連性の高いキーワードを抽出します。マーケティングコピーを生成するときに使用されるコネクタです。.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "キーワード抽出のための入力",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "抽出されたキーワード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    },
    "/connector/rank/rank": {
      "post": {
        "summary": "条件で並べ替え",
        "description": "指定されたアイテムの配列を最高スコア順に並べ替えます",
        "deprecated": true,
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "並べ替える候補情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRanker.IRankInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ソートされた候補のインデックスの配列",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRanker.IRankOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Sort_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "summary": "マーケティングコピーを生成する",
        "description": "与えられた入力からマーケティングコピーを生成します",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "マーケティングコピーを生成するための入力",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "生成されたマーケティングコピー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "summary": "マーケティングコピー画像を生成する",
        "description": "与えられた入力からマーケティングコピー画像を生成します",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "マーケティングコピー画像を生成するための入力",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "生成されたマーケティングコピー画像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": "ファイルアップロード URL を生成する",
        "description": "ファイルをアップロードするために必要なURLを生成します",
        "tags": [],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": "ファイル拡張子",
            "description": "ファイル拡張子."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/student-report-generator": {
      "post": {
        "summary": "学生生活の記録を作成する",
        "description": "入力した情報をもとに学生生活記録を作成します",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "学生生活記録作成のための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成された学生生活記録",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "summary": "学生生活の記録を作成する",
        "description": "入力した情報をもとに学生生活記録を作成します",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "学生生活記録作成のための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成された学生生活記録",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": "RAG分析をリクエストする",
        "description": "入力ファイルのRAG分析をリクエストするこのコネクタは、複数の研究論文を比較するチャットボットを作成するときに使用できます。.",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": "分析対象となるファイルに関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IAnalyzeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/{jobId}/status": {
      "get": {
        "summary": "RAG分析ステータスを確認する",
        "description": "分析の進行状況を確認する",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IStatusOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": "RAGベースの結果を生成する",
        "description": "RAG分析に基づいて要求された結果を生成します。複数の研究論文を比較するチャットボットを通じてユーザーの質問に対する回答を生成するために使用できるコネクタです。.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "summary": "Hwpファイルを解析する",
        "description": "hwpファイルを解析する",
        "tags": [
          "Hwp"
        ],
        "parameters": [],
        "requestBody": {
          "description": "解析するhwpファイル",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "解析されたhwpファイルのテキストデータ.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/HWP_full.svg"
      }
    },
    "/connector/excel/read/headers": {
      "post": {
        "summary": "Excelファイルのヘッダーを取得する",
        "description": "入力ファイル情報に基づいて、対応するExcelファイルのヘッダーが取得されます。",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "summary": "Excelファイルの内容を取得する",
        "description": "入力ファイル情報に基づいて対応するExcelファイルの内容を取得します",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "内容を取得するためのExcelファイルに関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "summary": "Excelワークシートのリストを取得する",
        "description": "入力ファイル URL に存在する Excel ワークシートのリストを取得します。",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "ワークシートのリストを取得する Excel ファイルの URL",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Excelワークシートのリスト.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows/upload": {
      "post": {
        "summary": "Excel を作成し、Excel ファイルをアップロードしてデータを追加します",
        "description": "Excelファイルをアップロードしてファイルにデータを追加します。Excelにデータを追加する場合、まだ存在しないシートであればシート作成が先行します。そのため、この機能はシート作成にも使用できます。シートのみを作成し、データのない空のファイルを作成する場合は、データのないシートの名前を指定するだけです。既存のシートに行を追加する場合は、下の行に追加されることになっているため、追加する前にデータを確認することをお勧めします。fileUrlを提供する場合は、作業後に変更できます。変更後、ファイルは新しいリンクとして発行されます。ユーザーがドラッグアンドドロップでファイルをアップロードできるようにするコネクタです。.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Excel ファイルに新しいデータを追加するための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowByUploadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "summary": "엑셀 일 링크를 가지고 액셀 생성 및 데이터 추가",
        "description": "ExcelファイルリンクでExcelファイルにデータを追加する Excelにデータを追加する場合、まだ存在しないシートであればシート作成が先行します。そのため、この機能はシート作成にも利用できます。シートのみ作成し、データのない空のファイルを作成したい場合は、データのないシート名を指定するだけで済みます。既存のシートに行を追加する場合は、下の行に追加されることになっているので、追加する前にデータを確認することをお勧めします。fileUrlを指定した場合は、作業後に修正することができます。修正後は、ファイルが新しいリンクとして発行されます。前回の発話でファイルへのリンクがわかっている場合、またはユーザーからの発話でファイルリンクを受け取った場合に、アップロードせずにファイルを更新できるコネクタ。Excelファイルが生成された直後にExcelファイルへのリンクが生成されるため、このコネクタを呼び出す方が、アップロードによるデータ追加よりもユーザーエクスペリエンスの面で有利です。.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "엑셀 일에 새로운 데이터를 추가 하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel": {
      "post": {
        "summary": "Excelファイルとシートを追加する",
        "description": "Excelファイルとシートを追加 Excelファイルを作成し、リンクを取得します。このリンクを次のコネクタに転送して、さらに変更を反映することもできます。この機能を使用してシートを作成すると、シート名が「Sheet1」の場合は、デフォルト名「Sheet1」が作成されます。提供されていない.",
        "deprecated": true,
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.ICreateSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "summary": "Google ドキュメントを生成する",
        "description": "Google ドキュメントを生成する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "生成するGoogleドキュメントのタイトル",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "生成された Google ドキュメントの一意の ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "summary": "Google ドキュメントに権限を付与する",
        "description": "Google ドキュメントに権限を付与する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Google ドキュメントへの権限付与に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "summary": "Google ドキュメントを読む",
        "description": "Google ドキュメントの内容を読む",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": "Google ドキュメントの固有 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google ドキュメントのコンテンツ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "summary": "Googleドキュメントをコピー",
        "description": "既存のGoogleドキュメントをコピーして新しいGoogleドキュメントを作成する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": "コピーする Google ドキュメントへのリンクと作成する Google ドキュメントのタイトル",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "生成された Google ドキュメントの一意の ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "summary": "Googleドキュメントを削除する",
        "description": "Googleドキュメントを削除する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": "削除する Google ドキュメントの一意の ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "summary": "Googleドキュメントのリストを取得する",
        "description": "Googleドキュメントのリストを取得する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Googleドキュメントのリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "summary": "Google ドキュメントにテキストを追加する",
        "description": "Google ドキュメントにテキストを追加する",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "Google アクセス トークンの再発行をリクエストする",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/connector/google-sheet": {
      "post": {
        "summary": "Google スプレッドシートのヘッダー情報を取得する",
        "description": "Google スプレッドシートのヘッダー情報を取得する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "GoogleスプレッドシートのURLと取得するヘッダーインデックス",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google シートのヘッダー情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/append": {
      "post": {
        "summary": "Google スプレッドシートにコンテンツを追加する",
        "description": "Google スプレッドシートにコンテンツを追加する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "コンテンツを追加するための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IAppendToSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg"
      }
    },
    "/connector/google-sheet/create": {
      "post": {
        "summary": "Google スプレッドシートを作成する",
        "description": "Googleスプレッドシートを作成する作成されたシートはGoogleドライブのルートパスに作成されます.",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "作成するシートのタイトル",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたシートIDとURL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": "Google スプレッドシートに権限を付与する",
        "description": "Google スプレッドシートに権限を付与する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "権限付与に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "Google スプレッドシートのヘッダーを追加する",
        "description": "Google スプレッドシートにヘッダーを追加する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "追加するGoogleスプレッドシートのURLとヘッダー名",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "summary": "Google スプレッドシートのワークシートのリストを取得する",
        "description": "Google ワークシートのリストを取得する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": "ワークシートのリストを取得するための Google スプレッドシートの URL",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "summary": "Google スプレッドシートから行情報を取得する",
        "description": "Google スプレッドシートから行情報を取得する",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google スプレッドシートの行情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "summary": "Googleカレンダーのリストを取得する",
        "description": "Googleカレンダーのリストを取得する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Googleカレンダーのリスト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": "Googleカレンダーを作成する",
        "description": "Googleカレンダーを作成する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "description": "作成するカレンダーのタイトル",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "カレンダーの一意のIDとカレンダーのタイトル",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": "Googleカレンダーを削除する",
        "description": "カレンダーを削除する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "削除するカレンダーの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "summary": "Googleカレンダーのイベントリストを取得する",
        "description": "Googleカレンダーのイベントリストを取得する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントのリストを取得するためのカレンダーの一意のID"
          }
        ],
        "requestBody": {
          "description": "イベントリストを取得するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Googleカレンダーのイベントリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": "Googleカレンダーに簡単なイベントを追加する",
        "description": "Googleカレンダーに簡単なイベントを追加する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントを追加するカレンダーの一意の ID"
          }
        ],
        "requestBody": {
          "description": "イベントを追加するカレンダーの一意のIDとイベント名",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": "Googleカレンダーのイベントを追加する",
        "description": "Googleカレンダーにイベントを追加する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントを追加するカレンダーの一意の ID"
          }
        ],
        "requestBody": {
          "description": "イベント追加に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "追加されたイベントに関する情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": "Google カレンダーのイベントを変更する",
        "description": "イベントを変更する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントを含むカレンダーの一意の ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": "変更するイベントの一意のID"
          }
        ],
        "requestBody": {
          "description": "更新するイベント情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新されたイベント情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      },
      "delete": {
        "summary": "Googleカレンダーのイベントを削除する",
        "description": "イベントを削除する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントを含むカレンダーの一意のID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": "削除するイベントの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": "Googleカレンダーのイベントに参加者を追加する",
        "description": "イベントに参加者を追加する",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "イベントがあるカレンダーの一意のID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": "参加者を追加するイベントの一意のID"
          }
        ],
        "requestBody": {
          "description": "追加する出席者のメールアドレスのリスト",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "参加者が追加されたイベント情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "summary": "Googleドライブのフォルダのリストを取得する",
        "description": "Google ドライブ内のフォルダのリストを取得する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google ドライブのフォルダのリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "summary": "Google ドライブのファイルリストを取得する",
        "description": "Google ドライブ内のファイルのリストを取得する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Google ドライブのファイル一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": "Googleドライブフォルダを作成する",
        "description": "Googleドライブに新しいフォルダを作成する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "作成するフォルダの名前",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたフォルダの一意のID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": "Googleドライブファイルを作成する",
        "description": "Google ドライブに新しいファイルを作成する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "作成するファイルの名前と、ファイルが作成されるフォルダの一意のID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IUploadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたファイルの一意のID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": "Google ドライブのファイルを削除する",
        "description": "Google ドライブ内のファイルを削除する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": "削除するファイルの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "summary": "Google ドライブ フォルダを削除する",
        "description": "Google ドライブのフォルダを削除する",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": "削除するフォルダの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "summary": "Googleドライブの権限を付与する",
        "description": "ファイルまたはフォルダにアクセスする権限を付与します",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": "許可を与えるための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "summary": "Google ドライブ ファイルからテキストを読み取る",
        "description": "ファイルからテキストを読み込む",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": "ファイルの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ファイルのテキスト内容",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IGetFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "summary": "条件を選択",
        "description": "与えられた候補の中から条件を満たす候補を選択する",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": "候補者選択のための入力",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "選択された候補インデックスの配列",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/LLM_full.svg"
      }
    },
    "/connector/gmail/send": {
      "post": {
        "summary": "GMAIL送信",
        "description": "メールの送信 GmailはGoogleが提供する無料のWebベースのメールサービスです。このコネクタはメールを送信するためのもので、単純なテキストで送信すると文章が1行の長い行として表示されるため、改行文字を挿入する必要があります。現在の形式では、content-typeとして`text/html; charset=utf-8`を使用します。場合によってはHTML形式を使用できます。ファイルを添付する場合は、ファイル名と保存先のアドレスを指定する必要があります。保存されたファイルは関数内でGETリクエストとして読み込まれ、エンコードされ、処理されます。.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メールを送信するために必要な情報.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "送信されたメールのID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": "GMAIL 下書きを作成",
        "description": "メールの下書きを作成する Gmail は Google が提供する無料の Web ベースのメール サービスです。このコネクタはメールを送信するためのもので、単純なテキストで送信すると文章が 1 行の長い行として表示されるため、改行文字を挿入する必要があります。現在の形式では、content-type として `text/html; charset=utf-8` を使用します。場合によっては、html 形式を使用できます。ファイルを添付する場合は、ファイル名と保存先のアドレスを指定する必要があります。保存されたファイルは関数内で GET リクエストとして読み込まれ、エンコードされて処理されます。.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メール下書きを作成するための情報.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": "GMAIL返信",
        "description": "受信したメールに返信する GmailはGoogleが提供する無料のウェブベースのメールサービスです。このコネクタはメールを送信するためのもので、単純なテキストで送信すると文章が1行の長い行として表示されるため、改行文字を挿入する必要があります。現在の形式では、コンテンツタイプとして`text/html; charset=utf-8`が使用されています。場合によってはHTML形式を使用することもできます。.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "メール返信に必要な情報.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "summary": "GMAIL情報を取得する",
        "description": "メールに関する情報を取得するGmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "メールの一意のID",
            "description": "メールの一意のID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "メールに関する情報.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "summary": "GMAILリストを取得",
        "description": "メーリングリストを取得するGmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メーリングリストを取得するための情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "メーリングリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}/hardDelete": {
      "delete": {
        "summary": "メールを削除",
        "description": "メールを削除するGmailはGoogleが提供する無料のウェブベースのメールサービスです。この機能はメールをゴミ箱に移動するのではなく、完全に削除するため、特別な注意が必要です。ほとんどのユーザーは、すでにゴミ箱にあるメールを削除したいでしょう。したがって、ユーザーが削除したい場合は、メールをゴミ箱に移動するように誘導するのが良いですが、それでも削除したい場合は、ゴミ箱をターゲットにするのが正しいです。.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": "GMAILを削除する",
        "description": "メールをゴミ箱に移動 GmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": "削除するメールの一意のID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "summary": "GMAILラベルを作成する",
        "description": "ラベルを作成する GmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "ラベル作成に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたラベルの一意のID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "summary": "GMAIL ラベルの割り当て",
        "description": "メールにラベルを割り当てるGmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": "ラベルを割り当てるメールの一意のID"
          }
        ],
        "requestBody": {
          "description": "割り当てるラベルの一意のIDのリスト",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      },
      "delete": {
        "summary": "GMAILラベルを削除する",
        "description": "メールに割り当てられたラベルを削除するGmailはGoogleが提供する無料のウェブベースのメールサービスです.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": "ラベルを削除するメールの一意のID",
            "description": "ラベルを削除するメールの一意のID."
          }
        ],
        "requestBody": {
          "description": "削除するラベルの一意のIDのリスト.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/tool/{id}/generate": {
      "post": {
        "summary": "ツールを使用する",
        "description": "ツールの使用 このコネクタは特別な目的のコネクタであり、一般的な状況では使用されません。 このコネクタは、Studio 1.0 から移行されたツールを使用する場合にのみ使用されます。 このコネクタは、一般的なワークフローを作成するときには使用されません。.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITool.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITool.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "htthttps://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Tool_full.svg"
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "summary": "簡単な難易度のチャットボットを使用する",
        "description": "簡単な難易度で構築されたチャットボットを使用します。このコネクタは特別な目的のコネクタであり、一般的な状況では使用されません。このコネクタは、Studio 1.0から移行されたチャットボットを使用する場合にのみ使用されます。このコネクタは、一般的なワークフローからチャットボットを作成するときには使用されません。.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "簡単難易度で構築されたチャットボットの使用に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "チャットボットの応答",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://gh-devs-be.s3.ap-northeast-2.amazonaws.com/icon/full/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "summary": "難易度「ハード」のチャットボットを使用する",
        "description": "難易度「ハード」で構築されたチャットボットを使用します。このコネクタは特別な目的のコネクタであり、一般的な状況では使用されません。このコネクタは、Studio 1.0 から移行されたチャットボットを使用する場合にのみ使用されます。このコネクタは、一般的なワークフローからチャットボットを作成する場合には使用されません。.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "難易度「ハード」で構築されたチャットボットの使用に関する情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "チャットボットの応答",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/figma/get-files": {
      "post": {
        "summary": "Figmaファイルをインポートする",
        "description": "Figmaファイルをインポートする",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "ファイルをインポートするための条件値",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Figma ファイルのリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IReadFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/comments": {
      "post": {
        "summary": "キャンバス内にコメントを書く",
        "description": "コメントを書く",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "コメントを書くための条件値",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IAddCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "書き込んだコメントに関する情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-comments": {
      "post": {
        "summary": "Figmaのコメントを取得する",
        "description": "Figmaのコメントを取得する",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "コメントを取得するための条件値",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Figmaコメント一覧",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/projects/{id}/get-canvas": {
      "post": {
        "summary": "チーム内のキャンバスを検索する",
        "description": "特定のプロジェクトのすべてのキャンバスを取得します。キャンバスは特定のチームによって管理されるFigmaファイルです。このコネクタを使用すると、ユーザーはFigmaチーム内で管理されているキャンバスとそのキャンバス名とサムネイルリンクを確認できます。.",
        "tags": [
          "Figma"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/figma/get-projects",
                "jmesPath": "proejcts[].{value:id, label:name}"
              }
            },
            "required": true,
            "description": "検索するプロジェクトのID"
          }
        ],
        "requestBody": {
          "description": "プロジェクトの検索条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.Secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "プロジェクト内のすべてのファイル",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProjectFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-statistics": {
      "post": {
        "summary": "チームレベルのFigma統計を取得する",
        "description": "チームレベルの統計情報を取得する",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "チームレベルの統計を取得するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectStatisticsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "チームレベルの統計情報取得の結果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IFigma.IGetStatisticsOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-projects": {
      "post": {
        "summary": "チーム内のプロジェクトを検索する",
        "description": "チーム内のプロジェクトを検索する 引数として、チームIDであるteamIdを受け取ります。これは、figmaのURLパスを調べることで見つけることができます。リンク`https://www.figma.com/files/team`にアクセスすると、`team`キーワードの後に数字が自動的に追加されますが、これがチームIDです。ユーザーは複数のチームに所属できるため、これらのプロジェクトの検索を自動化したくない場合は、別のチームIDを取得する必要があります。.",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": "プロジェクト検索条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "プロジェクトリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProejctOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/zoom/meetings": {
      "post": {
        "summary": "ズームミーティングを作成する",
        "description": "ズームミーティングを作成する",
        "tags": [
          "Zoom"
        ],
        "parameters": [],
        "requestBody": {
          "description": "会議作成のためのユーザー情報と条件のDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZoom.ICreateMeetingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたズームミーティング情報のDTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIZoom.Meeting"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Zoom_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "summary": "請求書番号に一致する宅配業者のリストを検索",
        "description": "送り状番号に一致する宅配業者のリストを検索 送り状を検索するには宅配業者コードが必須です。そのため、送り状番号はわかっていても、どの宅配業者が荷物を配達するかがわからないと、送り状を検索できません。この問題を解決するために、このコネクタでは送り状番号に一致する宅配業者を推測する機能を提供しています。ただし、この機能を呼び出しても、宅配業者と思われる業者が複数表示される場合があり、どの会社がこの荷物を輸送するかを知ることはできません。もちろん、リストに対象が 1 つしかない場合は、その宅配業者である確率はほぼ 100% です。.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "宅配便検索の条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "宅配業者リスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "summary": "宅配業者リストを検索",
        "description": "宅配業者リストの検索 韓国国内および海外のすべての宅配業者を検索します。後で請求書番号で配送を検索するときは、宅配業者コードが必要になるため、最初に宅配業者リストを検索する必要があります。宅配業者リストを検索した後、宅配業者を見つけて、請求書を検索するときに宅配業者コードを入力します。.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "宅配業者リスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "summary": "請求書検索",
        "description": "送り状番号を検索する 送り状を検索するには、検索したい送り状番号に加えて宅配業者コードが必要です。荷物を輸送する宅配業者がわかっている場合は、宅配業者を検索し、宅配業者コードと名前が一致する宅配業者から宅配業者コードを取得できます。送り状番号はわかっているが宅配業者コードがわからない場合は、「送り状番号に一致する宅配業者リストを検索」を使用して、荷物を輸送する宅配業者を推測できます。荷物を検索すると、荷物の現在位置と時間、誰が荷物を輸送しているかがわかります。電話番号が記載されている場合もありますが、絶対ではありません。また、Coupangなどのコマース会社が直接商品を配送する場合は、送り状番号があっても検索できない場合があります。.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "請求書番号の検索条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "荷物の移動経路",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/hancell/sheet": {
      "post": {
        "summary": "ハンセルを修正",
        "description": "Hanselシートを変更するシートがすでに存在する場合は変更し、以前に存在していなかった場合は追加します。.",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "修正するHansel情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "変更後に新しく作成されたファイルへのリンク",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg"
      }
    },
    "/connector/hancell/read": {
      "post": {
        "summary": "Hanselファイルを読む",
        "description": "Hanselファイルを読む",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "読み取るHanselファイル情報",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ハンセルファイル情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "summary": "カカオトーク(카카오톡)の友達にメッセージを送信する",
        "description": "テキストタイプのカカオトークメッセージを友人に送信します。カカオトークは韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。ユーザーがメッセージを送信したい相手が指定されていない場合は、勝手に送信しないでください。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答と障害情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "summary": "カカオトークで自分にメッセージを送る(카카오톡)",
        "description": "カカオトーク(카카오톡)で自分にコマースタイプのメッセージを送信します。カカオトーク(카카오톡)メッセージを送信するときに、ボタンがあります。ボタンにリンクを追加する場合は、`https://studio-pro.wrtn.ai/`で始まるURLまたはリダイレクトリンクを使用する必要があります。リンクが`https://studio-pro.wrtn.ai/`で始まる場合はページが表示され、そうでない場合は新しいリンクにリダイレクトされます。これは、カカオトーク(카카오톡)API仕様に従って、当社のドメインに登録されたリンクのみが許可されているためです。カカオトーク(카카오톡)は、韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答コード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "summary": "カカオトークで自分にメッセージを送る(카카오톡)",
        "description": "カカオトークで自分に位置情報メッセージを送信します。カカオトークメッセージを送信するときに、ボタンがあります。ボタンにリンクを追加する場合は、`https://studio-pro.wrtn.ai/`で始まるURLまたはリダイレクトリンクを使用する必要があります。リンクが`https://studio-pro.wrtn.ai/`で始まる場合はページが表示され、そうでない場合は新しいリンクにリダイレクトされます。これは、カカオトークAPI仕様に従って、当社のドメインに登録されたリンクのみが許可されているためです。カカオトークは、韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答コード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "summary": "カカオトークで自分にメッセージを送る(카카오톡)",
        "description": "カカオトーク(카카오톡)で自分にリストタイプのメッセージを送信します。カカオトーク(카카오톡)メッセージを送信するときに、ボタンがあります。ボタンにリンクを追加する場合は、`https://studio-pro.wrtn.ai/`で始まるURLまたはリダイレクトリンクを使用する必要があります。リンクが`https://studio-pro.wrtn.ai/`で始まる場合はページが表示され、そうでない場合は新しいリンクにリダイレクトされます。これは、カカオトーク(카카오톡)API仕様に従って、当社のドメインに登録されたリンクのみが許可されているためです。カカオトーク(카카오톡)は、韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答コード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "summary": "カカオトークで自分にメッセージを送る(카카오톡)",
        "description": "カカオトーク(카카오톡)で自分にフィードタイプのメッセージを送信します。カカオトーク(카카오톡)メッセージを送信するときに、ボタンがあります。ボタンにリンクを追加する場合は、`https://studio-pro.wrtn.ai/`で始まるURLまたはリダイレクトリンクを使用する必要があります。リンクが`https://studio-pro.wrtn.ai/`で始まる場合はページが表示され、そうでない場合は新しいリンクにリダイレクトされます。これは、カカオトーク(카카오톡)API仕様に従って、当社のドメインに登録されたリンクのみが許可されているためです。カカオトーク(카카오톡)は、韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答コード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "summary": "カカオトークで自分にメッセージを送る(카카오톡)",
        "description": "カカオトーク(카카오톡)で自分にテキストタイプのメッセージを送信します。カカオトーク(카카오톡)メッセージを送信するときに、ボタンがあります。ボタンにリンクを追加する場合は、`https://studio-pro.wrtn.ai/`で始まるURLまたはリダイレクトリンクを使用する必要があります。リンクが`https://studio-pro.wrtn.ai/`で始まる場合はページが表示され、そうでない場合は新しいリンクにリダイレクトされます。これは、カカオトーク(카카오톡)API仕様に従って、ドメインに登録されたリンクのみが許可されているためです。カカオトーク(카카오톡)は、韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "メッセージを送信するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "応答コード",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "summary": "カカオトーク(카카오톡)カレンダーにイベントを追加する",
        "description": "KakaoTalk(カカオトーク)カレンダーにイベントを追加します。KakaoTalk(カカオトーク)は韓国のモバイルメッセンジャーアプリケーションであり、さまざまな追加サービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "イベント作成時の入力条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "作成されたイベントID条件",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "summary": "カカオトーク(카카오톡)の友達リストを取得する",
        "description": "カカオトーク(카카오톡)の友達リストを取得します。カカオトーク(카카오톡)は韓国のモバイルメッセンジャーアプリケーションで、さまざまな追加サービスも提供しています。友達を検索すると、studio-proでカカオトークをリンクした人だけが検索されるため、対象を確認できない場合があります。この場合、電子メールまたはその他の方法でメッセージを送信する方がよい場合があります。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "友達リストを取得するための条件",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "友達リストを取得しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "summary": "カカオトーク(카카오톡)のカレンダーイベントを取得する",
        "description": "KakaoTalk(カカオトーク) カレンダーイベントを取得します。ユーザーは入力パラメータとしてカレンダー ID を指定する必要があります。カレンダーが指定されていない場合は、デフォルトでユーザー自身のカレンダーが取得されます。したがって、この機能はカレンダー ID が指定されていなくても使用できます。イベントを取得するための条件には、イベントを取得する期間の指定が含まれます。このコネクタは、1 週間または 1 か月のデータを表示するように設計されています。KakaoTalk(カカオトーク) は韓国のモバイル メッセージング アプリケーションであり、追加のサービスも提供しています。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "イベント取得用のDTO.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "イベント情報を含むDTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "summary": "カカオトーク(카카오톡)のカレンダーリストを取得します",
        "description": "すべての KakaoTalk(カカオトーク) カレンダー リストを取得します。カレンダーには、プライマリ カレンダーと購読しているカレンダーの 2 種類があります。すべての Kakao ユーザーは自分の個人用カレンダーを持っているため、少なくとも 1 つのカレンダーがあります。プライマリ カレンダーの ID は `primary` で、これはユーザー自身のカレンダーです。KakaoTalk(カカオトーク) は、追加のサービスも提供する韓国のモバイル メッセンジャー アプリケーションです。.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "DTOにカレンダーの取得をリクエストする.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "カレンダーリストオブジェクト.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/auth": {
      "get": {
[...]
