{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "프로덕션 서버"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": " 서버 개발"
    },
    {
      "url": "http://localhost:3003",
      "description": " 로컬 서버"
    }
  ],
  "info": {
    "version": "0.1.280",
    "title": " @wrtn/커넥터",
    "description": " wrtn-ecosystem 커넥터 및 SDK",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/_health": {
      "get": {
        "description": " 건강 검진 포트",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run": {
      "post": {
        "description": " 워크플로 실행",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRunWorkflowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRunWorkflowOutput"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run/{workflowRunId}": {
      "get": {
        "description": " 한 워크플로 실행의 반환 상태",
        "tags": [],
        "parameters": [
          {
            "name": "workflowRunId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IWorkflowRunStatus"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/runs": {
      "get": {
        "description": " 모든 워크플로 실행 정보 반환",
        "tags": [],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": " 워크플로 ID",
            "description": " 지정하지 않으면 모든 실행을 반환합니다.."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetWorkflowRunsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/extract/keyword": {
      "post": {
        "summary": " 키워드 추출",
        "description": " 주어진 입력과 높은 관련성을 갖는 키워드를 추출합니다. 마케팅 카피를 생성할 때 사용되는 커넥터입니다..",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 키워드 추출을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 추출된 키워드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    },
    "/connector/rank/rank": {
      "post": {
        "summary": " 조건별 정렬",
        "description": " 주어진 항목 배열을 가장 높은 점수 순으로 정렬합니다.",
        "deprecated": true,
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "정렬할 후보자 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRanker.IRankInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 정렬된 후보의 인덱스 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRanker.IRankOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Sort_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "summary": " 마케팅 카피 생성",
        "description": " 주어진 입력으로부터 마케팅 사본을 생성합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 마케팅 카피 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 마케팅 카피 생성",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "summary": " 마케팅 카피 이미지 생성",
        "description": " 주어진 입력으로부터 마케팅 카피 이미지를 생성합니다.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 마케팅 카피 이미지 생성을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 마케팅 카피 이미지 생성됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": " 파일 업로드 URL 생성",
        "description": " 파일을 업로드하는 데 필요한 URL을 생성합니다.",
        "tags": [],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": " 파일 확장자",
            "description": " 파일 확장자."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/student-report-generator": {
      "post": {
        "summary": " 학생생활기록부 작성하기",
        "description": "입력된 정보를 기반으로 학생생활기록부를 작성하세요.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 학생생활기록부 작성 안내",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 학생생활기록부",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "summary": " 학생생활기록부 작성하기",
        "description": "입력된 정보를 기반으로 학생생활기록부를 작성하세요.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 학생생활기록부 작성 안내",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 학생생활기록부",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": " RAG 분석 요청",
        "description": " 입력 파일에 대한 RAG 분석 요청 이 커넥터는 여러 연구 논문을 비교하는 챗봇을 생성할 때 사용할 수 있습니다..",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 분석할 파일에 대한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IAnalyzeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/{jobId}/status": {
      "get": {
        "summary": " RAG 분석 상태 확인",
        "description": " 분석 진행 상태 확인",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IStatusOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": " RAG 기반 결과 생성",
        "description": "여러 연구 논문을 비교하는 챗봇을 통해 사용자 질문에 대한 답변을 생성하는 데 사용할 수 있는 커넥터인 RAG 분석을 기반으로 요청된 결과를 생성합니다..",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "summary": " Hwp 파일 구문 분석",
        "description": " hwp 파일 구문 분석",
        "tags": [
          "Hwp"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 분석할 hwp 파일",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 파싱된 hwp 파일 텍스트 데이터.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/HWP_full.svg"
      }
    },
    "/connector/excel/read/headers": {
      "post": {
        "summary": " Excel 파일에서 헤더 가져오기",
        "description": " 입력 파일 정보를 기반으로 해당 Excel 파일의 헤더를 검색합니다.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "summary": " Excel 파일의 내용을 가져옵니다",
        "description": "입력 파일 정보를 기반으로 해당 Excel 파일의 내용을 가져옵니다.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 내용을 얻기 위한 Excel 파일에 대한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "summary": " Excel 워크시트 목록 가져오기",
        "description": " 입력 파일 url에 존재하는 Excel 워크시트 목록을 가져옵니다.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 워크시트 목록을 가져올 Excel 파일의 URL",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Excel 워크시트 목록.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows/upload": {
      "post": {
        "summary": " Excel을 만들고 Excel 파일을 업로드하여 데이터를 추가합니다.",
        "description": "Excel 파일을 업로드하여 파일에 데이터 추가 Excel에 데이터를 추가할 때 아직 존재하지 않는 시트인 경우 시트 생성이 우선합니다. 따라서 이 기능은 시트 생성에도 사용할 수 있습니다. 시트만 만들고 데이터가 없는 빈 파일을 만들려면 데이터가 없는 시트 이름만 지정하면 됩니다. 이미 존재하는 시트에 행을 추가할 때는 가장 아랫줄에 추가해야 하므로 추가하기 전에 데이터를 확인하는 것이 좋습니다. fileUrl을 제공하면 작업 후 수정할 수 있습니다. 수정 후 파일이 새로운 링크로 발급됩니다. 사용자가 드래그 앤 드롭으로 파일을 업로드할 수 있도록 해주는 커넥터입니다..",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "Excel 파일에 새 데이터를 추가하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowByUploadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "summary": " 공격 파일 링크를 가지고 셀 생성 및 추가 데이터 생성",
        "description": "Excel 파일 링크로 Excel 파일에 데이터 추가 Excel에 데이터를 추가할 때 아직 존재하지 않는 시트인 경우 시트 생성이 선행합니다. 따라서 이 기능은 시트 생성에도 사용할 수 있습니다. 시트만 만들고 데이터가 없는 빈 파일을 만들려면 데이터가 없는 시트 이름만 지정하면 됩니다. 기존 시트에 행을 추가할 때는 가장 아래 줄에 추가하도록 되어 있으므로 추가하기 전에 데이터를 확인하는 것이 좋습니다. fileUrl을 제공하면 작업 후 수정할 수 있습니다. 수정 후 파일은 새로운 링크로 발급됩니다. 이전 발화에서 파일 링크를 알고 있거나 사용자로부터 발화에서 파일 링크를 받은 경우 파일을 업로드하지 않고도 파일을 업데이트할 수 있는 커넥터입니다. Excel 파일이 생성된 직후에 Excel 파일에 대한 링크가 생성되므로 업로드를 통해 데이터를 추가하는 것보다 이 커넥터를 호출하는 것이 사용자 경험 측면에서 더 유리합니다..",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "파일에 새로운 데이터를 추가하기 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel": {
      "post": {
        "summary": " Excel 파일 및 시트 추가",
        "description": " Excel 파일 및 시트 추가 Excel 파일을 만들고 링크를 다시 가져옵니다. 또한 이 링크를 다음 커넥터로 전달하여 추가 수정 사항을 반영할 수 있습니다. 이 기능으로 시트를 만들 때 시트 이름이 &#39;Sheet1&#39;인 경우 기본 이름인 &#39;Sheet1&#39;이 생성됩니다. 제공되지 않습니다.",
        "deprecated": true,
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.ICreateSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "summary": " Google 문서 생성",
        "description": " Google 문서 생성",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 생성할 Google Docs의 제목",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 Google Docs의 고유 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "summary": "Google Docs에 권한 부여",
        "description": "Google Docs에 권한 부여",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " Google Docs에 대한 권한 부여에 대한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "summary": " Google 문서 읽기",
        "description": " Google Docs의 내용을 읽어보세요",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " Google Docs 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google Docs 내용",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "summary": " Google 문서 복사",
        "description": " 기존 Google Docs를 복사하여 새 Google Docs를 만듭니다.",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " Google Docs에 대한 링크를 복사하고 Google Docs의 제목을 만듭니다.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 Google Docs의 고유 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "summary": " Google 문서 삭제",
        "description": " Google 문서 삭제",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " 삭제할 Google Docs의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "summary": " Google 문서 목록 가져오기",
        "description": " Google 문서 목록 가져오기",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google 문서 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "summary": " Google 문서에 텍스트 추가",
        "description": " Google 문서에 텍스트 추가",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "Google 액세스 토큰 재발급 요청",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/connector/google-sheet": {
      "post": {
        "summary": " Google 시트의 헤더 정보 가져오기",
        "description": " Google 시트의 헤더 정보 가져오기",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " Google 시트 URL 및 헤더 인덱스를 가져옵니다.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google 시트 헤더 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/append": {
      "post": {
        "summary": " Google 시트에 콘텐츠 추가",
        "description": " Google 시트에 콘텐츠 추가",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 콘텐츠를 추가하기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IAppendToSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg"
      }
    },
    "/connector/google-sheet/create": {
      "post": {
        "summary": " Google 시트 만들기",
        "description": " Google 시트 만들기 생성된 시트는 Google Drive 루트 경로에 생성됩니다..",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 생성할 시트의 제목",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 시트 ID 및 URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": " Google 시트에 권한 부여",
        "description": " Google 시트에 권한 부여",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 권한 부여를 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "Google 시트 헤더 추가",
        "description": " Google 시트에 헤더 추가",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 추가할 Google 시트 url과 헤더 이름",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "summary": " Google 시트 워크시트 목록 가져오기",
        "description": " Google 워크시트 목록 가져오기",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 워크시트 목록을 가져오는 Google 시트 url",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "summary": " Google 시트에서 행 정보 가져오기",
        "description": " Google 시트에서 행 정보 가져오기",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google 시트의 행 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "summary": " Google 캘린더 목록 가져오기",
        "description": " Google 캘린더 목록 가져오기",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google 캘린더 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": " Google 캘린더 만들기",
        "description": " Google 캘린더 만들기",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 생성할 달력의 제목",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "달력의 고유 ID와 달력의 제목",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": " Google 캘린더 삭제",
        "description": " 캘린더 삭제",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 삭제할 캘린더의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "summary": " Google 캘린더 이벤트 목록 가져오기",
        "description": " Google 캘린더에서 이벤트 목록 가져오기",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 이벤트 목록을 얻기 위한 캘린더의 고유 ID"
          }
        ],
        "requestBody": {
          "description": " 이벤트 목록을 얻기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google 캘린더 이벤트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": " Google 캘린더에 빠른 이벤트 추가",
        "description": " Google 캘린더에 빠른 이벤트 추가",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 이벤트를 추가할 달력의 고유 ID"
          }
        ],
        "requestBody": {
          "description": "이벤트를 추가할 달력의 고유 ID 및 이벤트 이름",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": " Google 캘린더 이벤트 추가",
        "description": " Google 캘린더에 이벤트 추가",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 이벤트를 추가할 달력의 고유 ID"
          }
        ],
        "requestBody": {
          "description": " 이벤트 추가를 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 추가된 이벤트에 대한 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": " Google 캘린더 이벤트 수정",
        "description": " 이벤트 수정",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 이벤트가 포함된 달력의 고유 ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " 수정할 이벤트의 고유 ID"
          }
        ],
        "requestBody": {
          "description": " 업데이트할 이벤트 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": " 업데이트된 이벤트 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      },
      "delete": {
        "summary": " Google 캘린더 이벤트 삭제",
        "description": " 이벤트 삭제",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "이벤트가 포함된 캘린더의 고유 ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " 삭제할 이벤트의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": " Google 캘린더 이벤트에 참석자 추가",
        "description": " 이벤트에 참석자 추가",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " 이벤트가 있는 달력의 고유 ID"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " 참석자를 추가할 이벤트의 고유 ID"
          }
        ],
        "requestBody": {
          "description": " 추가할 참석자의 이메일 주소 목록",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": " 참석자가 추가된 이벤트 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "summary": " Google Drive 폴더 목록 가져오기",
        "description": " Google Drive의 폴더 목록 가져오기",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google Drive 폴더 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "summary": " Google Drive 파일 목록 가져오기",
        "description": "Google Drive에서 파일 목록 가져오기",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Google Drive 파일 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": " Google Drive 폴더 만들기",
        "description": " Google Drive에 새 폴더 만들기",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 생성할 폴더의 이름",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 폴더의 고유 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": " Google Drive 파일 만들기",
        "description": " Google Drive에 새 파일 만들기",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 생성할 파일의 이름과 파일이 생성될 폴더의 고유 ID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IUploadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 파일의 고유 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": " Google Drive 파일 삭제",
        "description": " Google Drive에서 파일 삭제",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": "삭제할 파일의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "summary": " Google Drive 폴더 삭제",
        "description": " Google Drive에서 폴더 삭제",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " 삭제할 폴더의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "summary": " Google Drive 권한 부여",
        "description": " 파일이나 폴더에 대한 액세스 권한을 부여합니다",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 허가를 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "summary": " Google Drive 파일에서 텍스트 읽기",
        "description": " 파일에서 텍스트 읽기",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " 파일의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 파일의 텍스트 내용",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IGetFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "summary": " 조건을 선택하세요",
        "description": " 주어진 후보자 중 조건을 만족하는 후보자를 선정하세요.",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 후보자 선정을 위한 입력",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "선택된 후보 인덱스의 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/LLM_full.svg"
      }
    },
    "/connector/gmail/send": {
      "post": {
        "summary": " GMAIL 보내기",
        "description": "메일 보내기 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다. 이 커넥터는 이메일을 보내기 위한 것이며, 간단한 텍스트로 보내면 문장이 한 줄로 길게 표시되므로 줄 바꿈 문자를 삽입해야 합니다. 현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용합니다. 어떤 경우에는 HTML 형식을 사용할 수 있습니다. 파일을 첨부하려면 파일 이름과 저장된 주소를 지정해야 합니다. 저장된 파일은 함수 내부에서 GET 요청으로 읽혀 인코딩되고 처리됩니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "이메일을 보내기 위해 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 보낸 이메일의 ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": " GMAIL 초안 만들기",
        "description": "메일 초안 만들기 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다. 이 커넥터는 이메일을 보내기 위한 것이며, 간단한 텍스트로 보내면 문장이 한 줄로 길게 표시되므로 줄 바꿈 문자를 삽입해야 합니다. 현재 형식은 content-type으로 `text/html; charset=utf-8`을 사용합니다. 어떤 경우에는 html 형식을 사용할 수 있습니다. 파일을 첨부하려면 파일 이름과 저장된 주소를 지정해야 합니다. 저장된 파일은 함수 내부에서 GET 요청으로 읽혀 인코딩되고 처리됩니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "우편 초안 작성을 위한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": " GMAIL 답장",
        "description": " 수신된 이메일에 답장하기 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다. 이 커넥터는 이메일을 보내기 위한 것이며, 간단한 텍스트로 보내면 문장이 한 줄로 길게 표시되므로 줄 바꿈 문자를 삽입해야 합니다. 현재 형식은 `text/html; charset=utf-8`을 content-type으로 사용합니다. 어떤 경우에는 HTML 형식을 사용할 수도 있습니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": " 이메일 답변에 필요한 정보.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "summary": "GMAIL 정보 받기",
        "description": " Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": " 이메일의 고유 ID",
            "description": " 이메일의 고유 ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 이메일에 대한 정보.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "summary": " GMAIL 목록 가져오기",
        "description": " 메일링 리스트 받기 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메일링 리스트를 얻기 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 메일링 리스트",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}/hardDelete": {
      "delete": {
        "summary": " 메일 삭제",
        "description": "메일 삭제 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다. 이 기능은 메일을 휴지통으로 옮기는 대신 영구적으로 삭제하기 때문에 특별한 주의가 필요합니다. 대부분의 사용자는 이미 휴지통에 있는 메일을 삭제하고 싶어할 것입니다. 따라서 사용자가 삭제하고 싶다면 메일을 휴지통으로 옮기도록 안내하는 것이 좋지만, 여전히 삭제하고 싶다면 휴지통을 타겟팅하는 것이 옳습니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": " GMAIL 삭제",
        "description": "메일을 휴지통으로 이동 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " 삭제할 이메일의 고유 ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "summary": " GMAIL 라벨 생성",
        "description": " 라벨 만들기 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 라벨 생성을 위한 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 라벨의 고유 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "summary": " GMAIL 라벨 할당",
        "description": " 메일에 라벨 지정 Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " 라벨을 지정할 메일의 고유 ID"
          }
        ],
        "requestBody": {
          "description": " 할당할 레이블의 고유 ID 목록",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      },
      "delete": {
        "summary": "GMAIL 라벨 제거",
        "description": " Gmail은 Google에서 제공하는 무료 웹 기반 이메일 서비스입니다..",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": " 라벨을 제거할 메일의 고유 ID",
            "description": " 라벨을 제거할 메일의 고유 ID."
          }
        ],
        "requestBody": {
          "description": " 제거할 레이블의 고유 ID 목록.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/tool/{id}/generate": {
      "post": {
        "summary": " 도구 사용",
        "description": " 도구 사용 이 커넥터는 특수 목적 커넥터이며 일반적인 상황에서는 사용되지 않습니다. 이 커넥터는 Studio 1.0에서 마이그레이션된 도구를 사용할 때만 사용됩니다. 이 커넥터는 일반적인 워크플로를 만들 때는 사용되지 않습니다..",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITool.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITool.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "htthttps://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Tool_full.svg"
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "summary": " 쉬운 난이도의 챗봇을 사용하세요",
        "description": "Easy 난이도로 빌드된 챗봇을 사용하세요 이 커넥터는 특수 목적 커넥터이며 일반적인 상황에서는 사용되지 않습니다. 이 커넥터는 Studio 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용됩니다. 이 커넥터는 일반적인 워크플로에서 챗봇을 만들 때는 사용되지 않습니다..",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " Easy 난이도로 구축된 챗봇 활용 안내",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 챗봇의 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://gh-devs-be.s3.ap-northeast-2.amazonaws.com/icon/full/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "summary": " 하드 난이도의 챗봇을 사용해보세요",
        "description": "하드 난이도로 빌드된 챗봇을 사용하세요 이 커넥터는 특수 목적 커넥터이며 일반적인 상황에서는 사용되지 않습니다. 이 커넥터는 Studio 1.0에서 마이그레이션된 챗봇을 사용할 때만 사용됩니다. 이 커넥터는 일반적인 워크플로에서 챗봇을 만들 때는 사용되지 않습니다..",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " 하드 난이도로 구축된 챗봇을 사용하기 위한 안내",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 챗봇의 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/figma/get-files": {
      "post": {
        "summary": " Figma 파일 가져오기",
        "description": " Figma 파일 가져오기",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 파일 가져오기에 대한 조건 값",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Figma 파일 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IReadFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/comments": {
      "post": {
        "summary": " 캔버스에 댓글을 작성하세요",
        "description": "댓글을 작성하세요",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 댓글을 작성하기 위한 조건값",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IAddCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 방금 작성한 댓글에 대한 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-comments": {
      "post": {
        "summary": " Figma에 대한 코멘트를 받으세요",
        "description": " Figma에 대한 코멘트를 받으세요",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 주석을 얻기 위한 조건 값",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " Figma 코멘트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/projects/{id}/get-canvas": {
      "post": {
        "summary": " 팀 내에서 캔버스 검색",
        "description": " 특정 프로젝트의 모든 캔버스 가져오기 캔버스는 특정 팀에서 관리하는 Figma 파일입니다. 이 커넥터를 사용하면 사용자는 Figma 팀 내에서 관리되는 캔버스와 캔버스 이름, 썸네일 링크를 볼 수 있습니다..",
        "tags": [
          "Figma"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/figma/get-projects",
                "jmesPath": "proejcts[].{value:id, label:name}"
              }
            },
            "required": true,
            "description": " 검색할 프로젝트의 ID"
          }
        ],
        "requestBody": {
          "description": "프로젝트 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.Secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 프로젝트의 모든 파일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProjectFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-statistics": {
      "post": {
        "summary": " 팀 수준 Figma 통계 검색",
        "description": " 팀 수준 통계 검색",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 팀 수준 통계 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectStatisticsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 팀 수준 통계 검색 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IFigma.IGetStatisticsOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-projects": {
      "post": {
        "summary": " 팀 내 프로젝트 검색",
        "description": "팀 내에서 프로젝트 검색 인수로 teamId를 받아야 하는데, 이는 팀 ID이며, figma의 URL 경로를 살펴보면 찾을 수 있습니다. 링크 `https://www.figma.com/files/team`에 액세스하면 `team` 키워드 뒤에 자동으로 숫자가 추가되는데, 이는 팀 ID입니다. 사용자는 여러 팀에 속할 수 있으므로 이러한 프로젝트에 대한 검색을 자동화하지 않으려면 다른 팀 ID를 가져와야 합니다..",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 프로젝트 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 프로젝트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProejctOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/zoom/meetings": {
      "post": {
        "summary": "줌 회의 만들기",
        "description": "줌 회의 만들기",
        "tags": [
          "Zoom"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 사용자 정보 및 미팅 생성 조건의 DTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZoom.ICreateMeetingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 생성된 줌 회의 정보의 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIZoom.Meeting"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Zoom_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "summary": " 송장번호와 일치하는 택배사 목록을 검색하세요",
        "description": "송장번호와 일치하는 택배사 목록 검색 송장검색에는 택배사 코드가 필수입니다. 따라서 사용자가 송장번호는 알지만 자신의 소포를 배달할 택배사를 모른다면 송장을 검색할 수 없습니다. 이 문제를 해결하기 위해 이 커넥터는 송장번호와 일치하는 택배사를 유추하는 함수를 제공합니다. 하지만 이 함수를 호출하더라도 택배사일 수 있는 택배사가 여러 개 나올 수 있으므로 이 소포를 어느 회사에서 운송할지 알 수 없습니다. 물론 목록에 대상이 하나뿐이라면 그 택배사일 확률은 거의 100%입니다..",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "택배검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "summary": " 택배 목록 검색",
        "description": " 택배사 목록 검색 국내 모든 국내 및 해외 택배사를 검색합니다. 나중에 송장번호로 배송을 검색할 때 택배사 코드가 필요하므로 택배사 목록을 먼저 검색해야 합니다. 택배사 목록을 검색한 후 택배사를 찾아 송장 검색 시 택배사 코드를 입력합니다..",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": " 택배사 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "summary": " 송장 검색",
        "description": "송장번호 검색 송장을 검색하려면 검색하려는 송장번호 외에도 택배 코드가 필요합니다. 어떤 택배사가 귀하의 패키지를 운송할지 알고 있다면 택배사를 검색하여 택배 코드와 이름이 일치하는 택배사에서 택배 코드를 얻을 수 있습니다. 송장번호는 알지만 택배 코드를 모르는 경우 &#39;송장번호와 일치하는 택배사 목록 검색&#39;을 사용하여 패키지를 운송할 택배사를 유추할 수 있습니다. 패키지를 검색하면 패키지의 현재 위치와 시간, 패키지를 누가 운송하는지 알 수 있습니다. 경우에 따라 전화번호가 있을 수 있지만 절대적인 것은 아닙니다. 또한 쿠팡과 같은 상거래 회사에서 직접 상품을 배송하는 경우 송장번호가 있어도 검색할 수 없는 경우가 있습니다..",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "송장번호 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 패키지의 이동 경로",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/hancell/sheet": {
      "post": {
        "summary": " 한젤 수정하기",
        "description": " Hansel 시트 수정 시트가 이미 존재하는 경우 수정하거나, 이전에 존재하지 않았던 경우 추가합니다..",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 한젤 정보를 수정합니다",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 수정 후 새로 생성된 파일에 대한 링크",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg"
      }
    },
    "/connector/hancell/read": {
      "post": {
        "summary": " Hansel 파일 읽기",
        "description": " Hansel 파일 읽기",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 읽을 Hansel 파일 정보",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 한젤 파일 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "summary": " 카카오톡(카카오톡) 친구에게 메시지 보내기",
        "description": "카카오톡(카카오톡) 문자 메시지를 친구에게 전송합니다 카카오톡(카카오톡)은 대한민국의 모바일 메신저 애플리케이션으로, 다양한 부가 서비스도 제공합니다. 사용자가 메시지를 보내고자 하는 사람을 지정하지 않으면 임의로 메시지를 보내지 않아야 합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 응답 및 실패 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "summary": " 카카오톡(카카오톡)으로 나에게 메시지 보내기",
        "description": "카카오톡(카카오톡)에서 나에게 상거래형 메시지를 보냅니다 카카오톡(카카오톡) 메시지를 보낼 때 버튼이 있습니다. 버튼에 링크를 추가하려면 `https://studio-pro.wrtn.ai/`로 시작하는 URL이나 리다이렉트 링크를 사용해야 합니다. 링크가 `https://studio-pro.wrtn.ai/`로 시작하면 페이지가 보이고, 그렇지 않으면 새 링크로 리다이렉트됩니다. 카카오톡(카카오톡) API 사양에 따라 당사 도메인에 등록된 링크만 허용되기 때문입니다. 카카오톡(카카오톡)은 한국의 모바일 메신저 애플리케이션으로 다양한 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "summary": " 카카오톡(카카오톡)으로 나에게 메시지 보내기",
        "description": "카카오톡(카카오톡)에서 나에게 위치형 메시지를 보냅니다. 카카오톡(카카오톡) 메시지를 보낼 때 버튼이 있습니다. 버튼에 링크를 추가하려면 `https://studio-pro.wrtn.ai/`로 시작하는 URL이나 리다이렉트 링크를 사용해야 합니다. 링크가 `https://studio-pro.wrtn.ai/`로 시작하면 페이지가 보이고, 그렇지 않으면 새 링크로 리다이렉트됩니다. 카카오톡(카카오톡) API 사양에 따라 당사 도메인에 등록된 링크만 허용되기 때문입니다. 카카오톡(카카오톡)은 한국의 모바일 메신저 애플리케이션으로, 다양한 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "summary": " 카카오톡(카카오톡)으로 나에게 메시지 보내기",
        "description": "카카오톡(카카오톡)에서 나에게 리스트 형태의 메시지를 보냅니다. 카카오톡(카카오톡) 메시지를 보낼 때 버튼이 있습니다. 버튼에 링크를 추가하려면 `https://studio-pro.wrtn.ai/`로 시작하는 URL이나 리다이렉트 링크를 사용해야 합니다. 링크가 `https://studio-pro.wrtn.ai/`로 시작하면 페이지가 보이고, 그렇지 않으면 새 링크로 리다이렉트됩니다. 카카오톡(카카오톡) API 사양에 따라 당사 도메인에 등록된 링크만 허용되기 때문입니다. 카카오톡(카카오톡)은 한국의 모바일 메신저 애플리케이션으로, 다양한 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "summary": " 카카오톡(카카오톡)으로 나에게 메시지 보내기",
        "description": "카카오톡(카카오톡)에서 나에게 피드 형태의 메시지를 보냅니다. 카카오톡(카카오톡) 메시지를 보낼 때 버튼이 있습니다. 버튼에 링크를 추가하려면 `https://studio-pro.wrtn.ai/`로 시작하는 URL이나 리다이렉트 링크를 사용해야 합니다. 링크가 `https://studio-pro.wrtn.ai/`로 시작하면 페이지가 보이고, 그렇지 않으면 새 링크로 리다이렉트됩니다. 카카오톡(카카오톡) API 사양에 따라 당사 도메인에 등록된 링크만 허용되기 때문입니다. 카카오톡(카카오톡)은 한국의 모바일 메신저 애플리케이션으로, 다양한 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/text": {
      "post": {
        "summary": " 카카오톡(카카오톡)으로 나에게 메시지 보내기",
        "description": "카카오톡(카카오톡)에서 나에게 텍스트 타입 메시지를 보냅니다 카카오톡(카카오톡) 메시지를 보낼 때 버튼이 있습니다. 버튼에 링크를 추가하려면 `https://studio-pro.wrtn.ai/`로 시작하는 URL이나 리다이렉트 링크를 사용해야 합니다. 링크가 `https://studio-pro.wrtn.ai/`로 시작하면 페이지가 보이고, 그렇지 않으면 새 링크로 리다이렉트됩니다. 카카오톡(카카오톡) API 사양에 따라 당사 도메인에 등록된 링크만 허용되기 때문입니다. 카카오톡(카카오톡)은 한국의 모바일 메신저 애플리케이션으로 다양한 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 메시지를 보내기 위한 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkTextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "응답코드",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/calendars/events": {
      "post": {
        "summary": "카카오톡(카카오톡) 캘린더에 이벤트 추가",
        "description": " 카카오톡 일정에 이벤트 추가 카카오톡은 다양한 부가 서비스를 제공하는 대한민국의 모바일 메신저 애플리케이션입니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 이벤트 생성을 위한 입력 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ICreateEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 이벤트 ID 조건이 생성되었습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ICreateEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-friends": {
      "post": {
        "summary": " 카카오톡(카카오톡) 친구목록 조회",
        "description": "카카오톡(카카오톡) 친구목록을 검색합니다 카카오톡(카카오톡)은 대한민국의 모바일 메신저 어플리케이션으로, 다양한 부가 서비스를 제공합니다. 친구를 검색할 때, studio-pro에서 카카오톡을 연결한 사람만 검색되므로 대상을 확인할 수 없는 경우가 있습니다. 이 경우 이메일이나 다른 수단으로 메시지를 보내는 것이 좋습니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " 친구목록 검색 조건",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 친구목록 검색됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetFriendsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-events": {
      "post": {
        "summary": "카카오톡(카카오톡) 캘린더 이벤트 검색하기",
        "description": "카카오톡(카카오톡) 캘린더 이벤트를 검색합니다. 사용자는 입력 매개변수로 캘린더 ID를 제공해야 합니다. 캘린더가 제공되지 않으면 기본적으로 사용자의 캘린더를 검색합니다. 따라서 캘린더 ID를 지정하지 않아도 이 기능을 사용할 수 있습니다. 이벤트를 검색하기 위한 조건에는 이벤트를 가져올 기간을 지정하는 것이 포함됩니다. 이 커넥터는 일주일 또는 한 달 동안의 데이터를 보도록 설계되었습니다. 카카오톡(카카오톡)은 한국의 모바일 메시징 애플리케이션이며 추가 서비스도 제공합니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": "이벤트 검색을 위한 DTO.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres..."
                  },
                  {
                    "$ref": "#/components/schemas/ISecretkakaotalk_calendarcalender_id(stringDefaultprimaryPlaceholderprimaryPrerequisitemethodpostpath/connector/kakao-talk/get-calendarsjmesPathcalendars.valueidlabelnamesubscribe_calendars.valueidlabelname)undefinedpres....o1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " 이벤트 정보를 포함하는 DTO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/get-calendars": {
      "post": {
        "summary": " 카카오톡(카카오톡) 캘린더 목록 조회",
        "description": "모든 카카오톡(카카오톡) 캘린더 목록을 검색합니다. 캘린더에는 기본 캘린더와 구독한 캘린더의 두 가지 유형이 있습니다. 모든 카카오 사용자는 개인 캘린더를 가지고 있으므로 최소한 하나의 캘린더가 있을 것입니다. 기본 캘린더는 사용자의 캘린더인 `primary`라는 ID를 갖습니다. 카카오톡(카카오톡)은 추가 서비스도 제공하는 한국의 모바일 메신저 애플리케이션입니다..",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " DTO에 캘린더 검색 요청.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICommon.ISecretkakaotalk_calendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "캘린더 목록 객체.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IGetCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/auth": {
      "get": {
        "description": " 카카오톡(카카오톡) 접근 토큰을 발급합니다.",
        "tags": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": " 카카오톡 OAuth2 인증코드"
          }
        ],
        "responses": {
[...]
