{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://studio-connector-api.wrtn.ai",
      "description": "خادم الإنتاج"
    },
    {
      "url": "https://studio-connector-poc.dev.wrtn.club",
      "description": " تطوير الخادم"
    },
    {
      "url": "http://localhost:3003",
      "description": " الخادم المحلي"
    }
  ],
  "info": {
    "version": "0.1.280",
    "title": " @wrtn/الموصل",
    "description": " موصلات وحزمة أدوات تطوير البرامج لنظام wrtn البيئي",
    "license": {
      "name": "AGPL-3.0-only"
    }
  },
  "paths": {
    "/_health": {
      "get": {
        "description": " منفذ فحص الصحة",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run": {
      "post": {
        "description": " تشغيل سير العمل",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRunWorkflowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRunWorkflowOutput"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/run/{workflowRunId}": {
      "get": {
        "description": " حالة إرجاع تشغيل سير العمل واحد",
        "tags": [],
        "parameters": [
          {
            "name": "workflowRunId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IWorkflowRunStatus"
                }
              }
            }
          }
        }
      }
    },
    "/workflow/runs": {
      "get": {
        "description": " إرجاع كافة معلومات تشغيل سير العمل",
        "tags": [],
        "parameters": [
          {
            "name": "workflowId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "title": " معرف سير العمل",
            "description": " إذا لم يتم تحديد ذلك، فسيتم إرجاع جميع عمليات التشغيل."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGetWorkflowRunsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/extract/keyword": {
      "post": {
        "summary": " استخراج الكلمات الرئيسية",
        "description": " يستخرج الكلمات الرئيسية ذات الصلة الوثيقة بالمدخلات المقدمة، وهو موصل يستخدم عند إنشاء نص تسويقي.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " إدخال لاستخراج الكلمات الرئيسية",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " الكلمات الرئيسية المستخرجة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKeywordExtraction.IExtractKeywordOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/keyword.svg"
      }
    },
    "/connector/rank/rank": {
      "post": {
        "summary": " فرز حسب الحالة",
        "description": " يقوم بفرز مجموعة العناصر المحددة حسب أعلى الدرجات",
        "deprecated": true,
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": "معلومات المرشح للفرز",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRanker.IRankInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " مجموعة من مؤشرات المرشحين المصنفين",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRanker.IRankOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Sort_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy": {
      "post": {
        "summary": " إنشاء نسخة تسويقية",
        "description": " إنشاء نسخة تسويقية من المدخلات المقدمة",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " مدخلات لإنشاء نص تسويقي",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " نسخة تسويقية تم إنشاؤها",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIMarketingCopyComponents"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/marketing-copy/generate-copy-image": {
      "post": {
        "summary": " إنشاء صورة نصية تسويقية",
        "description": " يقوم بإنشاء صورة نص تسويقي من المدخلات المقدمة",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " مدخلات لإنشاء صورة نص تسويقي",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IMarketingCopyGenerator.IGenerateMarketingCopyImageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " صورة نصية تسويقية تم إنشاؤها",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IMarketingCopyImage"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Marketing_full.svg"
      }
    },
    "/connector/aws/file/upload-url": {
      "get": {
        "summary": " إنشاء عنوان URL لتحميل الملف",
        "description": " إنشاء عنوان URL المطلوب لتحميل الملف",
        "tags": [],
        "parameters": [
          {
            "name": "extension",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "title": " امتداد الملف",
            "description": " امتداد الملف."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IAws.IGetPutObjectUrlOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/student-report-generator": {
      "post": {
        "summary": " إنشاء سجل حياة الطالب",
        "description": "إنشاء سجل حياة الطالب بناءً على المعلومات المدخلة",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول إنشاء سجل حياة الطالب",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " سجل الحياة الطلابية الذي تم إنشاؤه",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/student-report-generator/row": {
      "post": {
        "summary": " إنشاء سجل حياة الطالب",
        "description": "إنشاء سجل حياة الطالب بناءً على المعلومات المدخلة",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول إنشاء سجل حياة الطالب",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IStudentReportRowGeneratorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " سجل الحياة الطلابية الذي تم إنشاؤه",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IStudentReportRowGeneratorResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/StudentRecord_full.svg"
      }
    },
    "/connector/rag/analyze": {
      "post": {
        "summary": " طلب تحليل RAG",
        "description": " اطلب تحليل RAG لملف الإدخال يمكن استخدام هذا الموصل عند إنشاء روبوت محادثة يقارن بين أوراق بحثية متعددة.",
        "tags": [
          "RAG"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول الملف المراد تحليله",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IAnalyzeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IAnalysisOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/rag/{jobId}/status": {
      "get": {
        "summary": " التحقق من حالة تحليل RAG",
        "description": " التحقق من حالة تقدم التحليل",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IStatusOutput"
                }
              }
            }
          }
        }
      }
    },
    "/connector/rag/generate/{chatId}": {
      "post": {
        "summary": " إنشاء نتائج تعتمد على RAG",
        "description": "إنشاء النتائج المطلوبة بناءً على تحليل RAG، وهو موصل يمكن استخدامه لإنشاء إجابات لأسئلة المستخدم من خلال برنامج دردشة يقارن بين أوراق بحثية متعددة.",
        "tags": [
          "RAG"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IRag.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IRag.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/RAG_full.svg"
      }
    },
    "/connector/hwp/parse": {
      "post": {
        "summary": " تحليل ملف Hwp",
        "description": " تحليل ملف hwp",
        "tags": [
          "Hwp"
        ],
        "parameters": [],
        "requestBody": {
          "description": " ملف hwp للتحليل",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHwp.IParseInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " بيانات نص ملف hwp المُحلل.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHwp.IParseOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/HWP_full.svg"
      }
    },
    "/connector/excel/read/headers": {
      "post": {
        "summary": " احصل على الرؤوس في ملف Excel",
        "description": " بناءً على معلومات ملف الإدخال، يتم استرداد رؤوس ملف Excel المقابل",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/read": {
      "post": {
        "summary": " احصل على محتويات ملف Excel",
        "description": "احصل على محتويات ملف Excel المقابل بناءً على معلومات ملف الإدخال",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات عن ملف Excel للحصول على المحتويات",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IReadExcelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IReadExcelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/worksheet": {
      "post": {
        "summary": " احصل على قائمة بأوراق عمل Excel",
        "description": " احصل على قائمة بأوراق عمل Excel الموجودة في عنوان URL لملف الإدخال",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان URL لملف Excel الذي يمكن الحصول منه على قائمة أوراق العمل",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IGetWorksheetListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة أوراق عمل Excel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IWorksheetListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows/upload": {
      "post": {
        "summary": " إنشاء Excel وإضافة البيانات عن طريق تحميل ملفات Excel",
        "description": "تحميل ملف اكسل لاضافة البيانات الى الملف عند اضافة البيانات الى اكسل تسبق عملية انشاء الورقة اذا كانت ورقة غير موجودة بعد لذلك يمكن استخدام هذه الخاصية ايضا لانشاء الورقة اذا اردت انشاء ورقة فقط وانشاء ملف فارغ بدون اي بيانات فقط عليك تحديد اسم الورقة بدون اي بيانات عند اضافة صفوف الى ورقة موجودة مسبقا من المفترض ان تضاف الى السطر السفلي لذلك ينصح بالتحقق من البيانات قبل اضافتها اذا قمت بتوفير fileUrl يمكنك تعديله بعد العمل عليه بعد التعديل سيتم اصدار الملف كرابط جديد وهو عبارة عن رابط يسمح للمستخدمين برفع الملفات عن طريق السحب والافلات.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "معلومات حول إضافة بيانات جديدة إلى ملفات Excel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowByUploadInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel/rows": {
      "post": {
        "summary": " أفضل ما في الأمر هو أن تكون قادرًا على العمل",
        "description": "إضافة بيانات إلى ملف Excel باستخدام رابط ملف Excel عند إضافة البيانات إلى Excel، تسبق عملية إنشاء الورقة إذا كانت ورقة غير موجودة بعد. لذلك، يمكن استخدام هذه الميزة أيضًا لإنشاء الورقة. إذا كنت تريد إنشاء ورقة فقط وإنشاء ملف فارغ بدون أي بيانات، فما عليك سوى تحديد اسم الورقة بدون أي بيانات. عند إضافة صفوف إلى ورقة موجودة بالفعل، من المفترض إضافتها إلى السطر السفلي، لذلك يوصى بالتحقق من البيانات قبل إضافتها. إذا قمت بتوفير fileUrl، فيمكنك تعديله بعد العمل عليه. بعد التعديل، سيتم إصدار الملف كارتباط جديد. رابط يسمح لك بتحديث ملف دون تحميله إذا كنت تعرف رابط الملف في العبارة السابقة، أو إذا تلقيت رابط ملف في العبارة من المستخدم. نظرًا لأن رابط ملف Excel الذي تم إنشاؤه فورًا بعد إنشاء ملف Excel، فإن استدعاء هذا الرابط أكثر فائدة من حيث تجربة المستخدم من إضافة البيانات من خلال التحميل.",
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "description": "أفضل ما في الأمر هو الحصول على بطاقة الائتمان الخاصة بك",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.IInsertExcelRowInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/excel": {
      "post": {
        "summary": " إضافة ملفات وجداول Excel",
        "description": " إضافة ملفات Excel والورقة قم بإنشاء ملف Excel واحصل على الرابط مرة أخرى. يمكنك أيضًا إعادة توجيه هذا الرابط إلى الموصل التالي لعكس التعديلات الإضافية. عند إنشاء ورقة باستخدام هذه الميزة، يتم إنشاء الاسم الافتراضي &quot;Sheet1&quot; إذا كان اسم الورقة لم يتم توفيره.",
        "deprecated": true,
        "tags": [
          "Excel"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IExcel.ICreateSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IExcel.IExportExcelFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/light/excel.svg"
      }
    },
    "/connector/google-docs": {
      "post": {
        "summary": " إنشاء مستندات Google",
        "description": " إنشاء مستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان مستندات Google المراد إنشاؤها",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف فريد لمستندات Google المُنشأة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/permission": {
      "post": {
        "summary": "منح الإذن لمستندات Google",
        "description": "منح الإذن لمستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول منح الإذن لمستندات Google",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IPermissionGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get/{id}": {
      "post": {
        "summary": " قراءة مستندات جوجل",
        "description": " اقرأ محتويات مستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد لمستندات Google"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " محتويات مستندات جوجل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IReadGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/template": {
      "post": {
        "summary": " نسخ مستندات Google",
        "description": " إنشاء مستندات Google جديدة عن طريق نسخ مستندات Google الموجودة",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "description": " روابط إلى مستندات Google للنسخ وعناوين مستندات Google للإنشاء",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف فريد لمستندات Google المُنشأة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.ICreateDocByTemplateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/{id}": {
      "delete": {
        "summary": " حذف مستندات Google",
        "description": " حذف مستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-docs/get-list",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد لمستندات Google المراد حذفها"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/connector/google-docs/get-list": {
      "post": {
        "summary": " احصل على قائمة مستندات Google",
        "description": " احصل على قائمة مستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة مستندات Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDocs.IListGoogleDocsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-docs/append": {
      "post": {
        "summary": " إضافة نص إلى مستندات Google",
        "description": " إضافة نص إلى مستندات Google",
        "tags": [
          "Google Docs"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDocs.IAppendTextGoogleDocsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Google+Docs_full.svg"
      }
    },
    "/internal/google": {
      "get": {
        "description": "طلب إعادة إصدار رمز وصول Google",
        "tags": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/connector/google-sheet": {
      "post": {
        "summary": " احصل على معلومات رأس ورقة Google",
        "description": " احصل على معلومات رأس ورقة Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان URL لـ Google Sheet وفهرس الرأس للحصول عليه",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات رأس ورقة Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/append": {
      "post": {
        "summary": " إضافة محتوى إلى جداول بيانات Google",
        "description": " إضافة محتوى إلى جداول بيانات Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات لإضافة المحتوى",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IAppendToSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg"
      }
    },
    "/connector/google-sheet/create": {
      "post": {
        "summary": " إنشاء ورقة جوجل",
        "description": " إنشاء ورقة Google سيتم إنشاء الورقة التي تم إنشاؤها في مسار جذر Google Drive.",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان الورقة المراد إنشاؤها",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف الورقة التي تم إنشاؤها وعنوان URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.ICreateGoogleSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/permission": {
      "post": {
        "summary": " منح الأذونات إلى جداول بيانات Google",
        "description": " منح الأذونات إلى جداول بيانات Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول منح الأذونات",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IPermissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/header": {
      "post": {
        "summary": "إضافة رأس جدول بيانات Google",
        "description": " إضافة رأس إلى ورقة Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان URL لـ Google Sheet واسم الرأس المراد إضافتهما",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IWriteGoogleSheetHeadersInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/worksheet": {
      "post": {
        "summary": " احصل على قائمة بأوراق عمل Google Sheets",
        "description": " احصل على قائمة بأوراق عمل Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان URL لـ Google Sheets للحصول على قائمة أوراق العمل",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IGetWorkSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-sheet/get-rows": {
      "post": {
        "summary": " الحصول على معلومات الصف من جداول بيانات Google",
        "description": " الحصول على معلومات الصف من جداول بيانات Google",
        "tags": [
          "Google Sheet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات الصف من جداول بيانات Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleSheet.IReadGoogleSheetRowsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleSheet_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/get-list": {
      "post": {
        "summary": " احصل على قائمة تقويمات Google",
        "description": " احصل على قائمة تقويمات Google",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة تقويمات جوجل",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar": {
      "post": {
        "summary": " إنشاء تقويم Google",
        "description": " إنشاء تقويم Google",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [],
        "requestBody": {
          "description": " عنوان التقويم الذي سيتم إنشاؤه",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateCalendarInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "معرف فريد للتقويم وعنوان التقويم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-calendar/{calendarId}": {
      "delete": {
        "summary": " حذف تقويم Google",
        "description": " حذف التقويم",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم الذي سيتم حذفه"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/get-events": {
      "post": {
        "summary": " احصل على قائمة بأحداث تقويم Google",
        "description": " احصل على قائمة الأحداث في تقويم Google",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم للحصول على قائمة الأحداث"
          }
        ],
        "requestBody": {
          "description": " شرط الحصول على قائمة الأحداث",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة بأحداث تقويم Google",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IReadGoogleCalendarEventOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/quick-event": {
      "post": {
        "summary": " إضافة حدث سريع إلى تقويم Google",
        "description": " إضافة حدث سريع إلى تقويم Google",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم الذي سيتم إضافة الحدث إليه"
          }
        ],
        "requestBody": {
          "description": "معرف فريد للتقويم الذي سيتم إضافة الحدث إليه، واسم الحدث",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ICreateQuickEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event": {
      "post": {
        "summary": " إضافة حدث إلى تقويم Google",
        "description": " إضافة حدث إلى تقويم Google",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم الذي سيتم إضافة الحدث إليه"
          }
        ],
        "requestBody": {
          "description": " معلومات عن إضافة الحدث",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات حول الحدث المضاف",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}": {
      "put": {
        "summary": " تعديل حدث في تقويم Google",
        "description": " تعديل حدث",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم الذي يحتوي على الحدث"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للحدث المراد تعديله"
          }
        ],
        "requestBody": {
          "description": " معلومات الحدث المراد تحديثها",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IEventRequestBodyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": " معلومات الحدث المحدثة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      },
      "delete": {
        "summary": " حذف حدث في تقويم Google",
        "description": " حذف حدث",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": "المعرف الفريد للتقويم الذي يحتوي على الحدث"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للحدث المراد حذفه"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-calendar/{calendarId}/event/{eventId}/attendees": {
      "put": {
        "summary": " إضافة الحضور إلى حدث في تقويم Google",
        "description": " إضافة الحضور إلى حدث",
        "tags": [
          "Google Calendar"
        ],
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/get-list",
                "jmesPath": "[].{value:id, label:summary || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للتقويم الذي يقام فيه الحدث"
          },
          {
            "name": "eventId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-calendar/{calendarId}/get-events",
                "jmesPath": "[].{value: id, label: title || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للحدث لإضافة الحضور إليه"
          }
        ],
        "requestBody": {
          "description": " قائمة بعناوين البريد الإلكتروني للمشاركين المراد إضافتهم",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleCalendar.IAddAttendeesToEventInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": " معلومات الحدث مع الحضور المضافين",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleCalendar.IGoogleCalendarEvent"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleCal_full.svg"
      }
    },
    "/connector/google-drive/get/folders": {
      "post": {
        "summary": " احصل على قائمة بمجلدات Google Drive",
        "description": " احصل على قائمة المجلدات في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة مجلدات Google Drive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFolderListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/get/files": {
      "post": {
        "summary": " احصل على قائمة بملفات Google Drive",
        "description": "احصل على قائمة الملفات في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة ملفات Google Drive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IFileListGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder": {
      "post": {
        "summary": " إنشاء مجلد Google Drive",
        "description": " إنشاء مجلد جديد في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " اسم المجلد الذي سيتم إنشاؤه",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف فريد للمجلد الذي تم إنشاؤه",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFolderGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/google-drive/file": {
      "post": {
        "summary": " إنشاء ملف Google Drive",
        "description": " إنشاء ملف جديد في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " اسم الملف الذي سيتم إنشاؤه والمعرف الفريد للمجلد الذي سيتم إنشاء الملف فيه",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IUploadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف فريد للملف الذي تم إنشاؤه",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.ICreateFileGoogleDriveOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/file/{id}": {
      "delete": {
        "summary": " حذف ملف Google Drive",
        "description": " حذف ملف في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": "معرف فريد للملف المراد حذفه"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/folder/{id}": {
      "delete": {
        "summary": " حذف مجلد Google Drive",
        "description": " حذف مجلد في Google Drive",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/folders",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للمجلد الذي سيتم حذفه"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/permission": {
      "post": {
        "summary": " منح إذن Google Drive",
        "description": " يمنح الإذن بالوصول إلى ملف أو مجلد",
        "tags": [
          "Google Drive"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات لمنح الإذن",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.IPermissionGoogleDriveInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/google-drive/get/file/{id}": {
      "post": {
        "summary": " قراءة النص من ملف Google Drive",
        "description": " قراءة النص من ملف",
        "tags": [
          "Google Drive"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/google-drive/get/files",
                "jmesPath": "data[].{value: id || '', label: name || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للملف"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGoogleDrive.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " محتوى النص للملف",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGoogleDrive.IGetFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleDrive_full.svg"
      }
    },
    "/connector/llm/selector-llm": {
      "post": {
        "summary": " حدد الشرط",
        "description": " اختر المرشح الذي يلبي الشروط من المرشحين المذكورين",
        "tags": [
          "Llm"
        ],
        "parameters": [],
        "requestBody": {
          "description": " مدخلات لاختيار المرشحين",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISelectorLlmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "مجموعة من المؤشرات المرشحة المختارة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISelectorLlmResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/LLM_full.svg"
      }
    },
    "/connector/gmail/send": {
      "post": {
        "summary": " إرسال بريد إلكتروني إلى GMAIL",
        "description": "إرسال البريد الإلكتروني Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google. هذا الموصل مخصص لإرسال رسائل البريد الإلكتروني، وإذا أرسلتها كنص بسيط، فسيتم عرض الجمل كسطر طويل واحد، لذا تحتاج إلى إدراج حرف فاصل للسطر. يستخدم التنسيق الحالي `text/html; charset=utf-8` كنوع محتوى. في بعض الحالات، يمكنك استخدام تنسيق HTML. إذا كنت تريد إرفاق ملف، فيجب عليك تحديد اسم الملف والعنوان الذي يتم تخزينه فيه. تتم قراءة الملف المحفوظ كطلب GET داخل الوظيفة، وترميزه ومعالجته.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "المعلومات المطلوبة لإرسال بريد إلكتروني.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف البريد الإلكتروني المرسل.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ISendMailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/draft": {
      "post": {
        "summary": " إنشاء مسودة GMAIL",
        "description": "إنشاء مسودة بريد إلكتروني Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google. هذا الموصل مخصص لإرسال رسائل البريد الإلكتروني، وإذا أرسلتها كنص بسيط، فسيتم عرض الجمل كسطر طويل واحد، لذا تحتاج إلى إدراج حرف فاصل للسطر. يستخدم التنسيق الحالي `text/html; charset=utf-8` كنوع محتوى. في بعض الحالات، يمكنك استخدام تنسيق html. إذا كنت تريد إرفاق ملف، فيجب عليك تحديد اسم الملف والعنوان الذي يتم تخزينه فيه. تتم قراءة الملف المحفوظ كطلب GET داخل الوظيفة، وترميزه ومعالجته.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": "معلومات حول إنشاء مسودة بريد.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ICreateMailInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/reply/{id}": {
      "post": {
        "summary": " الرد على بريد جوجل",
        "description": " الرد على البريد الإلكتروني المستلم Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google. هذا الموصل مخصص لإرسال رسائل البريد الإلكتروني، وإذا أرسلتها كنص بسيط، فسيتم عرض الجمل كسطر طويل واحد، لذا تحتاج إلى إدراج حرف فاصل للسطر. يستخدم التنسيق الحالي `text/html; charset=utf-8` كنوع محتوى. في بعض الحالات، يمكنك أيضًا استخدام تنسيق HTML.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": " المعلومات المطلوبة للرد على رسائل البريد الإلكتروني.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IReplyInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/get/{id}": {
      "post": {
        "summary": "احصل على معلومات GMAIL",
        "description": " احصل على معلومات حول البريد الإلكتروني Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": " معرف فريد للبريد الإلكتروني",
            "description": " معرف فريد للبريد الإلكتروني."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات عن البريد الإلكتروني.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/read-list": {
      "post": {
        "summary": " احصل على قائمة GMAIL",
        "description": " احصل على قائمة بريدية Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات للحصول على قائمة البريد",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IFindEmailListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة البريد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.IFindGmailListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/{id}/hardDelete": {
      "delete": {
        "summary": " حذف البريد",
        "description": "حذف البريد الإلكتروني Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google. تتطلب هذه الوظيفة اهتمامًا خاصًا لأنها تحذف البريد بشكل دائم بدلاً من نقله إلى سلة المهملات. سيرغب معظم المستخدمين في حذف البريد الموجود بالفعل في سلة المهملات. لذلك، إذا أراد المستخدم حذفه، فمن الأفضل توجيهه لنقل البريد إلى سلة المهملات، ولكن إذا كان لا يزال يريد حذفه، فمن الصواب استهداف سلة المهملات.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/{id}": {
      "delete": {
        "summary": " حذف الجيميل",
        "description": "نقل البريد إلى سلة المهملات Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للبريد الإلكتروني الذي سيتم حذفه"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ISecret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/gmail/label": {
      "post": {
        "summary": " إنشاء علامة GMAIL",
        "description": " إنشاء تسمية Gmail هي خدمة بريد إلكتروني مجانية على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول إنشاء ملصق",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.ILabelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معرف فريد للعلامة التي تم إنشاؤها",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IGmail.ILabelOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/gmail/label/{mailId}": {
      "post": {
        "summary": " تعيين علامة GMAIL",
        "description": " تعيين تسمية لبريد إلكتروني Gmail هي خدمة بريد إلكتروني مجانية تعتمد على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "description": " معرف فريد للبريد الذي سيتم تعيين تسمية له"
          }
        ],
        "requestBody": {
          "description": " قائمة بالمعرفات الفريدة للعلامات المراد تعيينها",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      },
      "delete": {
        "summary": "إزالة علامات GMAIL",
        "description": " إزالة العلامات المخصصة للبريد الإلكتروني Gmail هي خدمة بريد إلكتروني مجانية تعتمد على الويب تقدمها Google.",
        "tags": [
          "Gmail"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/gmail/read-list",
                "jmesPath": "data[].{value: id, label: subject || ''}"
              }
            },
            "required": true,
            "title": " معرف فريد للبريد الذي تريد إزالة العلامات منه",
            "description": " معرف فريد للبريد الذي تريد إزالة العلامات منه."
          }
        ],
        "requestBody": {
          "description": " قائمة بالمعرفات الفريدة للعلامات المراد إزالتها.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IGmail.IMailLabelOperationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/GoogleMail_full.svg"
      }
    },
    "/connector/tool/{id}/generate": {
      "post": {
        "summary": " استخدم الأداة",
        "description": " استخدم الأداة هذا الموصل هو موصل خاص الغرض ولا يُستخدم في المواقف العامة. يُستخدم هذا الموصل فقط عند استخدام الأدوات التي تم ترحيلها من Studio 1.0. لا يُستخدم هذا الموصل عند إنشاء تدفقات عمل عامة.",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ITool.IGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ITool.IGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "htthttps://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Tool_full.svg"
      }
    },
    "/connector/chatbot/generate/easy": {
      "post": {
        "summary": " استخدم روبوت المحادثة ذو الصعوبة السهلة",
        "description": "استخدم روبوت محادثة تم إنشاؤه بصعوبة سهلة هذا الموصل هو موصل خاص الغرض ولا يُستخدم في المواقف العامة. يُستخدم هذا الموصل فقط عند استخدام روبوت محادثة تم ترحيله من Studio 1.0. لا يُستخدم هذا الموصل عند إنشاء روبوت محادثة من سير عمل عام.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول استخدام برنامج المحادثة الروبوتية المصمم بصعوبة سهلة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatbotEasyGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " استجابة برنامج المحادثة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://gh-devs-be.s3.ap-northeast-2.amazonaws.com/icon/full/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/chatbot/generate/hard": {
      "post": {
        "summary": " استخدم روبوت المحادثة بمستوى الصعوبة الصعب",
        "description": "استخدم روبوت محادثة تم إنشاؤه بمستوى صعوبة صعب. هذا الموصل هو موصل خاص الغرض ولا يُستخدم في المواقف العامة. يُستخدم هذا الموصل فقط عند استخدام روبوت محادثة تم ترحيله من Studio 1.0. لا يُستخدم هذا الموصل عند إنشاء روبوت محادثة من سير عمل عام.",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "description": " معلومات حول استخدام برنامج المحادثة الروبوتية المصمم بمستوى الصعوبة الصعب",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IChatbot.IChatBotHardGenerateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " استجابة برنامج المحادثة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IChatbot.IChatbotGenerateOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/_Studio1.0Chatbot_full.svg"
      }
    },
    "/connector/figma/get-files": {
      "post": {
        "summary": " استيراد ملفات Figma",
        "description": " استيراد ملفات Figma",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " القيم الشرطية لاستيراد الملفات",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadFileInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة ملفات Figma",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IReadFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/comments": {
      "post": {
        "summary": " اكتب تعليقا داخل اللوحة",
        "description": "اكتب تعليق",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " قيمة الشرط لكتابة تعليق",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IAddCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات حول التعليق الذي كتبته للتو",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-comments": {
      "post": {
        "summary": " احصل على تعليقات Figma",
        "description": " احصل على تعليقات Figma",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " قيمة الشرط للحصول على التعليقات",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IReadCommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة تعليقات Figma",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/projects/{id}/get-canvas": {
      "post": {
        "summary": " البحث عن اللوحات داخل الفريق",
        "description": " احصل على جميع اللوحات الخاصة بمشروع معين اللوحات هي ملفات Figma يديرها فريق معين. يتيح هذا الموصل للمستخدمين رؤية اللوحات التي تتم إدارتها داخل فريق Figma الخاص بهم، بالإضافة إلى أسماء اللوحات وروابط الصور المصغرة.",
        "tags": [
          "Figma"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string",
              "x-wrtn-prerequisite": {
                "method": "post",
                "path": "/connector/figma/get-projects",
                "jmesPath": "proejcts[].{value:id, label:name}"
              }
            },
            "required": true,
            "description": " معرف المشروع الذي سيتم البحث فيه"
          }
        ],
        "requestBody": {
          "description": "شروط البحث عن المشاريع",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.Secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " جميع الملفات في المشروع",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProjectFileOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-statistics": {
      "post": {
        "summary": " استرداد إحصائيات Figma على مستوى الفريق",
        "description": " استرداد إحصائيات على مستوى الفريق",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط استرجاع الإحصائيات على مستوى الفريق",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectStatisticsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " نتائج استرجاع الإحصائيات على مستوى الفريق",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IFigma.IGetStatisticsOutput"
                  }
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/figma/get-projects": {
      "post": {
        "summary": " البحث عن المشاريع داخل الفريق",
        "description": "البحث عن المشاريع داخل فريق كحجة، يجب أن تتلقى teamId، وهو معرف الفريق، ويمكن العثور عليه من خلال النظر إلى مسار URL الخاص بـ figma. عند الوصول إلى الرابط `https://www.figma.com/files/team`، تتم إضافة رقم تلقائيًا بعد كلمة `team`، وهو معرف الفريق. يمكن للمستخدم أن ينتمي إلى فرق متعددة، لذلك إذا كنت لا تريد أتمتة البحث عن هذه المشاريع، فأنت بحاجة إلى الحصول على معرف فريق مختلف.",
        "tags": [
          "Figma"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط البحث عن المشروع",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IFigma.IGetProjectInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة المشاريع",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IFigma.IGetProejctOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Figma_full.svg"
      }
    },
    "/connector/zoom/meetings": {
      "post": {
        "summary": "إنشاء اجتماع زووم",
        "description": "إنشاء اجتماع زووم",
        "tags": [
          "Zoom"
        ],
        "parameters": [],
        "requestBody": {
          "description": " DTO لمعلومات المستخدم وشروط إنشاء اجتماع",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IZoom.ICreateMeetingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " DTO لمعلومات اجتماع Zoom الذي تم إنشاؤه.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MyPartialIZoom.Meeting"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Zoom_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/sweet-tacker/get-companies/recommended": {
      "post": {
        "summary": " ابحث عن قائمة شركات التوصيل المطابقة لرقم الفاتورة",
        "description": "البحث عن قائمة شركات التوصيل المطابقة لرقم الفاتورة يعد رمز شركة التوصيل أمرًا ضروريًا للبحث عن فاتورة. لذلك، إذا كان المستخدم يعرف رقم الفاتورة ولكنه لا يعرف أي شركة توصيل ستسلم طرده، فلن يتمكن من البحث عن الفاتورة. لحل هذه المشكلة، يوفر هذا الموصل وظيفة تستنتج شركة التوصيل المطابقة لرقم الفاتورة. ومع ذلك، حتى إذا تم استدعاء هذه الوظيفة، فقد تظهر شركات توصيل متعددة قد تكون شركات توصيل، لذا فمن المستحيل معرفة الشركة التي ستنقل هذا الطرد. بالطبع، إذا كان هناك هدف واحد فقط في القائمة، فإن احتمال أن يكون هذا هو شركة التوصيل هو 100% تقريبًا.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "شروط البحث عن البريد السريع",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " قائمة شركات التوصيل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetRecommendedCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/get-companies": {
      "post": {
        "summary": " البحث عن قائمة البريد السريع",
        "description": " ابحث عن قائمة شركات الشحن ابحث عن جميع شركات الشحن المحلية والدولية في كوريا. عند البحث عن التوصيل من خلال رقم الفاتورة لاحقًا، ستحتاج إلى رمز شركة الشحن، لذا يجب عليك البحث عن قائمة شركات الشحن أولاً. بعد البحث عن قائمة شركات الشحن، ابحث عن شركة الشحن الخاصة بك وقم بتوفير رمز شركة الشحن عند البحث عن الفاتورة.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": " قائمة شركات التوصيل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetCompanyListOutput"
                }
              }
            }
          }
        },
        "x-wrtn-standalone": true,
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/sweet-tacker/tracking-info": {
      "post": {
        "summary": " البحث عن الفاتورة",
        "description": "البحث عن رقم الفاتورة للبحث عن فاتورة، تحتاج إلى رمز شركة الشحن بالإضافة إلى رقم الفاتورة التي تريد البحث عنها. إذا كنت تعرف شركة الشحن التي ستنقل طردك، فيمكنك البحث عن شركة الشحن والحصول على رمز شركة الشحن من شركة الشحن التي يتطابق اسمها مع رمز شركة الشحن. إذا كنت تعرف رقم الفاتورة ولكنك لا تعرف رمز شركة الشحن، فيمكنك استخدام &quot;البحث عن قائمة شركات الشحن المطابقة لرقم الفاتورة&quot; لاستنتاج شركة الشحن التي ستنقل طردك. عند البحث عن طرد، يمكنك معرفة الموقع الحالي ووقت وصول الطرد، وكذلك من يقوم بنقل الطرد. في بعض الحالات، قد يكون هناك رقم هاتف، لكنه ليس مطلقًا. بالإضافة إلى ذلك، في الحالات التي يتم فيها تسليم المنتج مباشرة من قبل شركة تجارية مثل Coupang، فهناك حالات لا يمكنك فيها البحث حتى إذا كان لديك رقم الفاتورة.",
        "tags": [
          "SweetTracker"
        ],
        "parameters": [],
        "requestBody": {
          "description": "شروط البحث عن رقم الفاتورة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " مسار حركة الحزمة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ISweetTracker.IGetTrackingInfoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/delivery_full.svg"
      }
    },
    "/connector/hancell/sheet": {
      "post": {
        "summary": " تعديل هانسيل",
        "description": " تعديل ورقة هانسيل إذا كانت الورقة موجودة بالفعل، فقم بتعديلها أو إضافتها إذا لم تكن موجودة من قبل.",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات هانسيل للتعديل",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IUpsertSheetInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " رابط للملف الذي تم إنشاؤه حديثًا بعد التعديل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IUpsertSheetOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg"
      }
    },
    "/connector/hancell/read": {
      "post": {
        "summary": " قراءة ملف هانسيل",
        "description": " قراءة ملف هانسيل",
        "tags": [
          "Hancel"
        ],
        "parameters": [],
        "requestBody": {
          "description": " معلومات عن ملف هانسيل للقراءة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IHancell.IReadHancellInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات ملف هانسيل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IHancell.IReadHancellOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/Hancel_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/message/text": {
      "post": {
        "summary": " أرسل رسالة إلى صديق KakaoTalk(카카오톡).",
        "description": "إرسال رسالة نصية من نوع KakaoTalk إلى صديق KakaoTalk هو تطبيق مراسلة للجوال في كوريا الجنوبية، والذي يوفر أيضًا خدمات إضافية متنوعة. إذا لم يتم تحديد من يريد المستخدم إرسال الرسالة إليه، فلا ينبغي إرسالها حسب الرغبة.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط إرسال الرسالة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": " معلومات الاستجابة والفشل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkToFriendsOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg"
      }
    },
    "/connector/kakao-talk/memo/commerce": {
      "post": {
        "summary": " أرسل رسالة لنفسي على KakaoTalk(카카오톡)",
        "description": "يرسل رسالة من نوع التجارة إلى نفسي على KakaoTalk(카카오톡) عند إرسال رسالة KakaoTalk(카카오톡)، توجد أزرار. إذا كنت تريد إضافة رابط إلى الزر، فيجب عليك استخدام عنوان URL يبدأ بـ `https://studio-pro.wrtn.ai/` أو رابط إعادة التوجيه. إذا بدأ الرابط بـ `https://studio-pro.wrtn.ai/`، فسيتم عرض الصفحة، وإلا، فسيتم إعادة التوجيه إلى الرابط الجديد. وذلك لأن الروابط المسجلة في نطاقنا فقط مسموح بها وفقًا لمواصفات واجهة برمجة تطبيقات KakaoTalk(카카오톡). KakaoTalk(카카오톡) هو تطبيق مراسلة محمول في كوريا الجنوبية، والذي يوفر أيضًا خدمات إضافية متنوعة.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط إرسال الرسالة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkCommerceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "رمز الاستجابة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/location": {
      "post": {
        "summary": " أرسل رسالة لنفسي على KakaoTalk(카카오톡)",
        "description": "يرسل رسالة بنوع الموقع إلى نفسي على KakaoTalk(카카오톡) عند إرسال رسالة KakaoTalk(카카오톡)، توجد أزرار. إذا كنت تريد إضافة رابط إلى الزر، فيجب عليك استخدام عنوان URL يبدأ بـ `https://studio-pro.wrtn.ai/` أو رابط إعادة التوجيه. إذا بدأ الرابط بـ `https://studio-pro.wrtn.ai/`، فسيتم عرض الصفحة، وإلا، فسيتم إعادة التوجيه إلى الرابط الجديد. وذلك لأن الروابط المسجلة في نطاقنا فقط مسموح بها وفقًا لمواصفات واجهة برمجة تطبيقات KakaoTalk(카카오톡). KakaoTalk(카카오톡) هو تطبيق مراسلة محمول في كوريا الجنوبية، والذي يوفر أيضًا خدمات إضافية متنوعة.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط إرسال الرسالة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkLocationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "رمز الاستجابة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/list": {
      "post": {
        "summary": " أرسل رسالة لنفسي على KakaoTalk(카카오톡)",
        "description": "يرسل رسالة من نوع القائمة إلى نفسي على KakaoTalk(카카오톡) عند إرسال رسالة KakaoTalk(카카오톡)، توجد أزرار. إذا كنت تريد إضافة رابط إلى الزر، فيجب عليك استخدام عنوان URL يبدأ بـ `https://studio-pro.wrtn.ai/` أو رابط إعادة التوجيه. إذا بدأ الرابط بـ `https://studio-pro.wrtn.ai/`، فسيتم عرض الصفحة، وإلا، فسيتم إعادة التوجيه إلى الرابط الجديد. وذلك لأن الروابط المسجلة في نطاقنا فقط مسموح بها وفقًا لمواصفات واجهة برمجة تطبيقات KakaoTalk(카카오톡). KakaoTalk(카카오톡) هو تطبيق مراسلة محمول في كوريا الجنوبية، والذي يوفر أيضًا خدمات إضافية متنوعة.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط إرسال الرسالة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkListInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "رمز الاستجابة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IKakaoTalk.IMemoOutput"
                }
              }
            }
          }
        },
        "x-wrtn-icon": "https://ecosystem-connector.s3.ap-northeast-2.amazonaws.com/icon/fulls/kakaoTalk_full.svg",
        "x-wrtn-standalone": true
      }
    },
    "/connector/kakao-talk/memo/feed": {
      "post": {
        "summary": " أرسل رسالة لنفسي على KakaoTalk(카카오톡)",
        "description": "يرسل رسالة من نوع موجز إلى نفسي على KakaoTalk(카카오톡) عند إرسال رسالة KakaoTalk(카카오톡)، توجد أزرار. إذا كنت تريد إضافة رابط إلى الزر، فيجب عليك استخدام عنوان URL يبدأ بـ `https://studio-pro.wrtn.ai/` أو رابط إعادة التوجيه. إذا بدأ الرابط بـ `https://studio-pro.wrtn.ai/`، فسيتم عرض الصفحة، وإلا، فسيتم إعادة التوجيه إلى الرابط الجديد. وذلك لأن الروابط المسجلة في نطاقنا فقط مسموح بها وفقًا لمواصفات واجهة برمجة تطبيقات KakaoTalk(카카오톡). KakaoTalk(카카오톡) هو تطبيق مراسلة محمول في كوريا الجنوبية، والذي يوفر أيضًا خدمات إضافية متنوعة.",
        "tags": [
          "KakaoTalk"
        ],
        "parameters": [],
        "requestBody": {
          "description": " شروط إرسال الرسالة",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IKakaoTalk.ISendKakaoTalkFeedInput"
              }
            }
          },
[...]
