{
  "openapi": "3.1.0",
  "info": {
    "title": "مواصفات داموا API",
    "description": "مواصفات داموا API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.queenit.kr",
      "description": "إنتاج"
    },
    {
      "url": "https://api.dev.queenit.kr",
      "description": "تطوير"
    },
    {
      "url": "http://localhost:8080",
      "description": "محلي"
    },
    {
      "url": "https://{namespace}-app-api.dev.rapportlabs.cloud",
      "variables": {
        "namespace": {
          "default": "damoa"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "metadata",
      "description": "واجهة برمجة تطبيقات البيانات الوصفية"
    },
    {
      "name": "verification",
      "description": "واجهة برمجة تطبيقات التحقق"
    },
    {
      "name": "hello",
      "description": "مرحبا API"
    },
    {
      "name": "favorite",
      "description": "واجهة برمجة التطبيقات المفضلة"
    },
    {
      "name": "best",
      "description": "أفضل واجهة برمجة التطبيقات"
    },
    {
      "name": "product",
      "description": "واجهة برمجة تطبيقات المنتج"
    },
    {
      "name": "ageGroup",
      "description": "واجهة برمجة تطبيقات المجموعة العمرية"
    },
    {
      "name": "home",
      "description": "واجهة برمجة التطبيقات الرئيسية"
    },
    {
      "name": "newArrival",
      "description": "واجهة برمجة تطبيقات الوصول الجديدة"
    },
    {
      "name": "hotDeal",
      "description": "واجهة برمجة تطبيقات الصفقة الساخنة"
    },
    {
      "name": "recommendation",
      "description": "واجهة برمجة التطبيقات للتوصية"
    },
    {
      "name": "promotion",
      "description": "واجهة برمجة التطبيقات الترويجية"
    },
    {
      "name": "cart",
      "description": "واجهة برمجة تطبيقات سلة التسوق"
    },
    {
      "name": "account",
      "description": "واجهة برمجة تطبيقات الحساب"
    },
    {
      "name": "order",
      "description": "واجهة برمجة التطبيقات للطلب"
    },
    {
      "name": "payment",
      "description": "واجهة برمجة تطبيقات الدفع"
    },
    {
      "name": "banner",
      "description": "واجهة برمجة تطبيقات بانر"
    },
    {
      "name": "collection",
      "description": "واجهة برمجة تطبيقات التجميع"
    },
    {
      "name": "search",
      "description": "واجهة برمجة تطبيقات البحث"
    },
    {
      "name": "autocomplete",
      "description": "واجهة برمجة تطبيقات الإكمال التلقائي"
    },
    {
      "name": "coupon",
      "description": "قسيمة API"
    },
    {
      "name": "review",
      "description": "مراجعة واجهة برمجة التطبيقات"
    },
    {
      "name": "reviewStatistics",
      "description": "واجهة برمجة تطبيقات إحصائيات المراجعة"
    },
    {
      "name": "userProfile",
      "description": "واجهة برمجة تطبيقات ملف تعريف المستخدم"
    },
    {
      "name": "image",
      "description": "واجهة برمجة تطبيقات الصور"
    },
    {
      "name": "prompt",
      "description": "واجهة برمجة التطبيقات السريعة"
    },
    {
      "name": "shopLive",
      "description": "واجهة برمجة تطبيقات ShopLive"
    },
    {
      "name": "point",
      "description": "نقطة API"
    },
    {
      "name": "productRanking",
      "description": "واجهة برمجة تطبيقات ترتيب المنتجات"
    },
    {
      "name": "tier",
      "description": "واجهة برمجة التطبيقات للطبقة"
    },
    {
      "name": "styleShot",
      "description": "أسلوب لقطة API"
    },
    {
      "name": "attendanceCheck",
      "description": "التحقق من الحضور API"
    },
    {
      "name": "tag",
      "description": "واجهة برمجة التطبيقات للعلامة"
    }
  ],
  "paths": {
    "/metadata": {
      "get": {
        "description": "واجهة برمجة تطبيقات البيانات الوصفية",
        "operationId": "getMetadata",
        "tags": [
          "metadata"
        ],
        "responses": {
          "200": {
            "description": "استجابة البيانات الوصفية",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello": {
      "get": {
        "summary": "مرحبا بالعالم",
        "operationId": "hello",
        "tags": [
          "hello"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح مرحبا",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications/sms": {
      "post": {
        "summary": "إرسال رمز التحقق عبر رسالة نصية قصيرة [رقم هاتف غير صالح -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "sendVerifCodeBySms",
        "tags": [
          "verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVerifCodeRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "نجاح إرسال رمز التحقق",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVerifCodeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications": {
      "put": {
        "summary": "رمز التحقق [رمز مميز أو رمز غير صالح -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "verifyCode",
        "tags": [
          "verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCodeRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح في التحقق من الرمز",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCodeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications/kakao": {
      "put": {
        "summary": "التحقق من رمز وصول kakao",
        "operationId": "verifyKakaoToken",
        "tags": [
          "verification"
        ],
        "description": "- بالنسبة للمستخدمين الذين تمت مصادقتهم من خلال تسجيل الدخول إلى Kakao، اطلب رمزًا تم التحقق منه باستخدام رمز الوصول إلى Kakao API الصادر ورقم الهاتف - رقم الهاتف بتنسيق الاتصال الدولي (على سبيل المثال +82 10-1111-1111) - استخدم تسجيل الدخول/الاشتراك للرمز الذي تم التحقق منه بواسطة استدعاء واجهة برمجة تطبيقات SignUpV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyKakaoTokenRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح للتحقق",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyKakaoTokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/migrate-user": {
      "post": {
        "summary": "مستخدم مصادقة Firebase -&gt; تحويل مستخدم مصادقة داموا",
        "description": "&gt; تحويل المستخدمين الذين استخدموا مصادقة firebase في عميل الإصدار الأقدم الحالي لاستخدام مصادقة damoa عند استلام رمز وصول مصادقة firebase، يتم نقل معلومات المستخدم إلى مصادقة damoa ويتم توفير المعلومات لاستخدام رمز الوصول/التحديث الخاص بـ damoa 1 (Client ) إذا كانت هناك معلومات مصادقة firebase، فقم بتحديث رمز مصادقة firebase الموجود 2. (العميل) اتصل بنقطة نهاية منفصلة محددة على جانب الخادم للتبديل من مستخدم مصادقة firebase إلى مستخدم مصادقة damoa (يلزم تسجيل الدخول) 3. (الخادم) تحقق من بائع الرمز المميز في معلومات رمز الوصول المرسلة من قبل العميل -&gt; تحقق مما إذا كان قد تم إصداره بواسطة Firebase أو damoa 4. (الخادم) إذا تم التأكد من أنه رمز مميز صادر عن Firebase -&gt; تحقق مما إذا كان رمز الوصول صالحًا أم لا 5. (الخادم) إذا تم التأكد من صحة رمز الوصول -&gt; احفظ معلومات مستخدم مصادقة firebase في جدول مستخدم مصادقة damoa 6. (الخادم) بعد حفظ معلومات مستخدم مصادقة firebase في جدول مستخدم damoa auth، damoa auth A يتم إرسال الرمز المميز (الوصول والتحديث) كرد 7. (العميل) استخدم رمز مصادقة damoa عند تسجيل الدخول (مجموعة رأس طلب &quot;التفويض&quot;)، يتم إرسال رمز الوصول في نص الطلب.",
        "operationId": "migrateUser",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirebaseAuthUserMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح في ترحيل المستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "204": {
            "description": "إذا كنت بالفعل مستخدم مصادقة damoa"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signin/anonymous": {
      "post": {
        "summary": "قم بتسجيل الدخول كمستخدم مجهول",
        "description": "قم بتسجيل الدخول كمستخدم مجهول [رمز مميز غير صالح -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "signInAnonymously",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "النجاح في تسجيل الدخول بشكل مجهول",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signup/providers/{providerType}": {
      "post": {
        "summary": "تسجيل دخول/تسجيل مستخدم مصادق عليه",
        "description": "- يتم الاتصال به عندما يقوم مستخدم مسجل مسبقًا بتسجيل الدخول مرة أخرى أو الاشتراك من جديد - يدعم حاليًا `SMS` و`KAKAO` كـ &quot;providerType&quot; - يحدث خطأ إذا تم استخدام ProviderType مختلف - سيتم استخدام موفري المصادقة الآخرين (facebook، ..) يمكن إضافتها في المستقبل وما إلى ذلك - أدخل رمز الوصول الذي تم إصداره بعد استدعاء واجهة برمجة التطبيقات للتسجيل المجهول في معلومات التفويض التي تم إدخالها في رأس الطلب - تنسيق `Bearer {{onymous Access Token }}` - رمز الوصول الصادر من خلال مصادقة Firebase لا يمكن استخدامها",
        "operationId": "signUpV2",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "providerType",
            "schema": {
              "$ref": "#/components/schemas/ProviderTypeEnum"
            },
            "required": true,
            "description": "مزود المصادقة (SMS، KAKAO، ..)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح في الاشتراك",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refresh": {
      "post": {
        "summary": "تجديد رمز الوصول/التحديث للمستخدمين المصادق عليهم أو المجهولين",
        "description": "تجديد رمز الوصول/التحديث للمستخدمين المصادق عليهم أو المجهولين",
        "operationId": "refreshToken",
        "tags": [
          "account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DamoaTokenRefreshRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح في تحديث الرموز",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "يستخدم للبحث عن معلومات حساب المستخدم",
        "description": "يمكن فقط للمستخدمين الذين يستخدمون damoa auth استخدامه بشكل طبيعي (بما في ذلك المستخدمين المجهولين).",
        "operationId": "getDamoaLoginAccount",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح في استرداد معلومات الحساب",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginAccountDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signout": {
      "post": {
        "summary": "تسجيل الخروج",
        "operationId": "signOut",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح في تسجيل الخروج"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "تسجيل الخروج",
        "operationId": "logout",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح في تسجيل الخروج"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external-uid": {
      "get": {
        "summary": "الحصول على معرف خارجي",
        "description": "يتم إرجاع معرف مستخدم خارجي يمكن استخدامه للاتصال بواجهة برمجة التطبيقات الخارجية للمستخدم..",
        "operationId": "getExternalUid",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "معرف خارجي",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalUidDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods": {
      "get": {
        "summary": "الحصول على طرق الدفع المسجلة",
        "description": "يتم إرجاع قائمة طرق الدفع التي سجلها المستخدم في Queen It Pay..",
        "operationId": "getPaymentMethods",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "طرق الدفع المسجلة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credentials/connect-pay": {
      "get": {
        "summary": "الحصول على بيانات اعتماد الاتصال الدفع",
        "description": "يتم إرجاع بيانات الاعتماد لاستخدام ConnectPay JS SDK..",
        "operationId": "getConnectPayCredentials",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "قم بتوصيل مفتاح العميل المدفوع ومفتاح العميل الخاص بالمستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectPayCredentialDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "summary": "الحصول على المفضلة",
        "operationId": "getMyFavorites",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- قائمة منتجاتي المفضلة - عند تطبيق الخصم الفوري لـ Queen It، يُظهر &quot;FavoriteProductDto&quot; المبلغ مع تطبيق الخصم الفوري - الحقول المتأثرة: &quot;price&quot;، و&quot;productDiscountRate&quot;",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites/{productId}": {
      "delete": {
        "summary": "حذف المفضلة",
        "operationId": "deleteMyFavorite",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح في الحذف"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "إضافة المفضلة",
        "operationId": "addMyFavorite",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "النجاح في الإضافة"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/products": {
      "get": {
        "summary": "احصل على أفضل المنتجات لفترة محددة الأخيرة",
        "operationId": "getBestAppProducts",
        "tags": [
          "best"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "required": true,
            "description": "أفضل المنتجات لهذه الفترة",
            "name": "period",
            "schema": {
              "$ref": "#/components/schemas/BestPeriodEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "رمز العمر.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          }
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- احصل على أفضل المنتجات لفترة محددة حديثة - إذا تم تطبيق الخصم الفوري لـ Queenit، فإن `AppProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/brands/v2": {
      "get": {
        "summary": "احصل على أفضل العلامات التجارية لفترة محددة الأخيرة",
        "operationId": "getBestAppBrands",
        "tags": [
          "best"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "required": true,
            "description": "أفضل العلامات التجارية لهذه الفترة",
            "name": "period",
            "schema": {
              "$ref": "#/components/schemas/BestPeriodEnum"
            }
          },
          {
            "in": "query",
            "description": "رمز العمر.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          }
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "احصل على أفضل العلامات التجارية لفترة محددة الأخيرة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestBrandListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/WooRanking": {
      "get": {
        "summary": "احصل على منتجات ذات تصنيف رائع - تم إهمالها",
        "operationId": "getWooRankingProducts",
        "tags": [
          "best"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "منتجات تصنيف وو - تم إهمالها",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/brands": {
      "get": {
        "summary": "الحصول على العلامات التجارية الترويجية",
        "operationId": "getPromotedBrands",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "العلامات التجارية الترويجية",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/products": {
      "get": {
        "summary": "الحصول على منتجات الترويج",
        "operationId": "getPromotionProducts",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- المنتجات الترويجية - إذا تم تطبيق خصم Queenit الفوري، فإن `ProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/connect-pay": {
      "get": {
        "summary": "احصل على عروض Connect Pay الترويجية",
        "operationId": "getConnectPayPromotions",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "العروض الترويجية لخصم بطاقة Connect-Pay وسياسات التقسيط بدون فوائد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectPayPromotionDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/toss": {
      "get": {
        "summary": "الحصول على العروض الترويجية للمدفوعات",
        "operationId": "getTossPromotions",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "إرم سياسات العروض الترويجية للخصم وسياسات التقسيط بدون فوائد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TossPaymentPromotionDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/newArrivals/products": {
      "get": {
        "summary": "احصل على منتجات وصول جديدة - تم إهمالها",
        "operationId": "getNewArrivalProducts",
        "tags": [
          "newArrival"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "منتجات جديدة - مهملة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/products/discounted": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "يرجى ضبط orderBy على RECOMMENDATION كقيمة افتراضية.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "احصل على منتجات ترويجية مخفضة حسب معلمات الطلب",
        "operationId": "getDiscountedPromotionProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- منتجات ترويجية مخفضة حسب معلمات orderBy - إذا تم تطبيق الخصم الفوري لـ Queenit، فإن `AppProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/discount-benefits": {
      "get": {
        "summary": "الحصول على معلومات فوائد الخصم للمنتج",
        "operationId": "getProductDiscountBenefits",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "نتيجة معلومات فوائد الخصم للمنتج",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDiscountBenefitsDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/shopping-mall": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "يرجى ضبط orderBy على RECOMMENDATION كقيمة افتراضية.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "احصل على منتجات مراكز التسوق حسب معلمات الطلب",
        "operationId": "getShoppingMallProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- منتجات مراكز التسوق حسب معلمات orderBy - عند تطبيق الخصم الفوري لـ Queenit، يعرض `AppProductDto&#39; المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/keyword-related": {
      "get": {
        "summary": "إرجاع المنتجات ذات الصلة وفقًا للكلمات الرئيسية.",
        "operationId": "getKeywordRelatedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "معلمات التصحيح. إذا كانت القيمة صحيحة، فسيتم تسجيل السجل بمزيد من التفاصيل..",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "نتائج المنتجات ذات الصلة بالكلمات الرئيسية",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/related": {
      "get": {
        "summary": "إرجاع المنتجات ذات الصلة بناءً على شروط محددة.",
        "operationId": "getRelatedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "relationTargetProductIds",
            "description": "إرجاع المنتجات المرتبطة بالمنتجات التي تم تمريرها في هذه المعلمة..",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "معلمات التصحيح. إذا كانت القيمة صحيحة، فسيتم تسجيل السجل بمزيد من التفاصيل..",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "نتائج المنتجات ذات الصلة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/personalized/products": {
      "post": {
        "deprecated": true,
        "summary": "احصل على منتجات شخصية تمت تصفيتها",
        "operationId": "getFilteredPersonalizedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilteredPersonalizedProductRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "- احصل على منتجات مخصصة تمت تصفيتها حسب المعلمات",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "يرجى ضبط orderBy على RECOMMENDATION كقيمة افتراضية.",
            "name": "orderBy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "رمز العمر.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagId",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "description": "(مهمل) استخدم tagIdForBrandSourcing",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagIdForBrandSourcing",
            "schema": {
              "description": "ابحث عن المنتجات عن BrandSourcingCode المتوافق مع tagId",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "clickedProductIds",
            "description": "- المنتجات التي تم النقر عليها. يتم استخدامه لتوفير المنتجات الشخصية. - يجب تمرير المعلمة clickedProductAtMillis معًا لنقل المعلومات حول وقت النقر على كل منتج..",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "clickedProductAtMillis",
            "description": "- الأوقات التي تم فيها النقر على المنتجات. تتوافق كل مرة مع معلمة ClickedProductIds. - يجب أن يكون حجم معلمات ClickedProductIds ومعلمات ClickedProductAtMillis هو نفسه دائمًا..",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "int64"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "modelId",
            "description": "- ما هو نموذج التخصيص الذي يجب استخدامه؟ (لاختبار A/B) - مرجع الفكرة: https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "postProcessingId",
            "description": "- كيفية المعالجة اللاحقة لنتائج التخصيص. (لاختبار A/B) - مرجع الفكرة: https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "معلمات التصحيح. إذا كانت القيمة صحيحة، فسيتم تسجيل السجل بمزيد من التفاصيل..",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "summary": "احصل على منتجات توصية مخصصة حسب الفلتر",
        "operationId": "getPersonalizedRecommendationProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- احصل على منتجات توصية مخصصة حسب عوامل التصفية والترتيب",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/refined": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "يرجى ضبط orderBy على RECOMMENDATION كقيمة افتراضية.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "description": "رمز العمر.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "description": "قائمة معرفات سمات المنتج للتصفية",
            "required": false,
            "name": "productFeatureIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "deprecated": true,
            "required": false,
            "description": "(مهمل) استخدم EnableTotalCount، EnableProductFeatureAggregation، EnableProductCategoryAggregation، EnableBrandAggregation.",
            "name": "enabledProductAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "اضبط على &quot;صحيح&quot; إذا كان العدد الإجمالي مطلوبًا في تجميع المنتج..",
            "name": "enabledTotalCount",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "اضبط على &quot;صحيح&quot; إذا كان عدد سمات المنتج مطلوبًا في تجميع المنتج..",
            "name": "enabledProductFeatureAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "قم بالتعيين على &quot;صحيح&quot; إذا كان عدد المنتجات لكل فئة مطلوبًا في تجميع المنتجات..",
            "name": "enabledProductCategoryAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "قم بالتعيين على &quot;صحيح&quot; إذا كان عدد العلامات التجارية مطلوبًا في تجميع المنتجات..",
            "name": "enabledBrandAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "(مهمل) استخدم المعلمة tagIdForBrandSourcing",
            "name": "tagId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagIdForBrandSourcing",
            "schema": {
              "description": "ابحث عن المنتجات عن BrandSourcingCode المتوافق مع tagId",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "معرفات لمرشح علامة المنتج",
            "name": "tagIdsForProductTag",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "معلمة لكشف المنتجات التي لا تحتوي على علامات المنتج أيضًا",
            "name": "allowProductsWithoutTags",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "احصل على المنتجات المكررة حسب عوامل التصفية والترتيب",
        "operationId": "getRefinedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- احصل على المنتجات المكررة حسب عامل التصفية ومعلمات orderBy - إذا تم تطبيق الخصم الفوري لـ Queenit، فإن `AppProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/advertisement": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "يرجى ضبط orderBy على RECOMMENDATION كقيمة افتراضية.",
            "name": "orderBy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "احصل على منتجات إعلانية حسب عوامل التصفية والترتيب",
        "operationId": "getAdvertisementProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- احصل على منتجات إعلانية حسب عوامل التصفية والترتيب",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAdvertisementProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/detail/advertisement": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "احصل على منتجات إعلانية حسب عوامل التصفية والترتيب",
        "operationId": "getAdvertisementProductDetail",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- الحصول على المنتجات الإعلانية في PDP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAdvertisementProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "summary": "الحصول على المنتجات حسب معلمة ids",
        "description": "(عدد المعرفات يزيد عن 40 -&gt; ApiErrorResponseCode.LIMITATION_EXCEEDED)",
        "operationId": "getProducts",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "- المنتجات (الفريدة وغير المطلوبة) حسب المعرفات - إذا تم تطبيق خصم Queenit الفوري، فإن `ProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSetDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/similar/v2": {
      "get": {
        "summary": "الحصول على منتج مماثل يعتمد على الصور (الإصدار الثاني)",
        "operationId": "getImageBasedSimilarProductsV2",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "modelId",
            "required": false,
            "description": "النموذج الذي للاستخدام. https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1?pvs=4",
            "schema": {
              "type": "string",
              "default": "TAG_SIM"
            }
          },
          {
            "in": "query",
            "name": "postProcessingId",
            "description": "كيفية القيام بمرحلة ما بعد المعالجة. https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1?pvs=4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "معلمات التصحيح. إذا كانت القيمة صحيحة، فسيتم تسجيل السجل بمزيد من التفاصيل..",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- تنزيل منتجات مماثلة بناءً على الصور. (نخطط لمقارنته بالإصدار 1 وإهمال إصدارات معينة اعتمادًا على النتائج)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/similar": {
      "get": {
        "summary": "احصل على منتج مماثل يعتمد على الصورة",
        "operationId": "getImageBasedSimilarProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- تنزيل منتجات مماثلة بناءً على الصور.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/outfit": {
      "get": {
        "summary": "احصل على منتج الزي القائم على الصورة",
        "operationId": "getImageBasedOutfitProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- يوفر منتجات التنسيق القائمة على الصور.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hotDeals/products": {
      "get": {
        "summary": "احصل على منتجات hotDeal",
        "operationId": "getHotDealProducts",
        "tags": [
          "hotDeal"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- منتجات الصفقات الساخنة - عند تطبيق خصم Queenit الفوري، يعرض `ProductDto` المبلغ مع تطبيق الخصم الفوري - الحقول المتأثرة: `السعر النهائي`، `النسبة المئوية للخصم`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/categories": {
      "get": {
        "summary": "الحصول على فئات المنتجات الموصى بها",
        "operationId": "getRecommendationCategories",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "فئات التوصية",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductCategoryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/categories/{categoryId}/products": {
      "get": {
        "summary": "الحصول على المنتجات الموصى بها",
        "operationId": "getRecommendedProductsByCategory",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- المنتجات الموصى بها - عند تطبيق خصم Queenit الفوري، يعرض `ProductDto` المبلغ مع تطبيق الخصم الفوري - الحقول المتأثرة: `السعر النهائي`، `النسبة المئوية للخصم`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/products": {
      "get": {
        "summary": "الحصول على المنتجات الموصى بها",
        "operationId": "getRecommendedProducts",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- المنتجات الموصى بها - عند تطبيق خصم Queenit الفوري، يعرض `ProductDto` المبلغ مع تطبيق الخصم الفوري - الحقول المتأثرة: `السعر النهائي`، `النسبة المئوية للخصم`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tag-groups": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TagTypeEnum"
            }
          }
        ],
        "summary": "الحصول على مجموعات العلامات حسب النوع",
        "description": "استرداد معلومات مجموعة العلامات وفقًا للمعلمات",
        "operationId": "getTagGroups",
        "tags": [
          "tag"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة مجموعة العلامات",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagGroupListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TagTypeEnum"
            }
          },
          {
            "in": "query",
            "name": "groupId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "summary": "الحصول على العلامات",
        "description": "الحصول على معلومات العلامة.",
        "operationId": "getTags",
        "tags": [
          "tag"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "الحصول على معلومات العلامة وفقا للشروط.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/release-estimate": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "احصل على إصدار تقدير المنتج في",
        "operationId": "getProductEstimateRelease",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "تتبع إصدار تقدير المنتج الناجح",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductReleaseEstimateDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/page": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "تحميل صفحة المنتج",
        "operationId": "uploadProductPage",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadProductPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح للتحميل"
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "الحصول على المنتج",
        "operationId": "getProduct",
        "description": "(لا يمكن العثور على المنتج -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND)",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- المنتج - إذا تم تطبيق خصم Queenit الفوري، فإن `ProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/personal": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "الحصول على المنتج الشخصي",
        "description": "(لا يمكن العثور على المنتج -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND)",
        "operationId": "getPersonalProduct",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- إذا تم تطبيق خصم Queenit الفوري، فإن `ProductDto` يعرض المبلغ مع الخصم الفوري المطبق - الحقول المتأثرة: `finalPrice`، `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalProductDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/items": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "الحصول على عناصر المنتج",
        "operationId": "getProductItems",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "تم البحث في قائمة عناصر المنتج (خيارات المنتج) بنجاح",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItemListDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/item-availabilities": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "الحصول على قائمة توفر عناصر المنتج",
        "description": "إرجاع قائمة بخيارات المنتج لمدى توفر الشراء للمنتج المقابل",
        "operationId": "getProductItemAvailabilityList",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة بتوفر خيارات المنتج",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductItemAvailabilityDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/birth-year": {
      "post": {
        "summary": "حفظ سنة الميلاد للمستخدم",
        "description": "حفظ سنة الميلاد في ملف تعريف المستخدم",
        "operationId": "saveUserBirthYear",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBirthYearDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "سنة ميلاد المستخدم المحفوظة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBirthYearDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/body-size": {
      "post": {
        "summary": "حفظ حجم الجسم للمستخدم",
        "description": "حفظ حجم الجسم",
        "operationId": "saveUserBodySize",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBodySizeDataDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "حفظ حجم الجسم للمستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBodySizeDataDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/profile": {
      "get": {
        "summary": "الحصول على ملف تعريف المستخدم",
        "description": "(لا يمكن العثور على ملف تعريف المستخدم -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND)",
        "operationId": "getUserProfile",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "ملف تعريف المستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/delivery-addresses": {
      "get": {
        "summary": "الحصول على عنوان تسليم المستخدم",
        "description": "استرداد القائمة الكاملة لعناوين الشحن الخاصة بالمستخدم (مصنفة حسب &quot;تم الاسترجاع&quot;)",
        "operationId": "getUserDeliveryAddresses",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة عناوين تسليم المستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDeliveryAddressDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "إضافة عنوان تسليم المستخدم",
        "description": "- أضف معلومات عنوان الشحن الخاصة بالمستخدم أو قم بتحديث &quot;تم الاسترجاع في&quot; - قم بالتحديث فقط إذا كان العنوان وطلب الشحن متطابقين بين قائمة عناوين الشحن المسجلة بالفعل",
        "operationId": "addUserDeliveryAddress",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDeliveryAddressAddRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "النجاح في إضافة عنوان تسليم المستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeliveryAddressDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tier": {
      "get": {
        "summary": "الحصول على طبقة المستخدم",
        "operationId": "getTier",
        "tags": [
          "tier"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "الحصول على طبقة المستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tier/next": {
      "get": {
        "summary": "الحصول على معلومات المستوى التالي للمستخدم",
        "operationId": "getNextTierInfo",
        "tags": [
          "tier"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "الحصول على معلومات المستوى التالي للمستخدم",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NextTierInfoDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{imageCategory}/uploadable-url": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        },
        {
          "in": "query",
          "required": true,
          "name": "filename",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "قم بإنشاء عنوان URL قابل للتحميل لتحميل الصور للمستخدم الذي قام بتسجيل الدخول",
        "operationId": "generateImageUploadableUrl",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "عنوان URL للصورة القابلة للتحميل",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadableImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "filename",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/images/{imageCategory}": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        }
      ],
      "post": {
        "deprecated": true,
        "description": "(مهمل) يرجى استخدام generatorImageUploadableUrl بدلاً من واجهة برمجة التطبيقات هذه",
        "summary": "تحميل الصور للمستخدم تسجيل الدخول",
        "operationId": "uploadImage",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "تحميل الصورة",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          }
        ]
      }
    },
    "/images/{imageCategory}/base64": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        }
      ],
      "post": {
        "summary": "تحميل الصور كقاعدة 64 لتسجيل الدخول للمستخدم",
        "operationId": "uploadImageBase64",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ImageUploadRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "تحميل الصورة كقاعدة64",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "فشل في الحصول على رد",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          }
        ]
      }
    },
    "/products/{productId}/reviews": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
[...]
