{
  "openapi": "3.1.0",
  "info": {
    "title": "Damoa API 仕様",
    "description": "Damoa API 仕様",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.queenit.kr",
      "description": "production"
    },
    {
      "url": "https://api.dev.queenit.kr",
      "description": "開発"
    },
    {
      "url": "http://localhost:8080",
      "description": "local"
    },
    {
      "url": "https://{namespace}-app-api.dev.rapportlabs.cloud",
      "variables": {
        "namespace": {
          "default": "damoa"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "metadata",
      "description": "metadata api"
    },
    {
      "name": "verification",
      "description": "verification api"
    },
    {
      "name": "hello",
      "description": "hello api"
    },
    {
      "name": "favorite",
      "description": "favorite api"
    },
    {
      "name": "best",
      "description": "best api"
    },
    {
      "name": "product",
      "description": "product api"
    },
    {
      "name": "ageGroup",
      "description": "ageGroup api"
    },
    {
      "name": "home",
      "description": "home api"
    },
    {
      "name": "newArrival",
      "description": "new arrival api"
    },
    {
      "name": "hotDeal",
      "description": "hot deal api"
    },
    {
      "name": "recommendation",
      "description": "recommendation api"
    },
    {
      "name": "promotion",
      "description": "promotion api"
    },
    {
      "name": "cart",
      "description": "cart api"
    },
    {
      "name": "account",
      "description": "account api"
    },
    {
      "name": "order",
      "description": "order api"
    },
    {
      "name": "payment",
      "description": "payment api"
    },
    {
      "name": "banner",
      "description": "banner api"
    },
    {
      "name": "collection",
      "description": "collection api"
    },
    {
      "name": "search",
      "description": "search api"
    },
    {
      "name": "autocomplete",
      "description": "autocomplete api"
    },
    {
      "name": "coupon",
      "description": "coupon api"
    },
    {
      "name": "review",
      "description": "review api"
    },
    {
      "name": "reviewStatistics",
      "description": "reviewStatistics api"
    },
    {
      "name": "userProfile",
      "description": "user profile api"
    },
    {
      "name": "image",
      "description": "image api"
    },
    {
      "name": "prompt",
      "description": "prompt api"
    },
    {
      "name": "shopLive",
      "description": "shopLive api"
    },
    {
      "name": "point",
      "description": "point api"
    },
    {
      "name": "productRanking",
      "description": "productRanking api"
    },
    {
      "name": "tier",
      "description": "tier api"
    },
    {
      "name": "styleShot",
      "description": "style shot api"
    },
    {
      "name": "attendanceCheck",
      "description": "attendance check api"
    },
    {
      "name": "tag",
      "description": "tag api"
    }
  ],
  "paths": {
    "/metadata": {
      "get": {
        "description": "metadata api",
        "operationId": "getMetadata",
        "tags": [
          "metadata"
        ],
        "responses": {
          "200": {
            "description": "metadata response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello": {
      "get": {
        "summary": "hello world",
        "operationId": "hello",
        "tags": [
          "hello"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "success to hello",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications/sms": {
      "post": {
        "summary": "send verification code by sms [invalid phone number -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "sendVerifCodeBySms",
        "tags": [
          "verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVerifCodeRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to send verification code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVerifCodeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications": {
      "put": {
        "summary": "verify code [invalid token or code -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "verifyCode",
        "tags": [
          "verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCodeRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to verify code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCodeResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verifications/kakao": {
      "put": {
        "summary": "verify kakao access token",
        "operationId": "verifyKakaoToken",
        "tags": [
          "verification"
        ],
        "description": "- カカオログインで認証したユーザーの場合、発行されたカカオAPIアクセストークンと電話番号を使用してverifiedTokenを要求 - 電話番号は国際電話形式（例：+82 10-1111-1111） - 発行されたverifiedTokenを使用してsignUpV2 APIを呼び出してログイン/会員登録を進める",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyKakaoTokenRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to verify",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyKakaoTokenResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/migrate-user": {
      "post": {
        "summary": "firebase auth user -&gt; damoa auth user 切り替え",
        "description": "&gt;既存の古いバージョンのクライアントでfirebase authを使用していたユーザーをdamoa authを使用するように切り替えます。 （クライアント）firebase auth情報がある場合は、既存のfirebase auth tokenをリフレッシュします。 （サーバー）クライアントが送信したアクセストークン情報でトークンベンダーを確認する -&gt; firebaseで発行されたのか、damoaで発行されたのかを確認するもっとチェックするtoken(access &amp; refresh)をresponseに送る 7. (クライアント) damoa auth tokenを使う",
        "operationId": "migrateUser",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirebaseAuthUserMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to migrate user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "204": {
            "description": "すでにdamoa auth userの場合"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signin/anonymous": {
      "post": {
        "summary": "anonymous ユーザーとしてログイン",
        "description": "anonymous ユーザーとしてログインする [invalid token -&gt; ApiErrorType.INVALID_VALUE]",
        "operationId": "signInAnonymously",
        "tags": [
          "account"
        ],
        "responses": {
          "200": {
            "description": "success to signin anonymously",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signup/providers/{providerType}": {
      "post": {
        "summary": "認証されたユーザーのログイン/登録",
        "description": "- 既存のサブスクリプションを持っていたユーザーが再びログインしたり、新しいサブスクリプションをした場合に呼び出される - 現在の `providerType`で `SMS`と `KAKAO`をサポート - 他のproviderTypeを使用するとエラーが発生するなどが追加されることもある - request headerに入るauthorization情報にはanonymous signup api呼び出し後に発行されたaccess tokenを記入する - `Bearer {{ anonymous access token }}`形式できない",
        "operationId": "signUpV2",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "providerType",
            "schema": {
              "$ref": "#/components/schemas/ProviderTypeEnum"
            },
            "required": true,
            "description": "auth provider(SMS、KAKAO、..)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to signup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refresh": {
      "post": {
        "summary": "認証されたユーザーまたはanonymousユーザーのaccess/refresh tokenの更新",
        "description": "認証されたユーザーまたはanonymousユーザーのaccess/refresh tokenの更新",
        "operationId": "refreshToken",
        "tags": [
          "account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DamoaTokenRefreshRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to refresh tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DamoaTokenDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "ユーザーのアカウント情報を照会するときに使用する",
        "description": "damoa authを使用しているユーザーだけが正常に利用できます（anonymousユーザーを含む）",
        "operationId": "getDamoaLoginAccount",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "success to retrieve account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginAccountDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/signout": {
      "post": {
        "summary": "signout",
        "operationId": "signOut",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "success to signout"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "summary": "logout",
        "operationId": "logout",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "success to logout"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external-uid": {
      "get": {
        "summary": "get external uid",
        "description": "その user の外部 API 呼び出しに使用できる external uid を返します.",
        "operationId": "getExternalUid",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "external uid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalUidDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods": {
      "get": {
        "summary": "get registered payment methods",
        "description": "そのユーザーがクイーンイットペイに登録したお支払い方法のリストを返します.",
        "operationId": "getPaymentMethods",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "registered payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credentials/connect-pay": {
      "get": {
        "summary": "get connect pay credentials",
        "description": "ConnectPay JS SDKを使用するためのcredentialを返します.",
        "operationId": "getConnectPayCredentials",
        "tags": [
          "account"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "connect pay clientKey and user specific customerKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectPayCredentialDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "summary": "get favorites",
        "operationId": "getMyFavorites",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- my favorite product list - クイーンイット即時割引が適用された場合、`FavoriteProductDto`で即時割引が適用された金額を表示する - 影響を受けるフィールド: `price`, `productDiscountRate`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favorites/{productId}": {
      "delete": {
        "summary": "delete favorite",
        "operationId": "deleteMyFavorite",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success to delete"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "add favorite",
        "operationId": "addMyFavorite",
        "tags": [
          "favorite"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success to add"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/products": {
      "get": {
        "summary": "get best products for recent specific period",
        "operationId": "getBestAppProducts",
        "tags": [
          "best"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "required": true,
            "description": "best products for this period",
            "name": "period",
            "schema": {
              "$ref": "#/components/schemas/BestPeriodEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "年齢コード.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          }
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- get best products for recent specific period - クイーンイット即時割引が適用された場合 `AppProductDto` で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/brands/v2": {
      "get": {
        "summary": "get best brands for recent specific period",
        "operationId": "getBestAppBrands",
        "tags": [
          "best"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "required": true,
            "description": "best brands for this period",
            "name": "period",
            "schema": {
              "$ref": "#/components/schemas/BestPeriodEnum"
            }
          },
          {
            "in": "query",
            "description": "年齢コード.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          }
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "get best brands for recent specific period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestBrandListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/best/WooRanking": {
      "get": {
        "summary": "get woo ranking products - DEPRECATED",
        "operationId": "getWooRankingProducts",
        "tags": [
          "best"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "woo ranking products - DEPRECATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/brands": {
      "get": {
        "summary": "get promotion brands",
        "operationId": "getPromotedBrands",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "promotion brands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/products": {
      "get": {
        "summary": "get promotion products",
        "operationId": "getPromotionProducts",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- promotion products - クイーンイット即時割引が適用される場合、`ProductDto`で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/connect-pay": {
      "get": {
        "summary": "get connect pay promotions",
        "operationId": "getConnectPayPromotions",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "connect-pay card discount promotions and interest-free installment policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectPayPromotionDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/toss": {
      "get": {
        "summary": "get toss payments promotions",
        "operationId": "getTossPromotions",
        "tags": [
          "promotion"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "toss card discount promotions policies and interest-free installment policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TossPaymentPromotionDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/newArrivals/products": {
      "get": {
        "summary": "get new arrival products - DEPRECATED",
        "operationId": "getNewArrivalProducts",
        "tags": [
          "newArrival"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "new products - DEPRECATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promotions/products/discounted": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "Please set orderBy to RECOMMENDATION as a default value.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get discounted promotion products by orderBy parameters",
        "operationId": "getDiscountedPromotionProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- discounted promotion products by orderBy parameters - クイーンイット即時割引が適用された場合 `AppProductDto` で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/discount-benefits": {
      "get": {
        "summary": "get product&#39;s discount benefits information",
        "operationId": "getProductDiscountBenefits",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "result of product&#39;s discount benefits information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDiscountBenefitsDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/shopping-mall": {
      "get": {
        "deprecated": true,
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "Please set orderBy to RECOMMENDATION as a default value.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get shopping mall products by orderBy parameters",
        "operationId": "getShoppingMallProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- shopping mall products by orderBy parameters - クイーンイット即時割引が適用される場合 `AppProductDto` で即割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/keyword-related": {
      "get": {
        "summary": "キーワードによる関連商品を返します.",
        "operationId": "getKeywordRelatedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "デバッグ用のパラメータ。その値がtrueの場合、ログをはるかに詳細に取得します.",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "キーワード関連商品の結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/related": {
      "get": {
        "summary": "特定の条件に応じた関連商品を返します.",
        "operationId": "getRelatedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "relationTargetProductIds",
            "description": "このパラメータに渡された商品に関連する商品を返します.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "デバッグ用のパラメータ。その値がtrueの場合、ログをはるかに詳細に取得します.",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "関連商品結果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/personalized/products": {
      "post": {
        "deprecated": true,
        "summary": "Get filtered personalized products",
        "operationId": "getFilteredPersonalizedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilteredPersonalizedProductRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "- Get personalized products filtered by parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "Please set orderBy to RECOMMENDATION as a default value.",
            "name": "orderBy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "年齢コード.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagId",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "description": "(deprecated) use tagIdForBrandSourcing",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagIdForBrandSourcing",
            "schema": {
              "description": "tagIdに対応するbrandSourcingCodeについて商品を照会する",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "clickedProductIds",
            "description": "- クリックした商品。パーソナライズされた商品を提供するために使用されます。 - 各商品がクリックされた時間情報を配信するには、clickedProductAtMillisパラメータを一緒に渡す必要があります.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "clickedProductAtMillis",
            "description": "- 商品をクリックした時間。各時間は clickedProductIds パラメータに対応します。 - clickedProductIds と clickedProductAtMillis パラメータのサイズは常に同じでなければなりません.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "int64"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "modelId",
            "description": "- どのパーソナライズモデルを使用するか。 (A/B Testing 用途) - ノッションノート: https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "postProcessingId",
            "description": "- 個人化結果の後処理をどうするか。 (A/B Testing 用途) - ノッションノート: https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "デバッグ用のパラメータ。その値がtrueの場合、ログをはるかに詳細に取得します.",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "summary": "Get personalized recommendation products by filter",
        "operationId": "getPersonalizedRecommendationProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- Get personalized recommendation products by filter and orderBy parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/refined": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "Please set orderBy to RECOMMENDATION as a default value.",
            "name": "orderBy",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "brandIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "description": "年齢コード.",
            "required": false,
            "name": "ageGroupCode",
            "schema": {
              "$ref": "#/components/schemas/AgeGroupCodeEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "description": "フィルタリングする商品属性IDのリスト",
            "required": false,
            "name": "productFeatureIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "deprecated": true,
            "required": false,
            "description": "（DEPRECATED）enabledTotalCount、enabledProductFeatureAggregation、enabledProductCategoryAggregation、enabledBrandAggregationを使用してください.",
            "name": "enabledProductAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品集計で総数が必要な場合はtrueに設定します。.",
            "name": "enabledTotalCount",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品集計で商品属性別の数が必要な場合はtrueに設定します。.",
            "name": "enabledProductFeatureAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品集計で商品カテゴリ別の数が必要な場合はtrueに設定します。.",
            "name": "enabledProductCategoryAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品集計(aggregation)でブランド別個数が必要な場合はtrueに設定する.",
            "name": "enabledBrandAggregation",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "required": false,
            "deprecated": true,
            "description": "（deprecated）tagIdForBrandSourcingパラメータを使用してください",
            "name": "tagId",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "tagIdForBrandSourcing",
            "schema": {
              "description": "tagIdに対応するbrandSourcingCodeについて商品を照会する",
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品タグフィルタのためのids",
            "name": "tagIdsForProductTag",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "in": "query",
            "required": false,
            "description": "商品タグのない商品も一緒に露出させるためのパラメータ",
            "name": "allowProductsWithoutTags",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "Get refined products by filter and orderBy parameters",
        "operationId": "getRefinedProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- Get refined products by filter and orderBy parameters - クイーンイット即時割引が適用された場合 `AppProductDto` で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/advertisement": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "description": "Please set orderBy to RECOMMENDATION as a default value.",
            "name": "orderBy",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProductOrderByEnum"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "minPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "maxPrice",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "mySizeOnly",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "summary": "Get advertisement products by filter and orderBy parameters",
        "operationId": "getAdvertisementProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- Get advertisement products by filter and orderBy parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAdvertisementProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/detail/advertisement": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "categoryId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get advertisement products by filter and orderBy parameters",
        "operationId": "getAdvertisementProductDetail",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- Get advertisement products in PDP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppAdvertisementProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "summary": "get products by ids parameter",
        "description": "( count of ids is over 40 -&gt; ApiErrorResponseCode.LIMITATION_EXCEEDED )",
        "operationId": "getProducts",
        "tags": [
          "product"
        ],
        "responses": {
          "200": {
            "description": "- products (unique and not ordered) by ids - クイーンイット即時割引が適用された場合 `ProductDto` で即割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSetDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/similar/v2": {
      "get": {
        "summary": "get image based similar product (v2)",
        "operationId": "getImageBasedSimilarProductsV2",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "modelId",
            "required": false,
            "description": "どのモデルを使うか。 https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1?pvs=4",
            "schema": {
              "type": "string",
              "default": "TAG_SIM"
            }
          },
          {
            "in": "query",
            "name": "postProcessingId",
            "description": "後処理をどうするか。 https://www.notion.so/rapportlabs/AB-Protocol-c878d879ff0443cda929bb17d9b137c1?pvs=4",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "verbose",
            "required": false,
            "schema": {
              "description": "デバッグ用のパラメータ。その値がtrueの場合、ログをはるかに詳細に取得します.",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- 画像ベースの類似商品を下げる。 （v1と比較して報告結果に応じて特定バージョンをdeprecatedさせる予定）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/similar": {
      "get": {
        "summary": "get image based similar product",
        "operationId": "getImageBasedSimilarProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- 画像ベースの類似商品を下げる.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/outfit": {
      "get": {
        "summary": "get image based outfit product",
        "operationId": "getImageBasedOutfitProducts",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minRating",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- 画像ベースのコーディネート商品を下げる.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hotDeals/products": {
      "get": {
        "summary": "get hotDeal products",
        "operationId": "getHotDealProducts",
        "tags": [
          "hotDeal"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- hot deal products - クイーンイット即時割引が適用された場合、`ProductDto`ですぐに割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/categories": {
      "get": {
        "summary": "get recommended product categories",
        "operationId": "getRecommendationCategories",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "recommendation categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductCategoryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/categories/{categoryId}/products": {
      "get": {
        "summary": "get recommended products",
        "operationId": "getRecommendedProductsByCategory",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- recommended products - クイーンイット即時割引が適用された場合、`ProductDto`で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recommendations/products": {
      "get": {
        "summary": "get recommended products",
        "operationId": "getRecommendedProducts",
        "tags": [
          "recommendation"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "- recommended products - クイーンイット即時割引が適用された場合、`ProductDto`で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tag-groups": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TagTypeEnum"
            }
          }
        ],
        "summary": "get tag-groups by type",
        "description": "パラメータに応じたタググループ情報を取得します",
        "operationId": "getTagGroups",
        "tags": [
          "tag"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "タググループリスト",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagGroupListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TagTypeEnum"
            }
          },
          {
            "in": "query",
            "name": "groupId",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "summary": "get tags",
        "description": "タグ情報を取得.",
        "operationId": "getTags",
        "tags": [
          "tag"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "条件に応じたタグ情報を取得します.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/release-estimate": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product estimate release at",
        "operationId": "getProductEstimateRelease",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "product estimate release（商品予想出荷日）照会成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductReleaseEstimateDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/page": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "upload product page",
        "operationId": "uploadProductPage",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadProductPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to upload"
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product",
        "operationId": "getProduct",
        "description": "（ can&#39;t find product -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND ）",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- product - クイーンイット即時割引が適用された場合、`ProductDto`で即時割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/personal": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get personal product",
        "description": "（ can&#39;t find product -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND ）",
        "operationId": "getPersonalProduct",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "- クイーンイット即時割引が適用された場合、`ProductDto`ですぐに割引が適用された金額を表示する - 影響を受けるフィールド: `finalPrice`, `discountPercentage`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalProductDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/items": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product items",
        "operationId": "getProductItems",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "product items（商品オプション）リストの検索に成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItemListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/products/{productId}/item-availabilities": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product item availability list",
        "description": "該当する商品の商品オプションの購入可能性のリストを返します。",
        "operationId": "getProductItemAvailabilityList",
        "tags": [
          "product"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "商品オプションの購入可能性のリスト",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductItemAvailabilityDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/users/birth-year": {
      "post": {
        "summary": "save of birth year for user",
        "description": "save of birth year in user profile",
        "operationId": "saveUserBirthYear",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBirthYearDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "saved birth year of user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBirthYearDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/body-size": {
      "post": {
        "summary": "save of body size for user",
        "description": "save of body size",
        "operationId": "saveUserBodySize",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserBodySizeDataDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "saved body size of user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBodySizeDataDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/profile": {
      "get": {
        "summary": "get user profile",
        "description": "（ can&#39;t find user profile -&gt; ApiErrorResponseCode.RESOURCE_NOT_FOUND ）",
        "operationId": "getUserProfile",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/delivery-addresses": {
      "get": {
        "summary": "get user delivery addresses",
        "description": "ユーザーの完全な配送先リストを取得します(`retrievedAt`の順に並べ替えられます)",
        "operationId": "getUserDeliveryAddresses",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "user delivery address list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDeliveryAddressDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "add user delivery address",
        "description": "- ユーザーの配送先情報を追加するか、 `retrievedAt`を更新します - 登録されている配送先リストのうち、住所と配送リクエストが同じ場合にのみ更新します",
        "operationId": "addUserDeliveryAddress",
        "tags": [
          "userProfile"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDeliveryAddressAddRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success to add user delivery address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeliveryAddressDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tier": {
      "get": {
        "summary": "get user&#39;s tier",
        "operationId": "getTier",
        "tags": [
          "tier"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "get user&#39;s tier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tier/next": {
      "get": {
        "summary": "get user&#39;s next tier information",
        "operationId": "getNextTierInfo",
        "tags": [
          "tier"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "get user&#39;s next tier information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NextTierInfoDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{imageCategory}/uploadable-url": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        },
        {
          "in": "query",
          "required": true,
          "name": "filename",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "generate uploadable url to upload images for login user",
        "operationId": "generateImageUploadableUrl",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "responses": {
          "200": {
            "description": "uploadable image url",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadableImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          },
          {
            "in": "query",
            "required": true,
            "name": "filename",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/images/{imageCategory}": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        }
      ],
      "post": {
        "deprecated": true,
        "description": "(deprecated) please use generateImageUploadableUrl instead of this api",
        "summary": "upload images for login user",
        "operationId": "uploadImage",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "upload image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          }
        ]
      }
    },
    "/images/{imageCategory}/base64": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "imageCategory",
          "schema": {
            "$ref": "#/components/schemas/ImageCategoryEnum"
          }
        }
      ],
      "post": {
        "summary": "upload images as base 64 for login user",
        "operationId": "uploadImageBase64",
        "tags": [
          "image"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Base64ImageUploadRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "upload image as base64",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadImageResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "imageCategory",
            "schema": {
              "$ref": "#/components/schemas/ImageCategoryEnum"
            }
          }
        ]
      }
    },
    "/products/{productId}/reviews": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product reviews",
        "operationId": "getProductReviews",
        "tags": [
          "review"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "product reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayProductReviewListDto"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/reviews/v2": {
      "parameters": [
        {
          "in": "path",
          "name": "productId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "get product reviews v2",
        "operationId": "findProductReviews",
        "tags": [
          "review"
        ],
        "security": [
          {
            "damoa-token": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "required": false,
            "name": "sortOrder",
            "schema": {
              "$ref": "#/components/schemas/ProductReviewSortOrderEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "product reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayProductReviewListDtoV2"
                }
              }
            }
          },
          "400": {
            "description": "failed to get response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/reviews/representatives": {
      "parameters": [
        {
[...]
