{
  "openapi": "3.1.0",
  "info": {
    "title": "واجهة برمجة تطبيقات Fireblocks",
    "version": "1.0.0",
    "contact": {
      "email": "support@fireblocks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.fireblocks.io/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "samples-languages": [
      "curl",
      "javascript",
      "python"
    ]
  },
  "paths": {
    "/vault/accounts": {
      "get": {
        "summary": "قائمة حسابات الخزنة",
        "description": "يحصل على جميع حسابات الخزنة في مساحة العمل الخاصة بك.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة حسابات الخزنة",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء حساب خزنة جديد",
        "description": "إنشاء حساب خزنة جديد بالاسم المطلوب.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI, customer_ref_id, auto_fueling)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI, customerRefId, autoFueling);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "إسم الحساب",
                    "type": "string"
                  },
                  "hiddenOnUI": {
                    "description": "اختياري - إذا كان هذا صحيحًا، فلن يتم عرض الحساب الذي تم إنشاؤه وجميع المعاملات المرتبطة به على وحدة تحكم Fireblocks",
                    "type": "boolean"
                  },
                  "customerRefId": {
                    "description": "اختياري - تعيين معرف مرجع العميل",
                    "type": "string"
                  },
                  "autoFuel": {
                    "description": "اختياري - تعيين خاصية autoFuel لحساب الخزنة",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "كائن حساب الخزنة",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts_paged": {
      "get": {
        "summary": "قائمة حسابات الخزنة (مقسمة إلى صفحات)",
        "description": "يحصل على جميع حسابات الخزنة في مساحة العمل الخاصة بك. تعيد هذه النقطة النهائية عددًا محدودًا من النتائج مع وقت استجابة سريع.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "const": "ASC"
                },
                {
                  "const": "DESC"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن VaultAccountsPagedResponse",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccountsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}": {
      "get": {
        "summary": "العثور على حساب الخزنة عن طريق المعرف",
        "description": "إرجاع حساب الخزنة المطلوب.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_account = fireblocks.get_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاع النوع: سلسلة",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن حساب الخزنة",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "إعادة تسمية حساب الخزنة",
        "description": "إعادة تسمية حساب الخزنة المطلوب.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.update_vault_account(vault_account_id, name)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId, name);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد تعديله",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "إسم الحساب",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/asset_wallets": {
      "get": {
        "summary": "قائمة محافظ الأصول (مقسمة إلى صفحات)",
        "description": "يحصل على جميع محافظ الأصول في جميع حسابات الخزنة في مساحة العمل الخاصة بك. محفظة الأصول هي أصل في حساب الخزنة. تتيح هذه الطريقة التنقل السريع لجميع أرصدة الحسابات. **ملاحظة:** - تتوفر نقطة نهاية واجهة برمجة التطبيقات هذه بشكل محدود ومتاحة لعملاء محددين. إذا كنت ترغب في الحصول على وصول مبكر إلى نقطة النهاية هذه، فيرجى التواصل مع [دعم Fireblocks](https://support.fireblocks.io/hc/en-us/requests/new?ticket_form_id=36000337220) - تخضع مكالمة واجهة برمجة التطبيقات هذه لـ [حدود المعدل](https://developers.fireblocks.com/reference/rate-limiting).",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_asset_wallets(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getAssetWallets(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "totalAmountLargerThan",
            "description": "عند تحديد ذلك، سيتم إرجاع محافظ الأصول التي يبلغ إجمالي رصيدها أكبر من هذا المبلغ فقط.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "description": "عند تحديد ذلك، سيتم إرجاع محافظ الأصول التي تتقاطع مع حسابات الخزائن التي تحتوي على معرف الأصول هذا فقط.",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "description": "يقوم بجلب الاستجابة المقسمة إلى صفحات التالية قبل هذا العنصر. هذا العنصر عبارة عن مؤشر ويتم إرجاعه عند استجابة الصفحة السابقة.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "description": "يقوم بجلب الاستجابة المقسمة إلى صفحات التالية بعد هذا العنصر. هذا العنصر عبارة عن مؤشر ويتم إرجاعه عند استجابة الصفحة السابقة.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "الحد الأقصى لعدد محافظ الأصول في استجابة واحدة. الافتراضي هو 200 والحد الأقصى هو 1000.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن PaginatedAssetWalletResponse",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAssetWalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/hide": {
      "post": {
        "summary": "إخفاء حساب الخزنة في وحدة التحكم",
        "description": "إخفاء حساب الخزنة المطلوب من عرض وحدة التحكم على الويب.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.hide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "حساب الخزنة للإخفاء",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/unhide": {
      "post": {
        "summary": "إظهار حساب الخزنة في وحدة التحكم",
        "description": "يجعل حساب الخزنة المخفي مرئيًا في عرض وحدة التحكم على الويب.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.unhide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "حساب الخزنة لإظهاره",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/activate": {
      "post": {
        "summary": "تفعيل المحفظة في حساب الخزنة",
        "description": "يبدأ التنشيط لمحفظة في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه، أو &quot;الافتراضي&quot; لحساب الخزنة الافتراضي",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_customer_ref_id": {
      "post": {
        "summary": "تعيين معرف مرجعي لعميل AML/KYT لحساب الخزنة",
        "description": "تعيين معرف مرجعي لعميل AML/KYT لحساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "معرف مرجع العميل",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_auto_fuel": {
      "post": {
        "summary": "تشغيل أو إيقاف تشغيل التزود بالوقود تلقائيًا",
        "description": "تعيين خاصية التزويد التلقائي للوقود لحساب الخزنة على تمكين أو تعطيل.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "autoFuel": {
                    "description": "وقود السيارات",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}": {
      "get": {
        "summary": "احصل على رصيد الأصول لحساب الخزنة",
        "description": "إرجاع محفظة لأصل محدد لحساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن VaultAsset",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء محفظة جديدة",
        "description": "إنشاء محفظة لأصل محدد في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه، أو &quot;الافتراضي&quot; لحساب الخزنة الافتراضي",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "eosAccountName": {
                    "description": "اختياري - عند إنشاء محفظة EOS، اسم الحساب. إذا لم يتم توفيره، فسيتم إنشاء اسم عشوائي",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/balance": {
      "post": {
        "summary": "تحديث بيانات رصيد الأصول",
        "description": "تحديث رصيد أحد الأصول المحددة في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "*/*": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "كائن VaultAsset",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses": {
      "get": {
        "summary": "الحصول على عناوين الأصول",
        "description": "يسرد جميع العناوين لأصول محددة في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة عناوين الإيداع",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultWalletAddress"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء عنوان إيداع الأصول الجديد",
        "description": "إنشاء عنوان إيداع جديد لأصل في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.generate_new_address(vault_account_id, asset_id, description, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.generateNewAddress(vaultAccountId, assetId, description, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "(اختياري) قم بإرفاق وصف للعنوان الجديد",
                    "type": "string"
                  },
                  "customerRefId": {
                    "description": "اختياري - تعيين معرف مرجع العميل",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة المراد إرجاعه",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "العنوان الذي تم إنشاؤه",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount": {
      "get": {
        "summary": "احصل على الحد الأقصى للمبلغ القابل للإنفاق في معاملة واحدة.",
        "description": "احصل على الحد الأقصى من أصل معين يمكن إنفاقه في معاملة واحدة من حساب خزنة محدد (أصول UTXO فقط، مع وجود حد لعدد المدخلات المضمنة). أرسل عدة معاملات إذا كنت تريد إنفاق أكثر من الحد الأقصى للمبلغ القابل للإنفاق.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة، أو &quot;الافتراضي&quot; لحساب الخزنة الافتراضي",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "manualSignging",
            "required": false,
            "description": "خطأ افتراضيًا. يعتمد الحد الأقصى لعدد المدخلات على ما إذا كانت المعاملة سيتم توقيعها بواسطة خادم توقيع مشارك آلي أو على جهاز محمول.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}": {
      "put": {
        "summary": "تحديث وصف العنوان",
        "description": "يقوم بتحديث وصف عنوان موجود لأصل في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "وصف العنوان",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "العنوان الذي تريد إضافة وصف له. بالنسبة إلى XRP، استخدم<address style=\";text-align:right;direction:rtl\"> :<tag> بالنسبة لجميع الأصول الأخرى، استخدم العنوان فقط",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id": {
      "post": {
        "summary": "تعيين معرف مرجعي لعميل مكافحة غسل الأموال",
        "description": "تعيين معرف مرجعي لعميل AML/KYT لعنوان محدد.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id, asset_id, address_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId, addressId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "العنوان الذي تريد إضافة وصف له. بالنسبة إلى XRP، استخدم<address style=\";text-align:right;direction:rtl\"> :<tag> بالنسبة لجميع الأصول الأخرى، استخدم العنوان فقط",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "معرف مرجع العميل",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "نعم",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy": {
      "post": {
        "summary": "تحويل عنوان segwit إلى تنسيق قديم",
        "description": "يحول عنوان segwit الحالي إلى التنسيق القديم.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "عنوان سيجويت للترجمة",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "العنوان الذي تم إنشاؤه",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs": {
      "get": {
        "summary": "احصل على معلومات مدخلات UTXO غير المنفقة",
        "description": "إرجاع معلومات المدخلات غير المنفقة للأصل في حساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "معرف حساب الخزنة",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "قائمة المعلومات غير المنفقة لكل إدخال",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnspentInputsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/public_key_info/": {
      "get": {
        "summary": "احصل على معلومات المفتاح العام",
        "description": "يحصل على معلومات المفتاح العام بناءً على مسار الاشتقاق وخوارزمية التوقيع.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "derivationPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "algorithm",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "معلومات المفتاح العام",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info": {
      "get": {
        "summary": "احصل على المفتاح العام لحساب الخزنة",
        "description": "يحصل على معلومات المفتاح العام لحساب الخزنة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id, vault_account_id, change, address_index, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "change",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "path",
            "name": "addressIndex",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "معلومات المفتاح العام",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets": {
      "get": {
        "summary": "احصل على رصيد الأصول للأصول المختارة",
        "description": "يحصل على ملخص مبلغ الأصول لجميع الحسابات أو الحسابات المفلترة.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix, account_name_suffix)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix, accountNameSuffix);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "accountNamePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountNameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "المبلغ حسب الأصول",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAsset"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets/{assetId}": {
      "get": {
        "summary": "الحصول على رصيد الخزنة حسب الأصول",
        "description": "يحصل على ملخص رصيد الخزنة للأصل.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "مبلغ الخزنة حسب الأصول",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts": {
      "get": {
        "summary": "قائمة حسابات التبادل",
        "description": "إرجاع جميع حسابات الصرف.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccounts = fireblocks.get_exchange_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAccounts = await fireblocks.getExchangeAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "كائن ExchangeAccount",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}": {
      "get": {
        "summary": "العثور على حساب تبادل محدد",
        "description": "إرجاع حساب التبادل حسب المعرف.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "معرف حساب التبادل المراد إرجاعه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن ExchangeAccount",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAccount"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/internal_transfer": {
      "post": {
        "summary": "التحويل الداخلي لحسابات الصرف",
        "description": "نقل الأموال بين حسابات التداول ضمن نفس حساب التبادل.",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "معرف حساب التبادل المراد إرجاعه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "تم النقل بنجاح",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "asset": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "sourceType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  },
                  "destType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/convert": {
      "post": {
        "summary": "تحويل أموال حساب الصرف من الأصل المصدر إلى الأصل الوجهة. Coinbase (USD إلى USDC، USDC إلى USD) وBitso (MXN إلى USD) هي التحويلات المدعومة.",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "معرف حساب التبادل. يرجى التأكد من أن التبادل يدعم التحويلات. للعثور على معرف حساب التبادل الخاص بك، استخدم GET/exchange_accounts.",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "تم التحويل بنجاح",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "srcAsset": {
                    "type": "string",
                    "description": "اسم الأصل المصدر (يجب أن يكون بعملة مدعومة للتحويلات في نوع التبادل المحدد الذي يتوافق مع معرف التبادل الخاص بك)"
                  },
                  "destAsset": {
                    "type": "string",
                    "description": "اسم الأصل الوجهة (يجب أن يكون بعملة مدعومة للتحويلات في نوع التبادل المحدد الذي يتوافق مع معرف التبادل الخاص بك)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "المبلغ المراد تحويله (بعملة الأصل المصدر)"
                  }
                },
                "required": [
                  "srcAsset",
                  "destAsset",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/{assetId}": {
      "get": {
        "summary": "العثور على أصل لحساب التبادل",
        "description": "إرجاع أحد الأصول لحساب التبادل.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "معرف حساب التبادل المراد إرجاعه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "معرف الأصل المراد إرجاعه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن ExchangeAccountAsset",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAsset"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts": {
      "get": {
        "summary": "قائمة الحسابات الورقية",
        "description": "إرجاع جميع الحسابات الورقية.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "كائن حساب فيات",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}": {
      "get": {
        "summary": "العثور على حساب فيات محدد",
        "description": "إرجاع حساب فيات حسب المعرف.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_account_by_id(account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccountById(accountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "معرف الحساب الورقي المراد إرجاعه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "كائن حساب فيات",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FiatAccount"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/redeem_to_linked_dda": {
      "post": {
        "summary": "استرداد الأموال إلى DDA",
        "description": "استرداد الأموال إلى DDA المرتبطة.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.redeem_to_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.redeemToLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "معرف الحساب الورقي الذي سيتم استخدامه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "تم النقل بنجاح",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/deposit_from_linked_dda": {
      "post": {
        "summary": "إيداع الأموال من DDA",
        "description": "إيداع الأموال من DDA المرتبطة.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.deposit_from_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.depositFromLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "معرف الحساب الورقي الذي سيتم استخدامه",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "تم النقل بنجاح",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network_connections": {
      "get": {
        "summary": "قائمة اتصالات الشبكة",
        "description": "يعيد جميع اتصالات الشبكة. **ملاحظة:** تخضع مكالمة واجهة برمجة التطبيقات هذه لمخططات التوجيه المرنة. تحدد سياسة التوجيه الخاصة بك كيفية توجيه معاملاتك. يمكنك اختيار أحد المخططات الثلاثة المختلفة المذكورة أدناه لكل نوع من أنواع الأصول: - **لا شيء**؛ يحدد توجيه الملف الشخصي إلى وجهة لا لنوع الأصول هذا. ستفشل المعاملات الواردة إلى أنواع الأصول التي تم توجيهها إلى &quot;لا شيء&quot;. - **مخصص**؛ التوجيه إلى حساب تختاره. إذا قمت بإزالة الحساب، فستفشل المعاملات الواردة حتى تختار حسابًا آخر. - **افتراضي**؛ استخدم التوجيه المحدد بواسطة ملف تعريف الشبكة الذي يتصل به الاتصال. يشار إلى هذا المخطط أيضًا باسم &quot;توجيه الملف الشخصي&quot; الإعدادات المسبقة لمساحة العمل الافتراضية: - تشفير ملف تعريف الشبكة → **مخصص** - ملف تعريف الشبكة FIAT → **لا شيء** - تشفير اتصال الشبكة → **افتراضي** - اتصال الشبكة FIAT → **افتراضي** - **ملاحظة**: بشكل افتراضي، يستخدم مخطط التوجيه المخصص (`dstId` = `0`، `dstType` = `VAULT`).",
        "tags": [
          "Network connections"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "network_connections = fireblocks.get_network_connections()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const networkConnections = await fireblocks.getNetworkConnections();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "قائمة اتصالات الشبكة",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkConnectionResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "إنشاء اتصال شبكة جديد",
        "description": "يبدأ اتصالاً جديدًا بالشبكة. **ملاحظة:** تخضع مكالمة واجهة برمجة التطبيقات هذه لمخططات التوجيه المرنة. تحدد سياسة التوجيه الخاصة بك كيفية توجيه معاملاتك. يمكنك اختيار أحد المخططات الثلاثة المختلفة المذكورة أدناه لكل نوع من أنواع الأصول: - **لا شيء**؛ يحدد توجيه الملف الشخصي إلى وجهة لا لنوع الأصول هذا. ستفشل المعاملات الواردة إلى أنواع الأصول التي تم توجيهها إلى &quot;لا شيء&quot;. - **مخصص**؛ التوجيه إلى حساب تختاره. إذا قمت بإزالة الحساب، فستفشل المعاملات الواردة حتى تختار حسابًا آخر. - **افتراضي**؛ استخدم التوجيه المحدد بواسطة ملف تعريف الشبكة الذي يتصل به الاتصال. يشار إلى هذا المخطط أيضًا باسم &quot;توجيه الملف الشخصي&quot; الإعدادات المسبقة لمساحة العمل الافتراضية: - تشفير ملف تعريف الشبكة → **مخصص** - ملف تعريف الشبكة FIAT → **لا شيء** - تشفير اتصال الشبكة → **افتراضي** - اتصال الشبكة FIAT → **افتراضي** - **ملاحظة**: بشكل افتراضي، يستخدم مخطط التوجيه المخصص (`dstId` = `0`، `dstType` = `VAULT`).",
        "tags": [
          "Network connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkConnection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "كائن اتصال الشبكة",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectionResponse"
                }
              }
            }
          },
          "default": {
            "description": "استجابة الخطأ",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "معرف فريد مرتبط بطلب واجهة برمجة التطبيقات. يُرجى تقديمه في أي تذكرة دعم تنشئها أو في مشكلات Github المتعلقة بمجموعات تطوير البرامج Fireblocks",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}/set_routing_policy": {
      "patch": {
        "summary": "تحديث سياسة توجيه اتصال الشبكة.",
        "description": "تحديث سياسة التوجيه لاتصال شبكة موجود. **ملاحظة:** تخضع مكالمة واجهة برمجة التطبيقات هذه لمخططات التوجيه المرنة. تحدد سياسة التوجيه الخاصة بك كيفية توجيه معاملاتك. يمكنك اختيار أحد المخططات الثلاثة المختلفة المذكورة أدناه لكل نوع من أنواع الأصول: - **لا شيء**؛ يحدد توجيه الملف الشخصي إلى وجهة لا لنوع الأصول هذا. ستفشل المعاملات الواردة إلى أنواع الأصول التي تم توجيهها إلى &quot;لا شيء&quot;. - **مخصص**؛ التوجيه إلى حساب تختاره. إذا قمت بإزالة الحساب، فستفشل المعاملات الواردة حتى تختار حسابًا آخر. - **افتراضي**؛ استخدم التوجيه المحدد بواسطة ملف تعريف الشبكة الذي يتصل به الاتصال. يشار إلى هذا المخطط أيضًا باسم &quot;توجيه الملف الشخصي&quot; الإعدادات المسبقة لمساحة العمل الافتراضية: - تشفير ملف تعريف الشبكة → **مخصص** - ملف تعريف الشبكة FIAT → **لا شيء** - تشفير اتصال الشبكة → **افتراضي** - اتصال الشبكة FIAT → **افتراضي** - **ملاحظة**: بشكل افتراضي، يستخدم مخطط التوجيه المخصص (`dstId` = `0`، `dstType` = `VAULT`).",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "معرف اتصال الشبكة",
            "schema": {
[...]
