{
  "openapi": "3.1.0",
  "info": {
    "title": "ファイアブロックAPI",
    "version": "1.0.0",
    "contact": {
      "email": "support@fireblocks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.fireblocks.io/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "samples-languages": [
      "curl",
      "javascript",
      "python"
    ]
  },
  "paths": {
    "/vault/accounts": {
      "get": {
        "summary": "保管庫アカウントの一覧",
        "description": "ワークスペース内のすべての Vault アカウントを取得します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "金庫アカウントのリスト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "新しいVaultアカウントを作成する",
        "description": "要求された名前で新しい Vault アカウントを作成します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI, customer_ref_id, auto_fueling)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI, customerRefId, autoFueling);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "アカウント名",
                    "type": "string"
                  },
                  "hiddenOnUI": {
                    "description": "オプション - true の場合、作成されたアカウントと関連するすべてのトランザクションは Fireblocks コンソールに表示されません。",
                    "type": "boolean"
                  },
                  "customerRefId": {
                    "description": "オプション - 顧客参照IDを設定します",
                    "type": "string"
                  },
                  "autoFuel": {
                    "description": "オプション - ボールトアカウントの autoFuel プロパティを設定します",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vault アカウント オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts_paged": {
      "get": {
        "summary": "保管庫アカウントの一覧表示（ページ区切り）",
        "description": "ワークスペース内のすべての Vault アカウントを取得します。このエンドポイントは、短い応答時間で限られた数の結果を返します。.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "const": "ASC"
                },
                {
                  "const": "DESC"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VaultAccountsPagedResponse オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccountsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}": {
      "get": {
        "summary": "IDでVaultアカウントを検索する",
        "description": "要求されたVaultアカウントを返します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_account = fireblocks.get_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールトアカウントのID 型: 文字列",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vault アカウント オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "ボールトアカウントの名前を変更する",
        "description": "要求されたVaultアカウントの名前を変更します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.update_vault_account(vault_account_id, name)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId, name);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "編集するボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "アカウント名",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/asset_wallets": {
      "get": {
        "summary": "資産ウォレットの一覧（ページ区切り）",
        "description": "ワークスペース内のすべての Vault アカウントのすべてのアセット ウォレットを取得します。アセット ウォレットは、Vault アカウントのアセットです。このメソッドを使用すると、すべてのアカウント残高を高速にトラバースできます。**注:** - この API エンドポイントは、限られたユーザーのみが利用できます。このエンドポイントに早期アクセスしたい場合は、[Fireblocks サポート](https://support.fireblocks.io/hc/en-us/requests/new?ticket_form_id=36000337220) にお問い合わせください。 - この API 呼び出しには、[レート制限](https://developers.fireblocks.com/reference/rate-limiting) が適用されます。.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_asset_wallets(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getAssetWallets(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "totalAmountLargerThan",
            "description": "指定すると、合計残高がこの金額より大きい資産ウォレットのみが返されます。.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "description": "指定すると、この資産IDを持つVaultアカウント間の資産ウォレットのみが返されます。.",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "description": "この要素の前の次のページ区切りのレスポンスを取得します。この要素はカーソルであり、前のページのレスポンスで返されます。.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "description": "この要素の次のページ区切りのレスポンスを取得します。この要素はカーソルであり、前のページのレスポンスで返されます。.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "1回のレスポンスで扱える資産ウォレットの最大数。デフォルトは200、最大値は1000です。.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PaginatedAssetWalletResponse オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAssetWalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/hide": {
      "post": {
        "summary": "コンソールでVaultアカウントを非表示にする",
        "description": "要求された Vault アカウントを Web コンソール ビューから非表示にします.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.hide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "隠すための金庫アカウント",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/unhide": {
      "post": {
        "summary": "コンソールで Vault アカウントを表示する",
        "description": "非表示の Vault アカウントを Web コンソール ビューで表示します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.unhide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "非表示を解除するVaultアカウント",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/activate": {
      "post": {
        "summary": "金庫アカウントでウォレットを有効化する",
        "description": "金庫アカウントのウォレットのアクティベーションを開始します.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールト アカウントの ID、またはデフォルトのボールト アカウントの場合は「default」",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_customer_ref_id": {
      "post": {
        "summary": "金庫アカウントのAML/KYT顧客参照IDを設定する",
        "description": "金庫アカウントにAML/KYT顧客参照IDを割り当てます.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントID",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "顧客参照ID",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_auto_fuel": {
      "post": {
        "summary": "自動給油をオンまたはオフにする",
        "description": "ボールトアカウントの自動燃料供給プロパティを有効または無効に設定します.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントID",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "autoFuel": {
                    "description": "自動車燃料",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}": {
      "get": {
        "summary": "金庫アカウントの資産残高を取得する",
        "description": "ボールトアカウントの特定の資産のウォレットを返します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VaultAsset オブジェクト",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "新しいウォレットを作成する",
        "description": "特定の資産用のウォレットをVaultアカウントに作成します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールト アカウントの ID、またはデフォルトのボールト アカウントの場合は「default」",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "eosAccountName": {
                    "description": "オプション - EOSウォレットを作成するときのアカウント名。指定しない場合はランダムな名前が生成されます",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/balance": {
      "post": {
        "summary": "資産残高データの更新",
        "description": "金庫アカウント内の特定の資産の残高を更新します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "*/*": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VaultAsset オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses": {
      "get": {
        "summary": "資産アドレスを取得する",
        "description": "ボールトアカウントの特定の資産のすべてのアドレスを一覧表示します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "入金先リスト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultWalletAddress"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "新しい資産預入アドレスを作成する",
        "description": "金庫アカウントの資産の新しい入金アドレスを作成します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.generate_new_address(vault_account_id, asset_id, description, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.generateNewAddress(vaultAccountId, assetId, description, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "（オプション）新しい住所に説明を添付する",
                    "type": "string"
                  },
                  "customerRefId": {
                    "description": "オプション - 顧客参照IDを設定します",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "返されるボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "作成されたアドレス",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount": {
      "get": {
        "summary": "1回の取引で最大限に使える金額を取得する.",
        "description": "指定された金庫アカウントから、1回のトランザクションで使用できる特定の資産の最大額を取得します（UTXO資産のみ、埋め込まれた入力の数に制限があります）。最大使用可能額を超えて使用したい場合は、複数のトランザクションを送信します。.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールト アカウントの ID、またはデフォルトのボールト アカウントの場合は「default」",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "manualSignging",
            "required": false,
            "description": "デフォルトではFalseです。入力の最大数は、トランザクションが自動署名者サーバーによって署名されるか、モバイルデバイスで署名されるかによって異なります。.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}": {
      "put": {
        "summary": "住所の説明を更新",
        "description": "ボールトアカウント内の資産の既存のアドレスの説明を更新します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "住所の説明",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "説明を追加するアドレス。XRPの場合は、<address> :<tag>その他の資産については、アドレスのみを使用してください",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id": {
      "post": {
        "summary": "AML顧客参照IDを割り当てる",
        "description": "特定の住所のAML/KYT顧客参照IDを設定します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id, asset_id, address_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId, addressId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "説明を追加するアドレス。XRPの場合は、<address> :<tag>その他の資産については、アドレスのみを使用してください",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "顧客参照ID",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "わかりました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy": {
      "post": {
        "summary": "Segwit アドレスをレガシー形式に変換する",
        "description": "既存のsegwitアドレスを従来の形式に変換します.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "変換するsegwitアドレス",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "作成されたアドレス",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs": {
      "get": {
        "summary": "UTXO未使用入力情報を取得する",
        "description": "ボールトアカウント内の資産の未使用入力情報を返します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "ボールトアカウントのID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "資産のID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "入力ごとの未使用情報のリスト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnspentInputsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/public_key_info/": {
      "get": {
        "summary": "公開鍵情報を取得する",
        "description": "導出パスと署名アルゴリズムに基づいて公開鍵情報を取得します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "derivationPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "algorithm",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "公開鍵情報",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info": {
      "get": {
        "summary": "ボールトアカウントの公開鍵を取得する",
        "description": "ボールトアカウントの公開鍵情報を取得します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id, vault_account_id, change, address_index, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "change",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "path",
            "name": "addressIndex",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "公開鍵情報",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets": {
      "get": {
        "summary": "選択した資産の資産残高を取得する",
        "description": "すべてのアカウントまたはフィルタリングされたアカウントの資産額の概要を取得します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix, account_name_suffix)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix, accountNameSuffix);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "accountNamePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountNameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "資産別金額",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAsset"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets/{assetId}": {
      "get": {
        "summary": "資産別に金庫残高を取得する",
        "description": "資産の金庫残高の概要を取得します.",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "資産別の金庫金額",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts": {
      "get": {
        "summary": "交換アカウントの一覧",
        "description": "すべての交換アカウントを返します.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccounts = fireblocks.get_exchange_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAccounts = await fireblocks.getExchangeAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "ExchangeAccount オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}": {
      "get": {
        "summary": "特定の取引所のアカウントを探す",
        "description": "IDで交換アカウントを返します.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "返される交換アカウントのID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExchangeAccount オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAccount"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/internal_transfer": {
      "post": {
        "summary": "交換口座の内部振替",
        "description": "同じ取引口座内の取引口座間で資金を移動します.",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "返される交換アカウントのID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "転送に成功しました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "asset": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "sourceType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  },
                  "destType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/convert": {
      "post": {
        "summary": "交換口座の資金をソース資産から宛先資産に変換します。Coinbase（USDからUSDC、USDCからUSD）とBitso（MXNからUSD）がサポートされている変換です。.",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "取引所アカウントのID。取引所が変換をサポートしていることを確認してください。取引所アカウントのIDを見つけるには、GET/exchange_accountsを使用します。.",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "変換に成功しました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "srcAsset": {
                    "type": "string",
                    "description": "ソース資産の名前（取引所 ID に対応する選択した取引所タイプで変換がサポートされている通貨である必要があります）"
                  },
                  "destAsset": {
                    "type": "string",
                    "description": "宛先資産の名前（交換 ID に対応する選択した交換タイプで変換がサポートされている通貨である必要があります）"
                  },
                  "amount": {
                    "type": "number",
                    "description": "送金する金額（送金元資産の通貨）"
                  }
                },
                "required": [
                  "srcAsset",
                  "destAsset",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/{assetId}": {
      "get": {
        "summary": "交換口座の資産を探す",
        "description": "交換口座の資産を返す.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "返される交換アカウントのID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "返される資産のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExchangeAccountAsset オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAsset"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts": {
      "get": {
        "summary": "法定通貨口座を一覧表示する",
        "description": "すべての法定通貨口座を返す.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "法定通貨アカウントオブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}": {
      "get": {
        "summary": "特定の法定通貨口座を探す",
        "description": "IDで法定通貨の口座を返します.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_account_by_id(account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccountById(accountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "返される法定通貨口座のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "法定通貨アカウントオブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FiatAccount"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/redeem_to_linked_dda": {
      "post": {
        "summary": "DDAへの資金の引き換え",
        "description": "リンクされたDDAに資金を償還する.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.redeem_to_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.redeemToLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "使用する法定通貨口座のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "転送に成功しました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/deposit_from_linked_dda": {
      "post": {
        "summary": "DDAからの入金",
        "description": "リンクされたDDAから資金を入金する.",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.deposit_from_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.depositFromLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "使用する法定通貨口座のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "転送に成功しました",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network_connections": {
      "get": {
        "summary": "ネットワーク接続を一覧表示する",
        "description": "すべてのネットワーク接続を返します。**注:** この API 呼び出しは、柔軟なルーティング スキームの対象です。ルーティング ポリシーによって、トランザクションのルーティング方法が定義されます。各アセット タイプに対して、以下の 3 つの異なるスキームのいずれかを選択できます。- **なし**; そのアセット タイプに対して、宛先のないプロファイル ルーティングを定義します。`なし` にルーティングされたアセット タイプへの着信トランザクションは失敗します。- **カスタム**; 選択したアカウントにルーティングします。アカウントを削除すると、別のアカウントを選択するまで着信トランザクションは失敗します。- **デフォルト**; 接続が接続されているネットワーク プロファイルで指定されたルーティングを使用します。このスキームは、「プロファイル ルーティング」とも呼ばれます。デフォルトのワークスペース プリセット: - ネットワーク プロファイル暗号 → **カスタム** - ネットワーク プロファイル FIAT → **なし** - ネットワーク接続暗号 → **デフォルト** - ネットワーク接続 FIAT → **デフォルト** - **注**: デフォルトでは、カスタム ルーティング スキームは (`dstId` = `0`、`dstType` = `VAULT`) を使用します。.",
        "tags": [
          "Network connections"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "network_connections = fireblocks.get_network_connections()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const networkConnections = await fireblocks.getNetworkConnections();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "ネットワーク接続のリスト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkConnectionResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "新しいネットワーク接続を作成します",
        "description": "新しいネットワーク接続を開始します。**注:** この API 呼び出しは、柔軟なルーティング スキームの対象です。ルーティング ポリシーによって、トランザクションのルーティング方法が定義されます。各アセット タイプに対して、以下に示す 3 つの異なるスキームのいずれかを選択できます。- **なし**; そのアセット タイプに対して、宛先のないプロファイル ルーティングを定義します。`なし` にルーティングされたアセット タイプへの受信トランザクションは失敗します。- **カスタム**; 選択したアカウントにルーティングします。アカウントを削除すると、別のアカウントを選択するまで受信トランザクションは失敗します。- **デフォルト**; 接続先のネットワーク プロファイルで指定されたルーティングを使用します。このスキームは、「プロファイル ルーティング」とも呼ばれます。デフォルトのワークスペース プリセット: - ネットワーク プロファイル 暗号 → **カスタム** - ネットワーク プロファイル FIAT → **なし** - ネットワーク接続 暗号 → **デフォルト** - ネットワーク接続 FIAT → **デフォルト** - **注**: デフォルトでは、カスタム ルーティング スキームは (`dstId` = `0`、`dstType` = `VAULT`) を使用します。.",
        "tags": [
          "Network connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkConnection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ネットワーク接続オブジェクト",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectionResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}/set_routing_policy": {
      "patch": {
        "summary": "ネットワーク接続ルーティングポリシーを更新する.",
        "description": "既存のネットワーク接続のルーティング ポリシーを更新します。**注:** この API 呼び出しは、柔軟なルーティング スキームの対象となります。ルーティング ポリシーによって、トランザクションのルーティング方法が定義されます。各アセット タイプに対して、以下の 3 つの異なるスキームから 1 つを選択できます。- **なし**; そのアセット タイプに対して、宛先のないプロファイル ルーティングを定義します。`なし` にルーティングされたアセット タイプへの受信トランザクションは失敗します。- **カスタム**; 選択したアカウントにルーティングします。アカウントを削除すると、別のアカウントを選択するまで受信トランザクションは失敗します。- **デフォルト**; 接続が接続されているネットワーク プロファイルで指定されたルーティングを使用します。このスキームは、「プロファイル ルーティング」とも呼ばれます。デフォルトのワークスペース プリセット: - ネットワーク プロファイル 暗号 → **カスタム** - ネットワーク プロファイル FIAT → **なし** - ネットワーク接続 暗号 → **デフォルト** - ネットワーク接続 FIAT → **デフォルト** - **注**: デフォルトでは、カスタム ルーティング スキームは (`dstId` = `0`、`dstType` = `VAULT`) を使用します。.",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "ネットワーク接続のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "routingPolicy": {
                    "$ref": "#/components/schemas/NetworkConnectionRoutingPolicy"
                  }
                },
                "required": [
                  "routingPolicy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ネットワークID",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}/is_third_party_routing/{assetType}": {
      "get": {
        "summary": "資産タイプ別にサードパーティのネットワークルーティング検証を取得する.",
        "description": "Fireblocksネットワークは、入金に関する柔軟性を提供します。受信者は、Fireblocks以外の場所へのネットワーク入金を受け取ることができます。このエンドポイントは、将来のトランザクションが表示された受信者にルーティングされるか、サードパーティにルーティングされるかを検証します。.",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "ネットワーク接続のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          },
          {
            "in": "path",
            "name": "assetType",
            "required": true,
            "description": "宛先資産タイプ",
            "schema": {
              "oneOf": [
                {
                  "const": "CRYPTO"
                },
                {
                  "const": "SIGNET"
                },
                {
                  "const": "SEN"
                },
                {
                  "const": "SIGNET_TEST"
                },
                {
                  "const": "SEN_TEST"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "検証結果",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "isThirdPartyRouting": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}": {
      "get": {
        "summary": "ネットワーク接続を取得する",
        "description": "ID でネットワーク接続を取得します。**注:** この API 呼び出しは、柔軟なルーティング スキームの対象です。ルーティング ポリシーによって、トランザクションのルーティング方法が定義されます。各アセット タイプに対して、以下に示す 3 つの異なるスキームのいずれかを選択できます。- **なし**; そのアセット タイプに対して、宛先のないプロファイル ルーティングを定義します。`なし` にルーティングされたアセット タイプへの受信トランザクションは失敗します。- **カスタム**; 選択したアカウントにルーティングします。アカウントを削除すると、別のアカウントを選択するまで受信トランザクションは失敗します。- **デフォルト**; 接続が接続されているネットワーク プロファイルで指定されたルーティングを使用します。このスキームは、「プロファイル ルーティング」とも呼ばれます。デフォルトのワークスペース プリセット: - ネットワーク プロファイル 暗号 → **カスタム** - ネットワーク プロファイル FIAT → **なし** - ネットワーク接続 暗号 → **デフォルト** - ネットワーク接続 FIAT → **デフォルト** - **注**: デフォルトでは、カスタム ルーティング スキームは (`dstId` = `0`、`dstType` = `VAULT`) を使用します。.",
        "tags": [
          "Network connections"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "network_connection = fireblocks.get_network_connection_by_id(connectionId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const network_connection = await fireblocks.getNetworkConnection(connectionId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "接続のID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ネットワーク接続",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectionResponse"
                }
              }
            }
          },
          "default": {
            "description": "エラー応答",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API リクエストに関連付けられた一意の ID。作成するサポート チケットまたは Fireblocks SDK に関連する Github の問題にこの ID を入力してください。",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "IDでネットワーク接続を削除します",
[...]
