{
  "openapi": "3.1.0",
  "info": {
    "title": "파이어블록 API",
    "version": "1.0.0",
    "contact": {
      "email": "support@fireblocks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.fireblocks.io/v1"
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "samples-languages": [
      "curl",
      "javascript",
      "python"
    ]
  },
  "paths": {
    "/vault/accounts": {
      "get": {
        "summary": "볼트 계정 목록",
        "description": "작업 공간의 모든 볼트 계정을 가져옵니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "볼트 계정 목록",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새로운 볼트 계정을 만드세요",
        "description": "요청된 이름으로 새 볼트 계정을 만듭니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI, customer_ref_id, auto_fueling)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI, customerRefId, autoFueling);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "계정 이름",
                    "type": "string"
                  },
                  "hiddenOnUI": {
                    "description": "선택 사항 - true인 경우 생성된 계정과 모든 관련 거래가 Fireblocks 콘솔에 표시되지 않습니다.",
                    "type": "boolean"
                  },
                  "customerRefId": {
                    "description": "선택 사항 - 고객 참조 ID를 설정합니다.",
                    "type": "string"
                  },
                  "autoFuel": {
                    "description": "선택 사항 - 볼트 계정의 autoFuel 속성을 설정합니다.",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "볼트 계정 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts_paged": {
      "get": {
        "summary": "볼트 계정 목록(페이지별)",
        "description": "작업 공간의 모든 볼트 계정을 가져옵니다. 이 엔드포인트는 빠른 응답 시간으로 제한된 양의 결과를 반환합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "namePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "nameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "minAmountThreshold",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "const": "ASC"
                },
                {
                  "const": "DESC"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 500,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VaultAccountsPagedResponse 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccountsPagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}": {
      "get": {
        "summary": "ID로 볼트 계정 찾기",
        "description": "요청된 볼트 계정을 반환합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_account = fireblocks.get_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID 유형: 문자열",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "볼트 계정 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAccount"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "볼트 계정 이름 바꾸기",
        "description": "요청된 볼트 계정의 이름을 변경합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAccount = fireblocks.update_vault_account(vault_account_id, name)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId, name);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "편집할 볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "계정 이름",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/asset_wallets": {
      "get": {
        "summary": "자산 지갑 목록(페이지별)",
        "description": "작업 공간의 모든 볼트 계정에서 모든 자산 지갑을 가져옵니다. 자산 지갑은 볼트 계정의 자산입니다. 이 방법을 사용하면 모든 계정 잔액을 빠르게 탐색할 수 있습니다. **참고:** - 이 API 엔드포인트는 제한적으로 제공되며 일부 고객에게만 제공됩니다. 이 엔드포인트에 대한 조기 액세스를 원하시면 [Fireblocks 지원](https://support.fireblocks.io/hc/en-us/requests/new?ticket_form_id=36000337220)에 문의하세요. - 이 API 호출에는 [요금 제한](https://developers.fireblocks.com/reference/rate-limiting)이 적용됩니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vault_accounts = fireblocks.get_asset_wallets(filters)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAccounts = await fireblocks.getAssetWallets(filters);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "totalAmountLargerThan",
            "description": "지정된 경우 이 금액보다 총 잔액이 큰 자산 지갑만 반환됩니다..",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "assetId",
            "required": false,
            "description": "지정된 경우 이 자산 ID가 있는 볼트 계정 간 자산 지갑만 반환됩니다..",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "before",
            "required": false,
            "description": "이 요소 이전의 다음 페이지 매김 응답을 가져옵니다. 이 요소는 커서이며 이전 페이지의 응답에서 반환됩니다..",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after",
            "required": false,
            "description": "이 요소 다음에 있는 다음 페이지 매김 응답을 가져옵니다. 이 요소는 커서이며 이전 페이지의 응답에서 반환됩니다..",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "단일 응답에서 자산 지갑의 최대 수입니다. 기본값은 200이고 최대값은 1000입니다..",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PaginatedAssetWalletResponse 객체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAssetWalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/hide": {
      "post": {
        "summary": "콘솔에서 볼트 계정 숨기기",
        "description": "웹 콘솔 보기에서 요청된 볼트 계정을 숨깁니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.hide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "숨길 볼트 계정",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/unhide": {
      "post": {
        "summary": "콘솔에서 볼트 계정 숨기기 해제",
        "description": "웹 콘솔 보기에서 숨겨진 볼트 계정을 표시합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.unhide_vault_account(vault_account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "숨겨진 볼트 계정을 해제합니다",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/activate": {
      "post": {
        "summary": "볼트 계정에서 지갑 활성화",
        "description": "볼트 계정의 지갑 활성화를 시작합니다..",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID 또는 기본 볼트 계정의 경우 &#39;기본값&#39;",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_customer_ref_id": {
      "post": {
        "summary": "볼트 계정에 대한 AML/KYT 고객 참조 ID 설정",
        "description": "볼트 계정에 대한 AML/KYT 고객 참조 ID를 할당합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정 ID",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "고객 참조 ID",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/set_auto_fuel": {
      "post": {
        "summary": "자동 연료 공급 켜기 또는 끄기",
        "description": "볼트 계정의 자동 연료 공급 속성을 활성화 또는 비활성화로 설정합니다..",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정 ID",
            "schema": {
              "type": "string",
              "minimum": 1,
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "autoFuel": {
                    "description": "자동차 연료",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}": {
      "get": {
        "summary": "금고 계정의 자산 잔액을 얻으세요",
        "description": "볼트 계정의 특정 자산에 대한 지갑을 반환합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_vault_account_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VaultAsset 객체",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새로운 지갑을 만드세요",
        "description": "볼트 계정의 특정 자산에 대한 지갑을 생성합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID 또는 기본 볼트 계정의 경우 &#39;기본값&#39;",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "eosAccountName": {
                    "description": "선택 사항 - EOS 지갑을 생성할 때 계정 이름입니다. 제공하지 않으면 임의의 이름이 생성됩니다.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVaultAssetResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/balance": {
      "post": {
        "summary": "자산 잔액 데이터 새로 고침",
        "description": "볼트 계정의 특정 자산 잔액을 업데이트합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "*/*": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "VaultAsset 객체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses": {
      "get": {
        "summary": "자산 주소 가져오기",
        "description": "금고 계정의 특정 자산에 대한 모든 주소를 나열합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "depositAddresses = fireblocks.get_deposit_addresses(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "입금주소 목록",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultWalletAddress"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "신규 자산 입금 주소 생성",
        "description": "금고 계정의 자산에 대한 새로운 입금 주소를 생성합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.generate_new_address(vault_account_id, asset_id, description, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.generateNewAddress(vaultAccountId, assetId, description, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "(선택 사항) 새 주소에 설명을 첨부하세요",
                    "type": "string"
                  },
                  "customerRefId": {
                    "description": "선택 사항 - 고객 참조 ID를 설정합니다.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "반환할 볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "생성된 주소",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount": {
      "get": {
        "summary": "단일 거래에서 최대 지출 가능 금액을 얻으세요.",
        "description": "지정된 볼트 계정에서 단일 거래에서 사용할 수 있는 특정 자산의 최대 금액을 가져옵니다(UTXO 자산만, 임베디드 입력 수에 제한이 있음). 최대 사용 가능 금액 이상을 사용하려는 경우 여러 거래를 보냅니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정의 ID 또는 기본 볼트 계정의 경우 &#39;기본값&#39;",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "query",
            "name": "manualSignging",
            "required": false,
            "description": "기본적으로 False입니다. 최대 입력 수는 거래가 자동화된 공동 서명자 서버 또는 모바일 기기에서 서명되는지 여부에 따라 달라집니다..",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}": {
      "put": {
        "summary": "주소 설명 업데이트",
        "description": "볼트 계정의 자산에 대한 기존 주소 설명을 업데이트합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "주소 설명",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "설명을 추가할 주소입니다. XRP의 경우 다음을 사용합니다.<address> :<tag> , 다른 모든 자산의 경우 주소만 사용하세요.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id": {
      "post": {
        "summary": "AML 고객 참조 ID 지정",
        "description": "특정 주소에 대한 AML/KYT 고객 참조 ID를 설정합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id, asset_id, address_id, customer_ref_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId, addressId, customerRefId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "설명을 추가할 주소입니다. XRP의 경우 다음을 사용합니다.<address> :<tag> , 다른 모든 자산의 경우 주소만 사용하세요.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customerRefId": {
                    "description": "고객 참조 ID",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "좋아요",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy": {
      "post": {
        "summary": "Segwit 주소를 레거시 형식으로 변환",
        "description": "기존 segwit 주소를 레거시 형식으로 변환합니다..",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "description": "번역할 segwit 주소",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "생성된 주소",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAddressResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs": {
      "get": {
        "summary": "UTXO 미사용 입력 정보 가져오기",
        "description": "볼트 계정의 자산에 대한 사용되지 않은 입력 정보를 반환합니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "description": "볼트 계정의 ID",
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "자산의 ID",
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "입력당 사용되지 않은 정보 목록",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnspentInputsResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/public_key_info/": {
      "get": {
        "summary": "공개 키 정보를 얻으세요",
        "description": "파생 경로 및 서명 알고리즘을 기반으로 공개 키 정보를 가져옵니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info(algorithm, derivation_path, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { algorithm: 'MPC_ECDSA_SECP256K1', derivationPath: '[44,0,0,0,0]' } const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "derivationPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "algorithm",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공개 키 정보",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info": {
      "get": {
        "summary": "볼트 계정의 공개 키 가져오기",
        "description": "볼트 계정에 대한 공개 키 정보를 가져옵니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "pubKey = fireblocks.get_public_key_info_for_vault_account(asset_id, vault_account_id, change, address_index, compressed)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const PublicKeyInfoArgs = { assetId: 'ETH', vaultAccountId: 0, change: 0, addressIndex: 0, compressed: true } const pubKey = await fireblocks.getPublicKeyInfoForVaultAccount(PublicKeyInfoArgs);\n",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "vaultAccountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "numeric",
              "x-fb-entity": "vault_account"
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          },
          {
            "in": "path",
            "name": "change",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "path",
            "name": "addressIndex",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "compressed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "공개 키 정보",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PublicKeyInformation"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets": {
      "get": {
        "summary": "선택한 자산에 대한 자산 잔액을 얻으세요",
        "description": "모든 계정 또는 필터링된 계정에 대한 자산 금액 요약을 가져옵니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix, account_name_suffix)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix, accountNameSuffix);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "accountNamePrefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountNameSuffix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "자산별 금액",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VaultAsset"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vault/assets/{assetId}": {
      "get": {
        "summary": "자산별 금고 잔액 가져오기",
        "description": "자산에 대한 볼트 잔액 요약을 가져옵니다..",
        "tags": [
          "Vaults"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "schema": {
              "type": "string",
              "x-fb-entity": "asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "자산별 금고 금액",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VaultAsset"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts": {
      "get": {
        "summary": "거래소 계정 목록",
        "description": "모든 거래소 계정을 반환합니다.",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccounts = fireblocks.get_exchange_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAccounts = await fireblocks.getExchangeAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "ExchangeAccount 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}": {
      "get": {
        "summary": "특정 거래소 계정 찾기",
        "description": "ID로 거래소 계정을 반환합니다..",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "반환할 거래소 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExchangeAccount 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAccount"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/internal_transfer": {
      "post": {
        "summary": "거래소 계좌 내부 이체",
        "description": "동일한 거래소 계정 내의 거래 계정 간에 자금을 이체합니다..",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "반환할 거래소 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "전송이 성공했습니다",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "asset": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "sourceType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  },
                  "destType": {
                    "$ref": "#/components/schemas/TradingAccountType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/convert": {
      "post": {
        "summary": "소스 자산에서 목적지 자산으로 거래소 계정 자금을 변환합니다. Coinbase(USD에서 USDC, USDC에서 USD) 및 Bitso(MXN에서 USD)가 지원되는 변환입니다..",
        "tags": [
          "Exchange accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "거래소 계정의 ID입니다. 거래소가 변환을 지원하는지 확인하세요. 거래소 계정의 ID를 찾으려면 GET/exchange_accounts를 사용하세요..",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "변환 성공",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "srcAsset": {
                    "type": "string",
                    "description": "소스 자산의 이름(선택한 거래소 유형에서 변환이 지원되는 통화여야 하며 거래소 ID에 해당해야 함)"
                  },
                  "destAsset": {
                    "type": "string",
                    "description": "대상 자산의 이름(선택한 거래소 유형에서 변환이 지원되는 통화여야 하며 거래소 ID에 해당해야 함)"
                  },
                  "amount": {
                    "type": "number",
                    "description": "이체할 금액(소스 자산의 통화로)"
                  }
                },
                "required": [
                  "srcAsset",
                  "destAsset",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/exchange_accounts/{exchangeAccountId}/{assetId}": {
      "get": {
        "summary": "교환 계좌에 대한 자산 찾기",
        "description": "교환 계정에 대한 자산을 반환합니다..",
        "tags": [
          "Exchange accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId, assetId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "exchangeAccountId",
            "required": true,
            "description": "반환할 거래소 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          },
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "description": "반환할 자산의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExchangeAccountAsset 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeAsset"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts": {
      "get": {
        "summary": "법정화폐 계좌 목록",
        "description": "모든 법정 통화 계정을 반환합니다..",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_accounts()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccounts();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "법정 통화 계정 객체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatAccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}": {
      "get": {
        "summary": "특정 법정 통화 계좌 찾기",
        "description": "ID로 법정화폐 계정을 반환합니다..",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.get_fiat_account_by_id(account_id)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.getFiatAccountById(accountId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "반환할 Fiat 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "법정 통화 계정 객체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FiatAccount"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/redeem_to_linked_dda": {
      "post": {
        "summary": "DDA에 자금을 환수합니다",
        "description": "연결된 DDA에 자금을 환수합니다..",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.redeem_to_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.redeemToLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "사용할 Fiat 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "전송이 성공했습니다",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fiat_accounts/{accountId}/deposit_from_linked_dda": {
      "post": {
        "summary": "DDA에서 자금 입금",
        "description": "연계된 DDA에서 자금을 입금합니다..",
        "tags": [
          "Fiat accounts"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "transactions = fireblocks.deposit_from_linked_dda(account_id, amount)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const transactions = await fireblocks.depositFromLinkedDDA(accountId, amount);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "description": "사용할 Fiat 계정의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "201": {
            "description": "전송이 성공했습니다",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network_connections": {
      "get": {
        "summary": "네트워크 연결 목록",
        "description": "모든 네트워크 연결을 반환합니다. **참고:** 이 API 호출은 유연한 라우팅 체계의 적용을 받습니다. 라우팅 정책은 트랜잭션이 라우팅되는 방식을 정의합니다. 각 자산 유형에 대해 아래에 언급된 3가지 체계 중 하나를 선택할 수 있습니다. - **없음**: 해당 자산 유형에 대한 대상 없음으로의 프로필 라우팅을 정의합니다. `없음`으로 라우팅된 자산 유형으로 들어오는 트랜잭션은 실패합니다. - **사용자 지정**: 선택한 계정으로 라우팅합니다. 계정을 제거하면 다른 계정을 선택할 때까지 들어오는 트랜잭션은 실패합니다. - **기본값**: 연결이 연결된 네트워크 프로필에서 지정한 라우팅을 사용합니다. 이 체계는 &quot;프로필 라우팅&quot;이라고도 합니다. 기본 작업 공간 사전 설정: - 네트워크 프로필 암호화 → **사용자 지정** - 네트워크 프로필 FIAT → **없음** - 네트워크 연결 암호화 → **기본값** - 네트워크 연결 FIAT → **기본값** - **참고**: 기본적으로 사용자 지정 라우팅 체계는 (`dstId` = `0`, `dstType` = `VAULT`)를 사용합니다..",
        "tags": [
          "Network connections"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "network_connections = fireblocks.get_network_connections()",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const networkConnections = await fireblocks.getNetworkConnections();",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "네트워크 연결 목록",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkConnectionResponse"
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새로운 네트워크 연결을 만듭니다",
        "description": "새 네트워크 연결을 시작합니다. **참고:** 이 API 호출은 유연한 라우팅 체계의 적용을 받습니다. 라우팅 정책은 거래가 라우팅되는 방식을 정의합니다. 각 자산 유형에 대해 아래에 언급된 3가지 체계 중 하나를 선택할 수 있습니다. - **없음**: 해당 자산 유형에 대한 대상 없음으로의 프로필 라우팅을 정의합니다. `없음`으로 라우팅된 자산 유형으로 들어오는 거래는 실패합니다. - **사용자 지정**: 선택한 계정으로 라우팅합니다. 계정을 제거하면 다른 계정을 선택할 때까지 들어오는 거래는 실패합니다. - **기본값**: 연결이 연결된 네트워크 프로필에서 지정한 라우팅을 사용합니다. 이 체계는 &quot;프로필 라우팅&quot;이라고도 합니다. 기본 작업 공간 사전 설정: - 네트워크 프로필 암호화 → **사용자 지정** - 네트워크 프로필 FIAT → **없음** - 네트워크 연결 암호화 → **기본값** - 네트워크 연결 FIAT → **기본값** - **참고**: 기본적으로 사용자 지정 라우팅 체계는 (`dstId` = `0`, `dstType` = `VAULT`)를 사용합니다..",
        "tags": [
          "Network connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkConnection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "네트워크 연결 개체",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectionResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}/set_routing_policy": {
      "patch": {
        "summary": "네트워크 연결 라우팅 정책 업데이트.",
        "description": "기존 네트워크 연결의 라우팅 정책을 업데이트합니다. **참고:** 이 API 호출은 유연한 라우팅 체계의 적용을 받습니다. 라우팅 정책은 트랜잭션이 라우팅되는 방식을 정의합니다. 각 자산 유형에 대해 아래에 언급된 3가지 체계 중 하나를 선택할 수 있습니다. - **없음**: 해당 자산 유형에 대한 대상 없음으로의 프로필 라우팅을 정의합니다. `없음`으로 라우팅된 자산 유형으로 들어오는 트랜잭션은 실패합니다. - **사용자 지정**: 선택한 계정으로 라우팅합니다. 계정을 제거하면 다른 계정을 선택할 때까지 들어오는 트랜잭션은 실패합니다. - **기본값**: 연결이 연결된 네트워크 프로필에서 지정한 라우팅을 사용합니다. 이 체계는 &quot;프로필 라우팅&quot;이라고도 합니다. 기본 작업 공간 사전 설정: - 네트워크 프로필 암호화 → **사용자 지정** - 네트워크 프로필 FIAT → **없음** - 네트워크 연결 암호화 → **기본값** - 네트워크 연결 FIAT → **기본값** - **참고**: 기본적으로 사용자 지정 라우팅 체계는 (`dstId` = `0`, `dstType` = `VAULT`)를 사용합니다..",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "네트워크 연결의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "routingPolicy": {
                    "$ref": "#/components/schemas/NetworkConnectionRoutingPolicy"
                  }
                },
                "required": [
                  "routingPolicy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "네트워크 ID",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}/is_third_party_routing/{assetType}": {
      "get": {
        "summary": "자산 유형별로 타사 네트워크 라우팅 검증 검색.",
        "description": "Fireblocks Network는 유입 입금에 대한 유연성을 제공합니다. 수신자는 Fireblocks 외의 다른 위치로 네트워크 입금을 수신할 수 있습니다. 이 엔드포인트는 향후 거래가 표시된 수신자에게 라우팅되는지 아니면 제3자에게 라우팅되는지 검증합니다..",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "네트워크 연결의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          },
          {
            "in": "path",
            "name": "assetType",
            "required": true,
            "description": "목적지 자산 유형",
            "schema": {
              "oneOf": [
                {
                  "const": "CRYPTO"
                },
                {
                  "const": "SIGNET"
                },
                {
                  "const": "SEN"
                },
                {
                  "const": "SIGNET_TEST"
                },
                {
                  "const": "SEN_TEST"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검증 결과",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "isThirdPartyRouting": {
                      "type": "boolean"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/network_connections/{connectionId}": {
      "get": {
        "summary": "네트워크 연결을 얻으세요",
        "description": "ID로 네트워크 연결을 가져옵니다. **참고:** 이 API 호출은 유연한 라우팅 체계의 적용을 받습니다. 라우팅 정책은 트랜잭션이 라우팅되는 방식을 정의합니다. 각 자산 유형에 대해 아래에 언급된 3가지 체계 중 하나를 선택할 수 있습니다. - **없음**: 해당 자산 유형에 대한 대상 없음으로의 프로필 라우팅을 정의합니다. `없음`으로 라우팅된 자산 유형으로 들어오는 트랜잭션은 실패합니다. - **사용자 지정**: 선택한 계정으로 라우팅합니다. 계정을 제거하면 다른 계정을 선택할 때까지 들어오는 트랜잭션은 실패합니다. - **기본값**: 연결이 연결된 네트워크 프로필에서 지정한 라우팅을 사용합니다. 이 체계는 &quot;프로필 라우팅&quot;이라고도 합니다. 기본 작업 공간 사전 설정: - 네트워크 프로필 암호화 → **사용자 지정** - 네트워크 프로필 FIAT → **없음** - 네트워크 연결 암호화 → **기본값** - 네트워크 연결 FIAT → **기본값** - **참고**: 기본적으로 사용자 지정 라우팅 체계는 (`dstId` = `0`, `dstType` = `VAULT`)를 사용합니다..",
        "tags": [
          "Network connections"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "network_connection = fireblocks.get_network_connection_by_id(connectionId)",
              "name": "Fireblocks SDK Python example"
            },
            {
              "language": "javascript",
              "code": "const network_connection = await fireblocks.getNetworkConnection(connectionId);",
              "name": "Fireblocks SDK Javascript example"
            }
          ]
        },
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "연결의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "네트워크 연결",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkConnectionResponse"
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ID로 네트워크 연결을 삭제합니다.",
        "description": "연결 ID로 지정된 기존 네트워크 연결을 삭제합니다. **참고:** 이 API 호출은 유연한 라우팅 체계의 적용을 받습니다. 라우팅 정책은 트랜잭션이 라우팅되는 방식을 정의합니다. 각 자산 유형에 대해 아래에 언급된 3가지 체계 중 하나를 선택할 수 있습니다. - **없음**: 해당 자산 유형에 대한 대상 없음으로의 프로필 라우팅을 정의합니다. `없음`으로 라우팅된 자산 유형으로 들어오는 트랜잭션은 실패합니다. - **사용자 지정**: 선택한 계정으로 라우팅합니다. 계정을 제거하면 다른 계정을 선택할 때까지 들어오는 트랜잭션은 실패합니다. - **기본값**: 연결이 연결된 네트워크 프로필에서 지정한 라우팅을 사용합니다. 이 체계는 &quot;프로필 라우팅&quot;이라고도 합니다. 기본 작업 공간 사전 설정: - 네트워크 프로필 암호화 → **사용자 지정** - 네트워크 프로필 FIAT → **없음** - 네트워크 연결 암호화 → **기본값** - 네트워크 연결 FIAT → **기본값** - **참고**: 기본적으로 사용자 지정 라우팅 체계는 (`dstId` = `0`, `dstType` = `VAULT`)를 사용합니다..",
        "tags": [
          "Network connections"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "connectionId",
            "required": true,
            "description": "삭제할 네트워크 연결의 ID",
            "schema": {
              "type": "string",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "네트워크 ID",
            "headers": {
              "X-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "API 요청과 관련된 고유 ID입니다. Fireblocks SDK와 관련된 Github 문제나 생성한 지원 티켓에 제공하세요.",
                "in": "header"
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "오류 응답",
            "headers": {
              "X-Request-ID": {
[...]
